﻿@{
    ViewBag.Title = "Удалить пользователя";
}

<div class="container">	
    <div id="text_area">
	    <div class="block text-justify">           
            <h3>Удалить пользователя</h3> <hr>
            <h4>Логин: @ViewBag.User.UserName</h4>
            <p>ФИО: @ViewBag.User.fullname </p>
            <p>Дата рождения: @ViewBag.User.Birthdate.ToString("dd.MM.yyyy") </p>
            @* <p>Код интернет клиента: @ViewBag.User.ClientID </p> *@
            <p>Email: @ViewBag.User.Email </p>
            <p>Телефон: +@ViewBag.User.Phone </p>
            <br>
            @using (Html.BeginForm("DeleteUser", "Admin", null, FormMethod.Post, new { @class = "form-horizontal", @id = "DeleteUserForm" }))   
                {                            
                    @Html.AntiForgeryToken()
					@Html.ValidationSummary(true)                
                    <div class="form-group">
                        @Html.Label("Вы действительно хотите удалить этого пользователя?", new { @class = "control-label col-xs-5" })
                        <input type="hidden" name="username" value="@ViewBag.User.UserName"> 
                        <input type="hidden" name="user_id" value="@ViewBag.User.UserId"> 
						<div class="col-xs-2">
							<button type="submit" class="form-control btn btn-default">Удалить</button>
						</div>
					</div>
                } 
            <br>
            <a class="btn btn-default" role="button" href="/Admin"> Отмена </a>               
	    </div>        
    </div>
</div>

<div style="padding-top:40px;"></div>
