﻿@model List<WebSite.Controllers.AdminControllerUserModel>
@{
    ViewBag.Title = "Admin";
}

<div class="container">	
    <div id="text_area">
        <div class="block text-justify">
            <h3>Управление пользователями @ViewBag.Message</h3>
            <p><b>Подсказка:</b> <br>
                <b>Active</b> - Активирована ли учетная запись пользователя. 1 = активирована, 0 = нет. Пользователь с неактивированной учетной записью лишен всех прав. <br>
                <b>Parent</b> - Является ли пользователь родителем. 1 = Родитель, 2 = Педагог. <br>
                <b>Schools</b> - Для педагогов, список школ, для которых есть доступ. Перечислены коды школ через пробел или запятую. <br>
                <b>Units</b> - Для педагогов, список классов, для которых есть доступ. Перечислены коды классов через пробел или запятую. <br>
                <b>ClientID</b> - Для родителей, код интернет клиента.
            </p>
            <p><b>Роли:</b> <br>
                <b>user</b> - обязательная роль для всех созданных пользователей; <br>
                <b>admins</b> - главный администратор, включает в себя все права других ролей; <br>
                <b>managers</b> - менеджер, может редактировать описания на страницах, новости, а также включает в себя права Оператора; <br>
                <b>operator</b> - включает в себя права учителей для всех школ; <br>
                <b>teacher</b> - учитель, имеет доступ к указанному выше списку школ и классов, может просматривать и редактировать статистику, журнал, альбом и домашние задания; <br>
                <b>client</b> - родитель, имеет доступ в режиме просмотра ко всем данным своих детей, получает его через код интернет клиента; <br>
                <b>pupils</b> - ученик (пока не используется); <br>
                <b>principal</b> - директор школы (пока не используется); <br>
                <b>homeroom</b> - классный руководитель (пока не используется); <br>
                <b>journal</b> - педагог с доступом только к журналу (пока не используется); <br>
                <b>hometasks</b> - педагог с доступом только к домашним заданиям (пока не используется); <br>
                <b>statistics</b> - педагог с доступом только к статистике (пока не используется); <br>
            </p>
            <h5> Для сортировки таблицы нажмите на заголовок столбца. Для сортировки в обратном порядке нажмите на заголовок повторно. Для сортировки по нескольким критериям нажмите на несколько заголовков, зажав клавишу Shift. </h5>

            <table id="ReportTable" class="table table-hover table-bordered tablesorter tableExport">
                <thead>
                    <tr>
                        <th>Логин</th>
                        <th>ФИО</th>
                        <th>Active</th>
                        <th>Parent</th>
                        <th>Schools</th>
                        <th>Units</th>
                        <th>ClientID</th>
                        <th>Роли</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var i = 0; }
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td> @user.UserName </td>
                            <td> @user.Fullname </td>
                            <td class="editable" id="Active_@i" data-type="text" data-name="Active" data-pk="@user.UserId" data-url="/Admin/EditUser" data-onblur="submit" data-clear="false" data-showbuttons="false" data-toggle="click" data-emptytext="..."> @user.Active </td>
                            <td class="editable" id="Parent_@i" data-type="text" data-name="Parent" data-pk="@user.UserId" data-url="/Admin/EditUser" data-onblur="submit" data-clear="false" data-showbuttons="false" data-toggle="click" data-emptytext="..."> @user.Parent </td>
                            <td class="editable" id="Schools_@i" data-type="text" data-name="Schools" data-pk="@user.UserId" data-url="/Admin/EditUser" data-onblur="submit" data-clear="false" data-showbuttons="false" data-toggle="click" data-emptytext="..."> @user.Schools </td>
                            <td class="editable" id="Units_@i" data-type="text" data-name="Units" data-pk="@user.UserId" data-url="/Admin/EditUser" data-onblur="submit" data-clear="false" data-showbuttons="false" data-toggle="click" data-emptytext="..."> @user.Units </td>
                            <td class="editable" id="ClientId_@i" data-type="text" data-name="ClientId" data-pk="@user.UserId" data-url="/Admin/EditUser" data-onblur="submit" data-clear="false" data-showbuttons="false" data-toggle="click" data-emptytext="..."> @user.ClientId </td>
                            <td> <a href="#" id="@user.UserName"></a>
                                <script>
                                    $(function () {
                                        $('#@user.UserName').editable({
                                            type: 'checklist',
                                            url: '/Admin/SaveRole',
                                            pk: 1,
                                            value: '@user.Roles',
                                            ajaxOptions: {
                                                traditional: true
                                            },
                                            title: 'Выберите роль',
                                            source: '/Admin/GetRoles',
                                            success: function (response, newValue) {
                                                if (!response.success) return response.msg;
                                                return null;
                                            },
                                            error: function (response, newValue) {
                                                if (response.status === 500) {
                                                    return 'Сервис не доступен. Попробуйте позже.';
                                                } else {
                                                    return response.responseText;
                                                }
                                            }
                                        });
                                    });
                                </script> </td>                            
                            <td style="text-align:center"> <a class="btn btn-sm btn-danger" role="button" href="/Admin/DeleteUser?username=@user.UserName"> X </a> </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section head
{
    @Scripts.Render("~/Content/js/Blob.min.js")
    @Scripts.Render("~/Content/js/FileSaver.min.js") 
    @Scripts.Render("~/Content/js/xlsx.core.min.js")
    @Scripts.Render("~/Content/js/tableexport.min.js") 
}

@section scripts
{    
    <script type="text/javascript">
        $(document).ready(function () {

            //$.fn.tableExport.charset = "charset=windows-1251";
            $.fn.tableExport.rowDel = "\r\n";

            $(".tableExport").tableExport({
                headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
                footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
                formats: ["xlsx", "xls", "csv", "txt"],     // (String[]), filetype(s) for the export
                fileName: "id",                     // (id, String), filename for the downloaded file
                bootstrap: true,                    // (Boolean), style buttons using bootstrap
                position: "bottom",                 // (top, bottom), position of the caption element relative to table
                ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
                ignoreCols: null,                   // (Number, Number[]), column indices to exclude from the exported file
                ignoreCSS: ".noExport",             // (selector, selector[]), selector(s) to exclude cells from the exported file
                emptyCSS: ".emptyExport"            // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
            });

        });
    </script>
}
