﻿@{
    ViewBag.Title = "Пароль успешно изменен";
}

<div class="container">	
    <div id="text_area">
	    <div class="block text-center">
		    <h3>@ViewBag.Title</h3>
                 
		    @Html.ActionLink("Вернуться к списку пользователей", "Index", "Admin")
	    </div>
    </div>
</div>
