﻿@model WebSite.Models.ResetPasswordModel
@{
    ViewBag.Title = "Смена пароля пользователя";
}

<div class="container">	
    <div id="text_area">
        <div class="block text-justify">
            <h3>@ViewBag.Title</h3>
            <hr>
            
            <p class="message-error"> @ViewBag.error </p>
            <p>Пароль будет изменен для пользователя <strong>@User.Identity.Name</strong></p>
        </div>

        
        <div class="account-container">
            <div class="content clearfix">
            
                @using (Html.BeginForm("Admin", "ResetPassword", null, FormMethod.Post, new { @class = "form-horizontal", @id = "ChangePassForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
      
                    <h1 class="text-center">Смена пароля</h1>
                    <hr />            
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "control-label col-xs-5" })
                        <div class="col-xs-7">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label col-xs-5" })
                        <div class="col-xs-7">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-xs-5" })
                        <div class="col-xs-7">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control"})
                        </div>
                    </div>
                    
                    <input type="submit" class="btn btn-primary" value="Сменить пароль" />
                }
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
