﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title — IDSmart</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	@Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/bootstrap-datetimepicker.css")
    @Styles.Render("~/Content/css/bootstrap-editable.css")
    @Styles.Render("~/Content/css/bootstrap-wysihtml5-0.0.2.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/css/tree.css")                      
    @Scripts.Render("~/Content/js/jquery-2.1.1.min.js")                          
    @Scripts.Render("~/Content/js/jquery.validate.js")
    @Scripts.Render("~/Content/js/jquery.form.js")
    @Scripts.Render("~/Content/js/bootstrap.min.js")
    @Scripts.Render("~/Content/js/bootstrap-editable.min.js")
    @Scripts.Render("~/Content/js/wysihtml5-0.3.0.min.js")
    @Scripts.Render("~/Content/js/bootstrap-wysihtml5-0.0.2.min.js")
    @Scripts.Render("~/Content/js/wysihtml5.js")
    @Scripts.Render("~/Content/js/jquery.tablesorter.min.js")  
    @Scripts.Render("~/Content/js/jQuery.print.js")  
    @RenderSection("head", false)
</head>
<body>

    <div class="container">
		<div id="header">
			<div class="row">
				<div class="col-xs-8">
					<strong><a href="/">IDSmart</a></strong>
					<i>Инновационные технологии в образовании</i>
				</div>
				<div id="login" class="col-xs-4; text-right">
					@Html.Partial("_LoginPartial")
				</div>	
			</div>	
			<h4>
				@Html.ActionLink("О системе", "Index", "Home")
				@Html.ActionLink("Новости", "News", "Home")
				@Html.ActionLink("Родителям", "Parent", "Home")
				@Html.ActionLink("Школам", "Schools", "Home")
				@Html.ActionLink("Услуги", "Services", "Home")
				@Html.ActionLink("Оплата", "Pays", "Home")
				@Html.ActionLink("Контакты", "Contact", "Home")
				@Html.ActionLink("Демонстрация", "Demo", "Account")
                
                @if (this.User.IsInRole("managers"))
                {   @Html.ActionLink("Личный кабинет", "Index", "Manager")    }
                else if (this.User.IsInRole("operator"))
                {    @Html.ActionLink("Личный кабинет", "Index", "Operator")    }
                else if (this.User.IsInRole("teacher"))
                {    @Html.ActionLink("Личный кабинет", "Index", "Operator")    }
                else if (this.User.IsInRole("clients"))
                {    @Html.ActionLink("Личный кабинет", "Index", "Client")    }
                
			</h4>
		</div>
	</div>

    @RenderSection("banner", false)

	@RenderBody()

    <div class="clearfix"></div>
	<div style="padding-top:40px;"></div>

	<div id="floater">
		<div class="container">
			<div class="row" style="font-size: 16px; padding-top: 5px">
				<div class="col-xs-4">
                    <p>Copyright © 2012, ООО «Айдисмарт»</p>
                </div>
                <div class="col-xs-4">
                    <span style="float: left; padding-left: 50px; font-size: 20px;" class="glyphicon glyphicon-earphone"></span>
                    <div style="float: left; padding-right: 5px; padding-left: 5px;">
                        <small>(033)</small>
                    </div>
                    <span style="font-size: 20px; font-weight: bold">624-18-26</span>
                </div>
                <div class="col-xs-4">
                    <span style="float: left; padding-right: 5px; font-size: 16px;" class="glyphicon glyphicon-envelope"></span>
                    <a href="#myModalMsg" data-toggle="modal" style="color: white; font-size: 16px;">Написать сообщение</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalMsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4>Написать сообщение</h4>
				</div>
				<div class="modal-body">
					@using (Html.BeginForm("SendMessage", "Home", new { @class = "form-horizontal" }))
     {
						@Html.AntiForgeryToken()
						@Html.ValidationSummary(true)
						<div class="form-group">
							@Html.Label("Ваше имя:", new { @class = "control-label" })
							@Html.TextBox("name", "", new { @class = "form-control" })
						</div>
						<div class="form-group">
							@Html.Label("Email:", new { @class = "control-label" })
							@Html.TextBox("email", "", new { @class = "form-control" })
						</div>
						<div class="form-group">
							@Html.Label("Телефон:", new { @class = "control-label" })
							@Html.TextBox("phone", "", new { @class = "form-control" })
						</div>
						<div class="form-group">
							@Html.Label("Сообщение:", new { @class = "control-label" })
							@Html.TextArea("msg", new { @class = "form-control" })
						</div>
						<div class="form-group">
							<div class="controls">
								<button type="submit" class="btn btn-primary">Отправить</button>
							</div>
						</div>
     }
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Закрыть</button>
				</div>
			</div>
		</div>
	</div>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $("#ReportTable").tablesorter();

            //$.fn.editable.defaults.ajaxOptions = { type: 'get' };
            $.fn.editable.defaults.mode = 'inline';
            $.fn.editable.defaults.toggle = 'manual';
            //$.fn.editable.defaults.inputclass = 'edit-box';
            //$.fn.editable.defauls.url = '/Manager/Edit';
            //$.fn.editable.defauls.escape = 'false';
            $.fn.editable.defaults.error = function (response, newValue) {
                //return response.responseText;
                if (response.status === 415) {
                    return "Ошибка: неверный символ";
                }
                else {
                    return 'Error ' + response.status;
                }
            };
            $('.editable').editable();
        });

        $('.edit').click(function (e) {
            e.stopPropagation();
            var id = $(this).attr('data-toggle');
            $( id ).editable('toggle');
        });
        /*
        $('#printBtn').click(function () {
            $('#toPrint').print();
            return false;
        });
        */
        $('#printBtn').click(function PrintElem(elem) {
            Popup($('#toPrint').html());
        });

        function Popup(data) {
            var mywindow = window.open('', 'my div', 'height=600,width=800');

            mywindow.document.head.innerHTML = '<title>Статистика IDSmart</title>';
            mywindow.document.body.innerHTML = '<body>' + data + '</body>';

            mywindow.document.close();
            mywindow.focus(); // necessary for IE >= 10
            mywindow.print();
            mywindow.close();

            return true;
        }
    </script>
</body>
</html>
