﻿@if (Request.IsAuthenticated)
{
    <text><span style="color: white">
    Здравствуйте, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Управление", style = "color:white;" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "display:inline;" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" style="color: white;">Выйти</a>
        }
    </span></text>
}
else
{
    <text><span style="color: white">
        <span class="glyphicon glyphicon-user"></span>
        <span>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style = "padding: 0px 10px; color: white" })</span>
        <span>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", style = "color: white;" })</span>
    </span></text>
}
