﻿@{
    ViewBag.Title = "Личный кабинет";
}

@section head
{
    @Styles.Render("~/Content/css/bootstrap-editable.css")
    @Scripts.Render("~/Content/js/bootstrap-editable.min.js")
}

<div class="container">
        <h3>@ViewBag.User</h3>
        <hr>

    <a class="btn btn-lg btn-success" role="button" href="/Principal/Schedule"> Редактор расписания </a>
</div>


@section scripts
{

}
