﻿    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300">
    <link rel="stylesheet" href="https://cdn.rawgit.com/yahoo/pure-release/v0.6.0/pure-min.css">
    <link href="~/Content/css/jquery.tag-editor.css" rel="stylesheet" />
    <link rel="stylesheet" href="jquery.tag-editor.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <div class="container">
        <h3>Редактор расписания</h3>
        <hr>

        <div class="row">
            <div class="col-sm-3">
                <h4>Список классов:</h4>
                @using (Html.BeginForm("Schedule", "Principal", null, FormMethod.Post, new { @class = "form-vertical" }))
                {
                    foreach (var item in ViewBag.Klass)
                    {
                        if (String.Compare(@item.Наименование, "Резерв", true) != 0)
                        {
                            <button type="submit" class="klass_btn btn btn-default" value="@item.Код" name="submit">@item.Наименование</button>
                        }
                    }
                }
            </div>
            <div class="col-sm-9">
                <div class="row" style="height: 300px; visibility: @ViewBag.Visible">
                    <div class="col-sm-4">
                        <h4>Понедельник</h4>
                        <div style="margin:0 0 1.2em"><textarea id="pn"></textarea></div>
                    </div>
                    <div class="col-sm-4">
                        <h4>Вторник</h4>
                        <div style="margin:0 0 1.2em"><textarea id="vt"></textarea></div>
                    </div>
                    <div class="col-sm-4">
                        <h4>Среда</h4>
                        <div style="margin:0 0 1.2em"><textarea id="sr"></textarea></div>
                    </div>
                </div>
                <div class="row" style="height: 300px; visibility: @ViewBag.Visible">
                    <div class="col-sm-4">
                        <h4>Четверг</h4>
                        <div style="margin:0 0 1.2em"><textarea id="cht"></textarea></div>
                    </div>
                    <div class="col-sm-4">
                        <h4>Пятница</h4>
                        <div style="margin:0 0 1.2em"><textarea id="pt"></textarea></div>
                    </div>
                    <div class="col-sm-4">
                        <h4>Суббота</h4>
                        <div style="margin:0 0 1.2em"><textarea id="sb"></textarea></div>
                    </div>
                </div>
            </div>
        </div>

            
            <div id="response"></div>
        </div>







    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
    <script src="~/Content/js/jquery.tag-editor.js"></script>
    <script src="~/Content/js/jquery.caret.min.js"></script>
    <script>
        // jQuery UI autocomplete extension - suggest labels may contain HTML tags
        // github.com/scottgonzalez/jquery-ui-extensions/blob/master/src/autocomplete/jquery.ui.autocomplete.html.js
        (function ($) { var proto = $.ui.autocomplete.prototype, initSource = proto._initSource; function filter(array, term) { var matcher = new RegExp($.ui.autocomplete.escapeRegex(term), "i"); return $.grep(array, function (value) { return matcher.test($("<div>").html(value.label || value.value || value).text()); }); } $.extend(proto, { _initSource: function () { if (this.options.html && $.isArray(this.options.source)) { this.source = function (request, response) { response(filter(this.options.source, request.term)); }; } else { initSource.call(this); } }, _renderItem: function (ul, item) { return $("<li></li>").data("item.autocomplete", item).append($("<a></a>")[this.options.html ? "html" : "text"](item.label)).appendTo(ul); } }); })(jQuery);

        var cache = {};
        function googleSuggest(request, response) {
            var term = request.term;
            if (term in cache) { response(cache[term]); return; }
            $.ajax({
                url: 'https://query.yahooapis.com/v1/public/yql',
                dataType: 'JSONP',
                data: { format: 'json', q: 'select * from xml where url="http://google.com/complete/search?output=toolbar&q=' + term + '"' },
                success: function (data) {
                    var suggestions = [];
                    try { var results = data.query.results.toplevel.CompleteSuggestion; } catch (e) { var results = []; }
                    $.each(results, function () {
                        try {
                            var s = this.suggestion.data.toLowerCase();
                            suggestions.push({ label: s.replace(term, '<b>' + term + '</b>'), value: s });
                        } catch (e) { }
                    });
                    cache[term] = suggestions;
                    response(suggestions);
                }
            });
        }

        $(function () {

            var predmet = { delay: 0, position: { collision: 'flip' }, source: @Html.Raw(Json.Encode(@ViewBag.LessonsList)) }

            $('#pn').tagEditor({
                autocomplete: predmet,
                forceLowercase: false,
                placeholder: 'Начните вводить уроки ...',
                removeDuplicates: false,
                initialTags: @Html.Raw(Json.Encode(@ViewBag.d0)),
                onChange: function (field, editor, tags) {
                    $('#response').prepend(
                        (tags.length ? tags.join(', ') : '----') + '<br>'
                    );
                },
            });

            $('#vt').tagEditor({
                autocomplete: predmet,
                forceLowercase: false,
                placeholder: 'Начните вводить уроки ...',
                removeDuplicates: false,
                initialTags: @Html.Raw(Json.Encode(@ViewBag.d1)),
                removeDuplicates: false
            });

            $('#sr').tagEditor({
                autocomplete: predmet,
                forceLowercase: false,
                placeholder: 'Начните вводить уроки ...',
                removeDuplicates: false,
                initialTags: @Html.Raw(Json.Encode(@ViewBag.d2)),
                removeDuplicates: false
            });

            $('#cht').tagEditor({
                autocomplete: predmet,
                forceLowercase: false,
                placeholder: 'Начните вводить уроки ...',
                removeDuplicates: false,
                initialTags: @Html.Raw(Json.Encode(@ViewBag.d3)),
                removeDuplicates: false
            });

            $('#pt').tagEditor({
                autocomplete: predmet,
                forceLowercase: false,
                placeholder: 'Начните вводить уроки ...',
                removeDuplicates: false,
                initialTags: @Html.Raw(Json.Encode(@ViewBag.d4)),
                removeDuplicates: false
            });

            $('#sb').tagEditor({
                autocomplete: predmet,
                forceLowercase: false,
                placeholder: 'Начните вводить уроки ...',
                removeDuplicates: false,
                initialTags: @Html.Raw(Json.Encode(@ViewBag.d5)),
                removeDuplicates: false
            });





            function tag_classes(field, editor, tags) {
                $('li', editor).each(function () {
                    var li = $(this);
                    if (li.find('.tag-editor-tag').html() == 'red') li.addClass('red-tag');
                    else if (li.find('.tag-editor-tag').html() == 'green') li.addClass('green-tag')
                    else li.removeClass('red-tag green-tag');
                });
            }
        });


    </script>
