﻿@model WebSite.Models.LocalPasswordModel

<div class="account-container">
    <div class="content clearfix">
            
        @using (Html.BeginForm("Manage", "Account", null, FormMethod.Post, new { @class = "form-horizontal", @id = "ChangePassForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
      
            <h1 class="text-center">Смена пароля</h1>
            <hr />            
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label col-xs-5" })
                <div class="col-xs-7">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label col-xs-5" })
                <div class="col-xs-7">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-xs-5" })
                <div class="col-xs-7">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control"})
                </div>
            </div>
            @*
            <ol>
                <li>
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </li>
            </ol>
            *@
            <input type="submit" class="btn btn-primary" value="Сменить пароль" />
        }
    </div>
</div>
