﻿@section head
{
    @Styles.Render("~/Content/css/bootstrap-editable.css")
    @Scripts.Render("~/Content/js/bootstrap-editable.min.js")
}

<div class="container">
        <h3>@ViewBag.Title</h3>
        <hr>
        <h4> @ViewBag.Error </h4>
        
        <h4 class="editable" id="edit_0" data-type="text" data-pk="0" data-url="/Manager/Edit" data-name="/Account/Demo" data-title="Редактировать"> @Html.Raw(ViewBag.Texts[0].Value) </h4>
        @if (this.User.IsInRole("managers"))
        {   <a href="#" class="edit" data-toggle="#edit_0"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
        
        <br><br>
    <a class="btn btn-lg btn-success" role="button" href="/Account/Demo?parent=3" style="width: 250px"> Войти как Ученик </a>
        <a class="btn btn-lg btn-success" role="button" href="/Account/Demo?parent=1" style="width: 200px"> Войти как родитель </a>
        <a class="btn btn-lg btn-success" role="button" href="/Account/Demo?parent=2" style="width: 200px"> Войти как педагог </a>
        <a class="btn btn-lg btn-success" role="button" href="/Account/Demo?parent=3" style="width: 250px"> Войти как Администратор </a>
        <br><br>
        <a class="btn btn-lg btn-success" role="button" href="/Home/Demo"> Презентация </a>
        <br><br>
        <a class="btn btn-lg btn-success" role="button" href="/Home/Index"> Вернуться на главную </a>
</div>


@section scripts
{

}
