﻿@model WebSite.Models.LoginModel

@{
    ViewBag.Title = "Выполнить вход";
}

<div class="account-container">
    <div class="content clearfix">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <h1>Вход</h1>
            <div class="form-group">
                @Html.LabelFor(m => m.UserName) <span class="glyphicon glypicon-user"></span>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-inline">
				<div class="checkbox">
					@Html.CheckBoxFor(m => m.RememberMe, new { @type = "checkbox" })
					@Html.LabelFor(m => m.RememberMe, new { @class = "checkbox", style = "padding-right: 20px; padding-left: 5px;" })
				</div>
                <input type="submit" class="btn btn-primary" value="Выполнить вход" />
            </div>
            <hr />
            <p>
                @Html.ActionLink("Зарегистрироватся", "Register"), если нет учетной записи.
            </p>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

