﻿@model WebSite.Models.LocalPasswordModel
@{
    ViewBag.Title = "Управление учетной записью";
}

<div class="container">	
    <div id="text_area">
        <div class="block text-justify">
            <h3>@ViewBag.Title</h3>
            <hr>
            <p class="message-success">@ViewBag.StatusMessage</p>
            <p>Вы вошли как <strong>@User.Identity.Name</strong></p>
            
        </div>

        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        { 
            @Html.Partial("_SetPasswordPartial")
        }

        @*
        <section id="externalLogins">
            @Html.Action("RemoveExternalLogins")

            <h3>Добавить внешнюю учетную запись</h3>
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>
        *@
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
