﻿@model WebSite.Models.RegisterModel
@{
    ViewBag.Title = "Регистрация";
}

<div class="container-fluid">	
    <div id="text_area">
	    <div class="block text-justify">
            <h3 class="editable" id="edit_0" data-type="text" data-pk="0" data-url="/Manager/Edit" data-name="/Account/Register" data-title="Редактировать заголовок"> @Html.Raw(ViewBag.Texts[0].Value) </h3>
            @if (this.User.IsInRole("managers"))
            {   <a href="#" class="edit" data-toggle="#edit_0"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
		    <div class="editable" id="edit_1" data-type="textarea" data-pk="1" data-url="/Manager/Edit" data-name="/Account/Register" data-title="Редактировать текст" data-escape="false"> @Html.Raw(ViewBag.Texts[1].Value) </div>
            @if (this.User.IsInRole("managers"))
            {   <a href="#" class="edit" data-toggle="#edit_1"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a>  }
            @*
            <h3>ВНИМАНИЕ!</h3>
            <p>Зарегистрироватся могут только пользователи, подключенные к нашему сервису. <br>
            В поле телефон обязательно ввести номер своего мобильного телефона, который указывали при заключении договора. </p>
            *@
	    </div>

        <h3>Создание новой учетной записи.</h3> <hr>

        <div class="account-container">
            <div class="content clearfix">
                @using (Html.BeginForm("Register", "Account", null, FormMethod.Post, new { @class = "form-horizontal", @id = "RegisterForm" })) 
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <h1 class="text-center">Регистрация</h1>
                    <hr />
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label col-xs-5" })
                        <div class="col-xs-7">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Phone, new { @class = "control-label col-xs-5" })
                        <div class="col-xs-7">
                            <div class="input-group">
                                <div class="input-group-addon"> +375 </div>
                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control"})
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Fullname_1, new { @class = "control-label col-xs-5" })
                        <div class="col-xs-7">
                            @Html.TextBoxFor(m => m.Fullname_1, new { @class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Fullname_2, new { @class = "control-label col-xs-5" })
                        <div class="col-xs-7">
                            @Html.TextBoxFor(m => m.Fullname_2, new { @class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Fullname_3, new { @class = "control-label col-xs-5" })
                        <div class="col-xs-7">
                            @Html.TextBoxFor(m => m.Fullname_3, new { @class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Birthdate, new { @class = "control-label col-xs-5" })
                        <div class="col-xs-7">
                            <div class="input-group date" id="datepicker">
                                @Html.TextBoxFor(m => m.Birthdate, new { @class = "form-control", @id = "birthdate"})
                                <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                            </div>
                        </div>
                    </div>
                    @* @Html.TextBoxFor(m => m.Parent, new { @class = "form-control", @type="hidden", @id = "ParentSel" }) *@
                    <div class="form-group">
                        @Html.LabelFor(m => m.Parent, new { @class = "control-label col-xs-5" })
					    <div class="col-xs-7">
						    @Html.DropDownListFor(m => m.Parent,
                                @* new SelectList(Model.ParentSelect, "id", "text", Model.ParentSelect.First().id), *@
                                new SelectList(ViewBag.ParentSelect, "value", "text"),
                                new { @class = "form-control", @id = "ParentSelect" })
					    </div>
				    </div>
			        <div class="form-group" style="display: none" id="SchoolSelect">
                        @Html.LabelFor(m => m.School_ID, new { @class = "control-label col-xs-5" })
				        <div class="col-xs-7">
                            @Html.DropDownListFor(m => m.School_ID, new SelectList(ViewBag.Schools, "Код", "Наименование"), new { @class = "form-control"})
				        </div>
			        </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "control-label col-xs-5" })
                        <div class="col-xs-7">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label col-xs-5" })
                        <div class="col-xs-7">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-xs-5" })
                        <div class="col-xs-7">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control"})
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Регистрация" />
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Content/js/moment.js")    
    @Scripts.Render("~/Content/js/moment.ru.js")    
    @Scripts.Render("~/Content/js/bootstrap-datetimepicker.min.js")  
    <script type="text/javascript">
        $(function () {
            $('#datepicker').datetimepicker({ pickTime: false });
        });
        $(document).ready(function () {
            $('#birthdate').val('@ViewBag.Date');
            //$('#ParentSel').val("1");

            $('#ParentSelect').on('change', (function () {
                $('#SchoolSelect').toggle();
            }));

            $.validator.addMethod("IsDate", function (value, element) {
                return /^\d\d\.\d\d\.\d\d\d\d$/.test(value);
            }, "Введите дату в формате dd.mm.yyyy (например: 31.12.1999)");

            $("#RegisterForm").validate({
                rules: {
                    Birthdate: { required: true, IsDate: true }
                },
                messages: {
                    Birthdate: { required: "Введите дату" }
                }
            });
        });
    </script>
}
