﻿@{
    ViewBag.Title = "Активация аккаунта";
}

<div class="container">	
    <div id="text_area">
	    <div class="block text-justify">
            <h3>ВНИМАНИЕ!</h3>
            <p>Для завершения регистрации Ваша учетная запись должна быть активирована.</p>
            @*Код активации придет в СМС на указанный Вами номер.*@
            @* @ViewBag.Code *@
	    </div>
        
        <div class="account-container">
            <div class="content clearfix">
                @using (Html.BeginForm("Activate", "Client", null, FormMethod.Post, new { @class = "form-horizontal", @id = "ActivateForm" })) 
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    @ViewBag.Error

                    <h1 class="text-center">Активация аккаунта</h1>
                    <hr />                                  
         			<div class="form-group">
						<h4>@Html.Label("Код активации:", new { @class = "control-label col-xs-5" })</h4>
					    <div class="col-xs-7">
					        @Html.TextBox("Code", "", new { @class = "form-control input-lg" })
                        </div>
					</div>                    
                    <div class="form-group">
			            <div class="col-xs-offset-5 col-xs-4">
				            <button type="submit" class="btn btn-default btn-lg">Активировать</button>
			            </div>
		            </div>            
                }
            </div>
        </div>
    </div>
</div>
