﻿@{
    ViewBag.Title = "Посещаемость";
}

<div class="container">	
    <div id="text_area">
        <div class="block text-justify">
            <h3>Посещаемость</h3>
            <h4>@ViewBag.Pupil.Наименование </h4>
            <hr>
            <a role="button" class="btn btn-default" id="printBtn">Распечатать</a>

            <style>
                table { width: 800px; }
                th {
                    text-align: center;

                }
                .time_str { text-align: center; }
                td, th {
                    padding: 3px;
                    border: 1px solid gray;                        
                }
            </style>

            <h4> @ViewBag.Error </h4>

            <div id="toPrint">
                <h4 class="onlyPrint"> 
                    Отчет времени прихода/ухода.
                    @ViewBag.Pupil.Наименование 
                    Дата с <span id="Date1Name"> </span> 
                    по <span id="Date2Name"> </span>
                </h4>
              
                <table @*id="ReportTable" class="tablesorter"*@>
                    <thead>
                        <tr>
                            <th> № </th>
                            <th><strong>Дата</strong></th>
                            <th><strong>Сообщение</strong></th>
                            <th><strong>Время</strong></th>
                        </tr>
                    </thead>
                    <tbody>  
                        @if (ViewBag.Report.Count > 0)
                        {
                            int i = 1;
                            foreach (var row in ViewBag.Report)
                            {
                                if (row.EmployeeFIO == ViewBag.Pupil.Наименование && row.Date.CompareTo(ViewBag.Date1) > 0 && row.Date.CompareTo(ViewBag.Date2) < 0)
                                {
                                    <tr class="absence_row">
                                        <td style="text-align: center"> @i </td>
                                        <td class="time_str"> @row.Date.ToString("dd MMMM yyyy") </td>
                                        @if(row.Way == 1)
                                            {
                                                <td>Приход</td>
                                                <td class="time_str" style="color: green;"> @row.Date.ToString("HH:mm:ss") </td>
                                            }
                                            else if (row.Way == 2)
                                            {
                                                <td>Уход</td>
                                                <td class="time_str" style="color: red;"> @row.Date.ToString("HH:mm:ss") </td>
                                            }
                                    </tr>
                                    i++;
                                }
                                @*   @row.Way || @row.AdditionInformation || @row.Date.ToString("dd MMMM yyyy") || @row.EmployeeFIO  *@                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="padding: 50px"> </div>

@section Scripts {  
    <script>
        $(document).ready(function () {

        });
    </script>
}
