﻿@model List<WebSite.Controllers.ClientController.DairyDay>
@{
    ViewBag.Title = "DiaryClient";
}

<div class="container">
    <div class="row">
        <div class="col-md-2 rightCol">
            @if (!(File.Exists("~/Images/Pupils/" + @Model[0].EmployeeId + ".jpg")))
            {<img src="@Url.Content("~/Images/Pupils/noavatar.jpg")" style="height: 120px; margin-top: 20px" class="img-circle" />}
            else
            {<img src="@Url.Content("~/Images/Pupils/" + @Model[0].EmployeeId + ".jpg")" style="height: 120px; margin-top: 20px" class="img-circle" />}
            <h4>Иванов Иван Иванович</h4>
            <h5>Гимназия №8, 8А класс</h5>
        </div>

        <div class="col-md-10">
            <div class="row navigateWeek">

                <div class="col-md-2 col-sm-2 col-xs-2">
                    <a href="/Client/DiaryClient?empId=@Model[0].EmployeeId&klass=@Model[0].klass&date=@(@Model[0].date.AddDays(-7).ToShortDateString())" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-backward"></span></a>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-8"><h3 style="vertical-align:middle;">@Model[0].date.ToShortDateString() - @Model[5].date.ToShortDateString()</h3></div>
           
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <a href="/Client/DiaryClient?empId=@Model[0].EmployeeId&klass=@Model[0].klass&date=@(@Model[0].date.AddDays(7).ToShortDateString())" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-forward"></span></a>
                </div>
            
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Понедельник: @Model[0].date.ToShortDateString()</h4>
                    <table class="tableday">
                        <tr class="headerTable"><td class="numlesson"></td><td class="lesson">Предмет</td><td class="hometask">Домашнее задание</td><td class="ocenka">Оценка</td></tr>
                        @for (int i = 0; i <= 8; i++)
                        {
                            <tr>
                                <td class="numlesson">@(i + 1)</td>
                                <td class="lesson">@Model[0].StrLesson[i][0]</td>
                                <td class="hometask"><span title="@Model[0].StrLesson[i][1]">@Model[0].StrLesson[i][1]</span></td>
                                <td class="ocenka">@Model[0].StrLesson[i][2]</td>
                            </tr>
                        }
                    </table>

                    <h4>Вторник: @Model[1].date.ToShortDateString()</h4>
                    <table class="tableday">
                        <tr class="headerTable"><td class="numlesson"></td><td class="lesson">Предмет</td><td class="hometask">Домашнее задание</td><td class="ocenka">Оценка</td></tr>
                        @for (int i = 0; i <= 8; i++)
                        {
                            <tr>
                                <td class="numlesson">@(i + 1)</td>
                                <td class="lesson">@Model[1].StrLesson[i][0]</td>
                                <td class="hometask"><span title="@Model[1].StrLesson[i][1]">@Model[1].StrLesson[i][1]</span></td>
                                <td class="ocenka">@Model[1].StrLesson[i][2]</td>
                            </tr>
                        }
                    </table>

                    <h4>Среда: @Model[2].date.ToShortDateString()</h4>
                    <table class="tableday">
                        <tr class="headerTable"><td class="numlesson"></td><td class="lesson">Предмет</td><td class="hometask">Домашнее задание</td><td class="ocenka">Оценка</td></tr>
                        @for (int i = 0; i <= 8; i++)
                        {
                            <tr>
                                <td class="numlesson">@(i + 1)</td>
                                <td class="lesson">@Model[2].StrLesson[i][0]</td>
                                <td class="hometask"><span title="@Model[2].StrLesson[i][1]">@Model[2].StrLesson[i][1]</span></td>
                                <td class="ocenka">@Model[2].StrLesson[i][2]</td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="col-md-6">
                    <h4>Четверг: @Model[3].date.ToShortDateString()</h4>
                    <table class="tableday">
                        <tr class="headerTable"><td class="numlesson"></td><td class="lesson">Предмет</td><td class="hometask">Домашнее задание</td><td class="ocenka">Оценка</td></tr>
                      @for (int i = 0; i <= 8; i++)
                      {
                        <tr>
                            <td class="numlesson">@(i + 1)</td>
                            <td class="lesson">@Model[3].StrLesson[i][0]</td>
                            <td class="hometask"><span title="@Model[3].StrLesson[i][1]">@Model[3].StrLesson[i][1]</span></td>
                            <td class="ocenka">@Model[3].StrLesson[i][2]</td>
                        </tr>
                      }
                    </table>

                    <h4>Пятница: @Model[4].date.ToShortDateString()</h4>
                    <table class="tableday">
                        <tr class="headerTable"><td class="numlesson"></td><td class="lesson">Предмет</td><td class="hometask">Домашнее задание</td><td class="ocenka">Оценка</td></tr>
                        @for (int i = 0; i <= 8; i++)
                        {
                            <tr>
                                <td class="numlesson">@(i + 1)</td>
                                <td class="lesson">@Model[4].StrLesson[i][0]</td>
                                <td class="hometask"><span title="@Model[4].StrLesson[i][1]">@Model[4].StrLesson[i][1]</span></td>
                                <td class="ocenka">@Model[4].StrLesson[i][2]</td>
                            </tr>
                        }
                    </table>

                    <h4>Суббота: @Model[5].date.ToShortDateString()</h4>
                    <table class="tableday">
                        <tr class="headerTable"><td class="numlesson"></td><td class="lesson">Предмет</td><td class="hometask">Домашнее задание</td><td class="ocenka">Оценка</td></tr>
                        @for (int i = 0; i <= 8; i++)
                        {
                            <tr>
                                <td class="numlesson">@(i + 1)</td>
                                <td class="lesson">@Model[5].StrLesson[i][0]</td>
                                <td class="hometask"><span title="@Model[5].StrLesson[i][1]">@Model[5].StrLesson[i][1]</span></td>
                                <td class="ocenka">@Model[5].StrLesson[i][2]</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .tableday {
        table-layout: fixed;
        width: 100%;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        font-size: 11px;
    }

    .lesson {
        width: 32%;
        border: 1px solid black;
        padding-left: 7px;
        white-space: nowrap; /* Отменяем перенос текста */
        overflow: hidden; /* Обрезаем содержимое */
        text-overflow: ellipsis; /* Многоточие */
    }

    .numlesson {
        width: 3%;
        border: 1px solid black;
        padding-left: 3px;
    }

    .hometask {
        width: 55%;
        margin: 5px;
        border: 1px solid black;
        padding-left: 7px;
        white-space: nowrap; /* Отменяем перенос текста */
        overflow: hidden; /* Обрезаем содержимое */
        text-overflow: ellipsis; /* Многоточие */
    }

    .ocenka {
        width: 10%;
        border: 1px solid black;
        text-align: center;
    }

    .headerTable
    {
        text-align:center;
        color:azure;
        background-color:olivedrab;
    }

    .rightCol
    {
        text-align:center;
    }

    .img-circle 
    {
        border: 5px solid olivedrab;
    }

    .navigateWeek 
    {
        text-align: center;
        margin-top:10px;
    }

</style>