﻿@model List<WebSite.WebServiceReference.WSPay>
@{
    ViewBag.Title = "Домашние задания";
}

<div class="container-fluid">	
    <div id="text_area">
        <div class="block text-justify">
            <h3>Домашние задания</h3>
            <hr>
            @ViewBag.Error
            @*<a role="button" class="btn btn-default" id="printBtn">Распечатать</a>*@

            @*
            @if (ViewBag.Flag != 1)
            {
                using (Html.BeginForm("Hometask", "Client", null, FormMethod.Post, new { @class = "form-horizontal", @id = "HometaskForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <div class="form-group">
                        <label class="control-label col-xs-1">Школа:</label>
                        <div class="col-xs-3">
				            <select class="form-control" name="school" id="SchoolSelect">
					            @foreach (var item in ViewBag.SList)
                                {
						            <option itemid="@item.ID">@item.Name </option>
                                }
				            </select>
                        </div>

                        <label class="control-label col-xs-1">Дата:</label>
                        <div class="col-xs-3">
                            <div class="input-group date" id="datepicker">
                                @Html.TextBox("date", (string)ViewBag.Date, new { @class = "form-control", @id = "DateSelect" })
                                <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                            </div>
                        </div>
                    </div>
                
                    <input type="hidden" name="unit_id" id="unit_id"> 
                    <input type="hidden" name="klass" id="klass"> 
                    <div id="UnitSelect">       </div>
                    <br>
                }
            }
            @if (ViewBag.Flag == 1)
            {
            *@               
                <style>
                    #text_area {
                        /*overflow-x: scroll;
                        overflow-y: visible;
                        white-space: nowrap;*/
                        max-width: 99%;                        
                        display: table;
                    }
                    #toPrint {
                        display:table-row;
                    }                    
                    table {
                        border: 2px solid DarkGreen;
                        display: table-cell;
                        /*float: left;*/
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;  
                    }
                    th, td {
                        border: 1px solid darkgrey;
                        padding: 3px;
                        text-align: center;
                    }
                    .tasks {
                        /*overflow-x: visible;*/
                        /*white-space:nowrap;*/
                        width: 150px;
                    }
                </style>                
            
                @using (Html.BeginForm("Hometask", "Client", null, FormMethod.Post, new { @class = "form-horizontal", @id = "HometaskForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                
                    <div class="form-group"> 
                        <label class="control-label col-xs-3"> @ViewBag.School,  @ViewBag.Klass</label> 
                        @*   
                        <div class="col-xs-2">
                            @Html.ActionLink("Выбрать ребенка", "Hometask", "Client", new { school = ViewBag.School }, new { @class="btn btn-default", @role="button" })
                        </div>
                        *@
                        <div class="col-xs-2">
                            <a role="button" class="btn btn-default" id="printBtn">Распечатать</a>
                        </div>
                    </div>
                    @*
                    <input type="hidden" name="school" id="school" value="@ViewBag.School">  
                    <input type="hidden" name="unit_id" id="unit_id" value="@ViewBag.UnitID">    
                    <input type="hidden" name="klass" id="klass" value="@ViewBag.Klass">  
                    *@
                    <br>
                }
                @if (ViewBag.Error == null)
                {
                    <div id="toPrint">
                        <table> 
                            <thead>
                                <tr>
                                    <th> № </th>
                                    <th> Предмет </th>
                                </tr>
                            </thead>
                            <tbody> 
                                @{ int n = 0; }
                                @foreach (var item in ViewBag.Subjects)
                                {
                                    <tr id="row_@n">  
                                        <td> @(n + 1) </td>
                                        <td class="tasks" id="subject_@n" row="@n" subj="@item.Код"> @item.Наименование </td>
                                    </tr>
                                    n++;
                                }
                            </tbody>
                        </table>  
                        @for (int d = 0; d < ViewBag.Days.Count; d++)
                        {
                            <table> 
                                <thead class="weekdays">
                                    <tr>
                                        <th class="day_cell" day="@d" sel="0" id="day_@(d)"> @ViewBag.Days[d].ToString("dddd d.MM") </th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    @{ int i = 0; }
                                    @foreach (var subject in ViewBag.Subjects)
                                    {
                                        <tr id="row_@(d)_@i">
                                            @{int s = 0; }
                                            @foreach (var item in ViewBag.Hometasks[d])
                                            {
                                                if (s == 0 && item.Предмет.Наименование == subject.Наименование)
                                                {
                                                    s = 1;
                                                    <td class="tasks" day="@d" row="@i" id="cell_@(d)_@i" subj="@item.Предмет.Код">
                                                        @item.Задание
                                                    </td>
                                                }
                                            }
                                            @if (s == 0)
                                            {
                                                <td class="tasks" day="@d" row="@i" id="cell_@(d)_@i" subj="-"></td>
                                            }
                                        </tr>
                                            i++;
                                    }
                                </tbody>
                            </table>                
                        }
                        <br style="clear: left;" />
                    </div>
                    <p>При нажатии на заголовок дня недели выделяются предметы, изучаемые в этот день. При наведении на ячейку задания выделяется прошлый урок (задание на выбранный день). </p>
                }
        </div>
    </div>
</div>
<div style="padding: 50px"> </div>


@section scripts
{
    @Scripts.Render("~/Content/js/moment.js")    
    @Scripts.Render("~/Content/js/moment.ru.js")    
    @Scripts.Render("~/Content/js/bootstrap-datetimepicker.min.js") 
    <script>
        $(function () {
            $('#datepicker').datetimepicker({ pickTime: false });
        });

        $(document).ready(function () {
            
            for (d = 0; d < 12; d++) {
                for (i = 0; i < 30; i++) {
                    var h1 = $('#row_' + i).height();
                    var h2 = $('#row_' + d + '_' + i).height();
                    if (h2 > h1) {
                        $('#row_' + i).height(h2);
                        for (j = 0; j < 12; j++) {
                            $('#row_' + j + '_' + i).height(h2);
                        }
                    }
                    else {
                        $('#row_' + d + '_' + i).height(h1);
                    }
                }
            }
            if ('@ViewBag.School' != '')
            { $('#SchoolSelect').val('@ViewBag.School'); }
            $('#DateSelect').val(moment().format("DD.MM.YYYY"));

            $('.weekdays').on('click', '.day_cell', (function () {
                var day = $(this).attr('day');
                if ($(this).attr('sel') == '0') {
                    for (d = 0; d < 12; d++) {
                        $('#day_' + d).attr('sel', '0');
                        $('#day_' + d).attr('class', "day_cell")
                    }
                    for (var r = 0; r < 30; r++) {
                        $("#subject_" + r).attr('class', "tasks");
                    }

                    $(this).attr('sel', '1');
                    $(this).attr('class', "day_cell selected")
                    for (var r = 0; r < 30; r++) {
                        if ($('#cell_' + day + '_' + r).attr('subj') == $('#subject_' + r).attr('subj')) {
                            $("#subject_" + r).attr('class', "tasks selected");
                        }
                    }
                }
                else {
                    $(this).attr('sel', '0');
                    $(this).attr('class', "day_cell")
                    for (var r = 0; r < 30; r++) {
                        $("#subject_" + r).attr('class', "tasks");
                    }
                }
                //alert(x);
            }));

            $('.tasks').mouseenter((function () {
                var day = $(this).attr('day');
                var row = $(this).attr('row');
                var day_sel = 33;
                    for (d = 0; d < day; d++) {
                        if ($('#cell_' + d + '_' + row).text().trim() != "") {
                            day_sel = d;
                        }
                    }
                    $('#cell_' + day_sel + '_' + row).attr('class', "tasks selected");
            })).mouseleave((function () {
                var day = $(this).attr('day');
                var row = $(this).attr('row');
                for (d = 0; d < day; d++) {
                    if ($('#cell_' + d + '_' + row).text().trim() != "") {
                        $('#cell_' + d + '_' + row).attr('class', "tasks");
                    }
                }
            }));

            //$(".klass_btn").click(function(){
            /*
            $('#UnitSelect').on('click', '.klass_btn', (function () {
                var x = $(this).attr('itemid');
                $("#unit_id").val(x);
                var y = $(this).val();
                $("#klass").val(y);
                //alert(y + x);
            }));

            $.ajax({
                'url': '/Manager/GetUnitsGrid',
                'type': 'POST',
                'dataType': 'html',
                'data': { school: $('#SchoolSelect').find("option:selected").attr('itemid') },
                'success': function (data) {
                    $('#UnitSelect').html(data);
                }
            });
            */
            /*
            $.validator.addMethod("IsDate", function (value, element) {
                return /^\d\d\.\d\d\.\d\d\d\d$/.test(value);
            }, "Введите дату в формате dd.mm.yyyy (например: 31.12.1999)");
            
            $("#HometaskForm").validate({
                rules: {
                    date: { required: true, IsDate: true }
                },
                messages: {
                    date: { required: "Введите дату" }
                }
            });
            */
        });
        /*
        $('#SchoolSelect').on('change', (function () {
            $.ajax({
                'url': '/Manager/GetUnitsGrid',
                'type': 'POST',
                'dataType': 'html',
                'data': { school: $('#SchoolSelect').find("option:selected").attr('itemid') },
                'success': function (data) {
                    $('#UnitSelect').html(data);
                    //alert('рас');
                },
                'error': function (a,b,c) {
                    //alert(a+b+c);
                }
            });
        }));
        */
        /*
        function setSelectedIndex(s, v) {
            for (var i = 0; i < s.options.length; i++) {
                if (s.options[i].value == v) {
                    s.options[i].selected = true;
                    return;
                }
            }
        }
        */
        /*
        var now = new Date();
        var date_str = [AddZero(now.getDate()), AddZero(now.getMonth() + 1), now.getFullYear()].join(".");
        function AddZero(num)
        { return (num >= 0 && num < 10) ? "0" + num : num + ""; }
        $('#DateSelect').val(date_str);
        */
    </script>
}


@*
<table class="table classes">                    
    <tbody>
        <tr>
            <td> <input type="submit" class="klass_btn btn btn-lg btn-default" value="1 А" /> </td>
            <td> <input type="submit" class="klass_btn btn btn-lg btn-default" value="1 Б" /> </td>
            <td> <input type="submit" class="klass_btn btn btn-lg btn-default" value="1 В" /> </td>
        </tr>
        <tr>
            <td> <input type="submit" class="klass_btn btn btn-lg btn-default" value="2 А" /> </td>
            <td> <input type="submit" class="klass_btn btn btn-lg btn-default" value="2 Б" /> </td>
            <td> <input type="submit" class="klass_btn btn btn-lg btn-default" value="2 В" /> </td>
        </tr>
        <tr>
            <td> <input type="submit" class="klass_btn btn btn-lg btn-default" value="3 А" /> </td>
            <td> <input type="submit" class="klass_btn btn btn-lg btn-default" value="3 Б" /> </td>
        </tr>
        <tr>
            <td> <input type="submit" class="klass_btn btn btn-lg btn-default" value="4 А" /> </td>
            <td> <input type="submit" class="klass_btn btn btn-lg btn-default" value="4 Б" /> </td>
            <td> <input type="submit" class="klass_btn btn btn-lg btn-default" value="4 В" /> </td>
        </tr>
        <tr>
            <td> <input type="submit" class="klass_btn btn btn-lg btn-default" value="5 А" /> </td>
            <td> <input type="submit" class="klass_btn btn btn-lg btn-default" value="5 Б" /> </td>
            <td> <input type="submit" class="klass_btn btn btn-lg btn-default" value="5 В" /> </td>
            <td> <input type="submit" class="klass_btn btn btn-lg btn-default" value="5 Г" /> </td>
        </tr>
    </tbody>
</table>
*@


@*
<tr>
    <td> 1 </td>
    <td> русский язык </td>
    <td class="editable" id="tasks" data-type="text" data-pk="0" data-url="/Manager/Edit" data-name="/Manager/Homework" data-onblur="submit" data-clear="false" data-showbuttons="false" data-toggle="click" data-emptytext="..."> § 20, упр. 1-4 </td>
</tr>
<tr>
    <td> 2 </td>
    <td> математика</td>
    <td class="editable" id="tasks" data-type="text" data-pk="0" data-url="/Manager/Edit" data-name="/Manager/Homework" data-onblur="submit" data-clear="false" data-showbuttons="false" data-toggle="click" data-emptytext="..."> § 40, упр. 25-30 </td>
</tr>                        
<tr>
    <td> 3 </td>
    <td> физкультура </td>
    <td class="editable" id="tasks" data-type="text" data-pk="0" data-url="/Manager/Edit" data-name="/Manager/Homework" data-onblur="submit" data-clear="false" data-showbuttons="false" data-toggle="click" data-emptytext="..."> -//- </td>
</tr>                        
<tr>
    <td> 4 </td>
    <td> английский язык </td>
    <td class="editable" id="tasks" data-type="text" data-pk="0" data-url="/Manager/Edit" data-name="/Manager/Homework" data-onblur="submit" data-clear="false" data-showbuttons="false" data-toggle="click" data-emptytext="...">  </td>
</tr>         
<tr>
    <td> 5 </td>
    <td> история </td>
    <td class="editable" id="tasks" data-type="text" data-pk="0" data-url="/Manager/Edit" data-name="/Manager/Homework" data-onblur="submit" data-clear="false" data-showbuttons="false" data-toggle="click" data-emptytext="...">  </td>
</tr>
*@