﻿@* @model List<WebSite.WebServiceReference.WSPay> *@
@{
    ViewBag.Title = "Личный кабинет";
}

<div class="container">	
    <div id="text_area">
        <div class="block text-justify">
            <h3>@ViewBag.Error</h3>
            @if (ViewBag.Client != null)
            {
                <h3> @*@ViewBag.Client*@</h3>
                @*
                if (ViewBag.Profile != null)
                {
                    <p>
                        @foreach (var pupil in ViewBag.Pupils)
                        {
                            <span>
                                ученик: @pupil.Фамилия | @pupil.Имя | @pupil.Отчество <br>
                                @pupil.ДеньРождения.ToString("dd.MM.yyyy") <br>
                                @pupil.Школа.Наименование | @pupil.Класс.Наименование <br>
                            </span>
                        }
                    </p>
                }
                *@

            if (ViewBag.Profile != null)
            {
                    <div class="row">
                        <div class="col-md-8">
                            <h3>@ViewBag.Profile.Клиент.Наименование</h3>
                            <hr>
                            <table>
                                <tr>
                                    <td style="width: 70%">
                                        <p>
                                            <span style="padding-right: 10%">
                                                <a id="button_attend" class="btn btn-lg btn-success" role="button" href="/Client/Attend?pupil_id=@ViewBag.current_pupil.Код" style="width: 200px"> Посещаемость </a>
                                            </span>
                                            <span class="h4" @*style="color: red"*@> @ViewBag.attend_date </span>
                                        </p>
                                        <p>
                                            <span style="padding-right: 10%">
                                                <a id="button_diary" class="btn btn-lg btn-success" role="button" href="/Client/Diary?pupil_id=@ViewBag.current_pupil.Код" style="width: 200px"> Успеваемость </a>
                                                @*?date1=@ViewBag.Date1&amp;date2=@ViewBag.Date2*@
                                            </span>
                                            <span class="h4" @*style="color: green"*@> @ViewBag.diary_date </span>
                                        </p>
                                        <p>
                                            <span style="padding-right: 10%">
                                                <a id="button_hometask" class="btn btn-lg btn-success" role="button" href="/Client/Hometask?pupil_id=@ViewBag.current_pupil.Код" style="width: 200px"> Домашние Задания </a>
                                            </span>
                                            <span class="h4" @*style="color: sandybrown"*@> @ViewBag.hometask_date </span>
                                        </p>
                                    </td>
                                    </tr>
                                </table>
                        </div>
                        <div class="col-md-4">
                            <h4>Список детей:</h4>
                            <ul class="nav nav-tabs nav-stacked">
                                @foreach (var pupil in ViewBag.Pupils)
                                {
                                <li>
                                    <a href="/Client/DiaryClient?empId=@pupil.Код&klass=@pupil.Класс.Код" class="btn btn-large">
                                        <table>
                                            <tr>
                                                <td>
                                                    @if (!(File.Exists("~/Images/Pupils/" + ViewBag.current_pupil_id + ".jpg")))
                                                    {<img src="@Url.Content("~/Images/Pupils/noavatar.jpg")" style="height: 50px; margin-right: 10px" class="img-circle" />}
                                                    else
                                                    {<img src="@Url.Content("~/Images/Pupils/" + ViewBag.current_pupil_id + ".jpg")" style="height: 50px" class="img-circle" />}
                                                </td>
                                                <td>
                                                    @ViewBag.current_pupil.Школа.Наименование, @ViewBag.current_pupil.Класс.Наименование<br />
                                                    @pupil.Фамилия @pupil.Имя @pupil.Отчество
                                                </td>
                                                <td style="text-align:right; width:100%">
                                                    <a class="btn" href="/Client/Stats_pays?client_id=@ViewBag.Profile.Клиент.Код&amp;pupil_id=@ViewBag.current_pupil.Код" style="font-size:14px; color:brown; margin-left:10px"><span class="glyphicon glyphicon-stats"></span></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>


                    
                    @* <a class="btn btn-default" role="button" href="/Client/SetChild"> Добавить ребенка </a> *@
                }
            }
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            if ('@ViewBag.current_pupil_id' != '')
            { $('#PupilSelect').val('@ViewBag.current_pupil_id'); }

            $('#PupilSelect').on('change', (function () {
                var url = "/Client/Index?current=" + $(this).find("option:selected").attr('value');
                window.location = url;
            }));

            var days = '@ViewBag.attend_days' ;
            if (days > 7)
            { $("#button_attend").attr('class', "btn btn-lg btn-success"); }
            else
            {
                if (days > 0)
                { $("#button_attend").attr('class', "btn btn-lg btn-warning"); }
                else
                {
                    if (days > -10)
                    { $("#button_attend").attr('class', "btn btn-lg btn-danger"); }
                    else
                    { $("#button_attend").attr('class', "btn btn-lg btn-default disabled"); }
                }
            }

            days = '@ViewBag.diary_days';
            if (days > 7)
            { $("#button_diary").attr('class', "btn btn-lg btn-success"); }
            else
            {
                if (days > 0)
                { $("#button_diary").attr('class', "btn btn-lg btn-warning"); }
                else
                {
                    if (days > -10)
                    { $("#button_diary").attr('class', "btn btn-lg btn-danger"); }
                    else
                    { $("#button_diary").attr('class', "btn btn-lg btn-default disabled"); }
                }
            }

            days = '@ViewBag.hometask_days';
            if (days > 7)
            { $("#button_hometask").attr('class', "btn btn-lg btn-success"); }
            else
            {
                if (days > 0)
                { $("#button_hometask").attr('class', "btn btn-lg btn-warning"); }
                else
                {
                    if (days > -10)
                    { $("#button_hometask").attr('class', "btn btn-lg btn-danger"); }
                    else
                    { $("#button_hometask").attr('class', "btn btn-lg btn-default disabled"); }
                }
            }

        })
    </script>
}

@*
<h3>Статистика оплаты</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <td><strong>Дата оплаты</strong></td>
            <td><strong>Услуги</strong></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in @ViewBag.Orders)
        { 
            <tr>
                <td> @order.date.ToString("dd MMMM yyyy") </td>
                <td> @order.goods </td>
            </tr>
        }
        @*
        @foreach (var rec in Model)
        {
            <tr>
                <td colspan="3"><span class="text-warning">@rec.Pupil.Name</span></td>
            </tr>
            <tr>
                <td>@rec.DatePay.ToString("dd MMMM yyyy")</td>
                <td>@rec.Tarif.Name</td>
                <td>@rec.Summa</td>
            </tr>
        }
        */
    </tbody>
</table>
*@