﻿@{
    ViewBag.Title = "Оплата";
}

@section head
{    
    @Scripts.Render("~/Content/js/sha1.js") 
}

@section banner
{
	<style>
		#banner {	height: 200px;	}
	</style>

   <div id="banner">   </div>
}

<div class="container">	
    <div id="text_area">
	    <div class="block text-center">
		    <h3>Выполняется перенаправление</h3>

            <form id="PaySubmitForm" name="PaySubmitForm" action = "https://secure.sandbox.webpay.by:8843" method="Post">

                <input type="hidden" name="*scart">  
                <input type="hidden" name="wsb_version" value="2">  
                <input type="hidden" name="wsb_language_id" value="russian">  
                <input type="hidden" name="wsb_storeid" value="249227470" >  
                <input type="hidden" name="wsb_store" value="ООО &quot;АйДиСмарт&quot;">
                <input type="hidden" name="wsb_test" value="@ViewBag.test">  
                <input type="hidden" name="wsb_currency_id" value="BYR"> 
                <input type="hidden" name="wsb_return_url" value="http://idsmart.by/Home/Success">  
                <input type="hidden" name="wsb_cancel_return_url" value="http://idsmart.by/Home/Cancel">  
                <input type="hidden" name="wsb_notify_url" value="http://idsmart.by/Home/Notify"> 
                 
                <input type="hidden" name="wsb_email" value="@ViewBag.email" >  
                <input type="hidden" name="wsb_phone" value="@ViewBag.phone" >
                <input type="hidden" name="wsb_order_num" value="@ViewBag.Order_id"> 
       
                @{int i = 0;}
				@foreach (var item in ViewBag.SelectedGoodsList)
                {
                    <input type="hidden" name="wsb_invoice_item_name[@i]" value="@item.Name"> 
                    <input type="hidden" name="wsb_invoice_item_price[@i]" value="@item.Price"> 
                    <input type="hidden" name="wsb_invoice_item_quantity[@i]" value="@item.Months">
                    i++;
                }
                        
                <input type="hidden" name="wsb_total" value="@ViewBag.total_price"> 
                <input type="hidden" name="wsb_seed" value="@ViewBag.seed">   
                <input type="hidden" name="wsb_signature" value="@ViewBag.signature">
                <input type="submit" value="Купить">
            </form>
            <script>
                document.getElementById("PaySubmitForm").submit();
            </script>
	    </div>
    </div>
</div>


@section scripts
{

}