﻿@model WebSite.WebServiceReference.WSPupil
@{  
    ViewBag.Title = "Pupil";
    string active = "active";
}

<div class="block">
    <h3 class="block-title">@ViewBag.Pupil.Name</h3>
    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <td width="224" rowspan="3" valign="middle">
                    <img src="/Client/PupilPhoto" width="90%" height="100%" class="img-polaroid"></td>
                <td width="370" align="right" valign="middle">
                    <p><strong>Учебное заведение:</strong></p>
                </td>
                <td width="483" valign="middle">
                    <p>@ViewBag.Pupil.School.Name</p>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <p><strong>Класс:</strong></p>
                </td>
                <td valign="middle">
                    <p>@ViewBag.Pupil.Unit.Name</p>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <p><strong>Руководитель:</strong></p>
                </td>
                <td valign="middle">
                    <p>@ViewBag.Pupil.Unit.Boss</p>
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
    <div class="tabbable">
        <ul class="nav nav-tabs" id="pTab">
            <li class="active">
                <a href="#tab1" data-toggle="tab">Оценки</a>
            </li>
            <li>
                <a href="#tab2" data-toggle="tab">Домашнее задание</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                @if (Model.Tarifs.FirstOrDefault(s => s.IsBalls) != null)
                {
                    <div id="calendar"></div>
                    <hr />
                    <div id="quarterAllBalls"></div>
                }
                else
                {
                    <div class="alert">Сервис не доступен.</div>
                }
            </div>
            <div class="tab-pane" id="tab2">
                @if (Model.Tarifs.FirstOrDefault(s => s.IsTasks) != null)
                {
                    <div id="calendarFilterBox" style="width: 615px;"></div>
                    <hr />
                    <div id="taskDiv"></div>
                }
                else
                {
                    <div class="alert">Сервис не доступен.</div>
                }
            </div>
        </div>
    </div>
</div>

@section head
{
    @Styles.Render("~/Content/css/fullcalendar.css")
    @Styles.Render("~/Content/css/jquery.calendarPicker.css")
    @*@Styles.Render("http://code.jquery.com/ui/1.10.2/themes/ui-lightness/jquery-ui.css")*@
    @Scripts.Render("http://code.jquery.com/ui/1.10.2/jquery-ui.js")
    @Scripts.Render("~/Content/js/fullcalendar.min.js")
    @Scripts.Render("~/Content/js/jquery.calendarPicker.js")

    @if (Model.Tarifs.FirstOrDefault(s => s.IsBalls) != null)
    {
        <script>
            $(document).ready(function () {
                $.ajax({
                    'url': '/Client/QuarterAllBalls',
                    'type': 'GET',
                    'success': function (result) {
                        $('#quarterAllBalls').html(result);
                        return false;
                    }
                });
            });
        </script>
    }
    @if (Model.Tarifs.FirstOrDefault(s => s.IsTasks) != null)
    {
        <script>
            $(document).ready(function () {
                $(function () {
                    $("#calendarFilterBox").calendarPicker({
                        monthNames: ["Янв", "Фев", "Март", "Апр", "Май", "Июнь", "Июль", "Авг", "Сент", "Окт", "Ноя", "Дек"],
                        dayNames: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                        useWheel: true,
                        //callbackDelay: 500,
                        years: 1,
                        months: 3,
                        days: 4,
                        showDayArrows: false,
                        callback: function (cal) {
                            //alert(cal.currentDate);
                            //$("#mydate").html(cal.currentDate + "");
                            $.ajax({
                                'url': '/Client/Task',
                                'type': 'GET',
                                'data': { date: $.datepicker.formatDate("dd.mm.yy", cal.currentDate) },
                                'success': function (result) {
                                    $('#taskDiv').html(result);
                                    return false;
                                }
                            });
                        }
                    });
                });
            });
        </script>
    }
}
