﻿@model List<System.Linq.IGrouping<string, WebSite.WebServiceReference.WSBall>>

<div class="block">
    <table class="table table-hover table-bordered">
        <caption>
            <h4>@ViewBag.QuarterTitle</h4>
        </caption>
        <thead>
            <tr>
                <td><strong>#</strong></td>
                <td><strong>Предмет</strong></td>
                <td><strong>Оценки</strong></td>
                <td><strong>Средняя</strong></td>
                @*<td width="60"><strong>Планируемые</strong></td>
                <td><strong>Средняя</strong></td>*@
            </tr>
        </thead>
        <tbody>
            @{ int i = 1; }
            @foreach (var item in Model)
            {
                decimal sred = 0;
                <tr>
                    <td>@i</td>
                    <td>@item.Key</td>
                    <td>
                        @foreach (var ball in item)
                        {
                            <span class="badge badge-info">@ball.Ball</span>
                            {
                                decimal p;
                                decimal.TryParse(ball.Ball, out p);
                                sred += p;
                            }
                        }
                    </td>
                    @{
                        decimal result = sred/item.Count();
                    }
                    <td><span class="badge badge-info">@result.ToString("N2")</span></td>
                    @*<td>
                        <input type="text" class="input-vsmall" placeholder="">
                        <input type="text" class="input-vsmall" placeholder="">
                        <input type="text" class="input-vsmall" placeholder="">
                        <input type="text" class="input-vsmall" placeholder="">
                    </td>*@
                    @*<td valign="middle"><span class="badge badge-important">7</span></td>*@
                </tr>
                        {
                            i++;
                        }
            }

            <tr>
                <td colspan="6">
                    <span class="badge badge-warning">9</span> - временная оценка   
                    <span class="badge badge-info">9</span> - постоянная оценка
                </td>
            </tr>


        </tbody>
    </table>
</div>
