﻿@model WebSite.Models.SetChildModel

@{
    ViewBag.Title = "Добавить ребенка";
}

<div class="account-container">
    <div class="content clearfix">
        @using (Html.BeginForm("SetChild", "Client", null, FormMethod.Post, new { @class = "form-horizontal", @id = "SetChildForm" })) 
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <h2>Зарегистрировать ребенка</h2>
            <hr>
            @ViewBag.School
             if (!String.IsNullOrEmpty(ViewBag.Errors))
             {    @ViewBag.Errors    }
            
			<div class="form-group">
                @Html.LabelFor(m => m.School_ID, new { @class = "control-label col-xs-5" })
				<div class="col-xs-7">
                    @Html.DropDownListFor(m => m.School_ID, new SelectList(ViewBag.Schools, "Код", "Наименование"), new { @class = "form-control", @id = "SchoolSelect"})
				</div>
			</div>
			<div class="form-group">
                @Html.LabelFor(m => m.Unit_ID, new { @class = "control-label col-xs-5" })
				<div class="col-xs-7" id="UnitSelect">
                    @Html.DropDownListFor(m => m.Unit_ID,
                        new SelectList( new List<Object> { new { Код = "0" , Наименование = "1А класс" } }, "Код", "Наименование"),
                        new { @class = "form-control"})
				</div>
			</div>
            <div class="form-group">
                @Html.LabelFor(m => m.Fullname_1, new { @class = "control-label col-xs-5" })
                <div class="col-xs-7">
                    @Html.TextBoxFor(m => m.Fullname_1, new { @class = "form-control", @placeholder = "Фамилия"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Fullname_2, new { @class = "control-label col-xs-5" })
                <div class="col-xs-7">
                    @Html.TextBoxFor(m => m.Fullname_2, new { @class = "form-control", @placeholder = "Имя"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Fullname_3, new { @class = "control-label col-xs-5" })
                <div class="col-xs-7">
                    @Html.TextBoxFor(m => m.Fullname_3, new { @class = "form-control", @placeholder = "Отчество"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Card_ID, new { @class = "control-label col-xs-5" })
                <div class="col-xs-7">
                    @Html.TextBoxFor(m => m.Card_ID, new { @class = "form-control", @placeholder = "111.22222"})
                    <br> <img src="@Url.Content("~/Content/img/card.gif")" style="height: 128px" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-1 col-xs-3">
                    @Html.ActionLink("Отмена", "Active_chk", "Account", new { ReturnUrl = "/Client/Index" }, new { @class="btn btn-default btn-lg", @role="button" })
                </div>
                
			    <div class="col-xs-offset-4 col-xs-4">
				    <button type="submit" class="btn btn-default btn-lg">Добавить</button>
			    </div>
		    </div>
            
        }
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                'url': '/Client/GetUnits',
                'type': 'POST',
                'dataType': 'html',
                'data': { school: $('#SchoolSelect').val() },
                'success': function (data) {
                    $('#UnitSelect').html(data);
                }
            });

            $('#SchoolSelect').on('change', (function () {
                $.ajax({
                    'url': '/Client/GetUnits',
                    'type': 'POST',
                    'dataType': 'html',
                    'data': { school: $('#SchoolSelect').val() },
                    'success': function (data) {
                        $('#UnitSelect').html(data);
                    }
                });
            }));
        });
         
        @*
            $("#SetChildForm").validate({
                rules: {
                    email: { required: true, email: true },
                    phone: { required: true, digits: true, minlength: 9, maxlength: 9 },
                    GoodsSelect_0: "required"
                },
                messages: {
                    email: {
                        required: "Введите адрес электронной почты",
                        email: "Введите корректный адрес"
                    },
                    phone: {
                        required: "Введите свой телефон",
                        digits: "Вводите только цифры",
                        minlength: "Введите ровно 9 цифр",
                        maxlength: "Введите ровно 9 цифр"
                    },
                    GoodsSelect_0: "Выберите услугу"
                }
            });
        *@
    </script>
}
@*
<div class="form-group">
    @Html.LabelFor(m => m.School_ID, new { @class = "control-label col-xs-5" })
	<div class="col-xs-7">
        @Html.DropDownListFor(m => m.School_ID, new SelectList(
                new List<Object>{ 
                    new { value = "1" , text = "Гимназия №8"  },
                    new { value = "2" , text = "Гимназия №1" }
                },
                "ID", "Name"),
            new { @class = "form-control"})
	</div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Class_Name, new { @class = "control-label col-xs-5" })
	<div class="col-xs-7">
        @Html.TextBoxFor(m => m.Class_Name, new { @class = "form-control", @placeholder = "1А"})
	</div>
</div>            
*@