﻿@{
    ViewBag.Title = "Список платежей";
}

<div class="container">	
    <div id="text_area">
        <div class="block text-justify">
            <h3>Статистика платежей</h3>
            @if(ViewBag.Payments.Count > 0)
            {
                <h4>@ViewBag.Payments[0].Ученик.Наименование </h4>
            }
            <hr>
            <a role="button" class="btn btn-default" id="printBtn">Распечатать</a>
            
            <style>
                table { width: 800px; }
                th {
                    text-align: center;

                }
                .time_str { text-align: center; }
                td, th {
                    padding: 3px;
                    border: 1px solid gray;                        
                }
            </style>

            <h4> @ViewBag.Error </h4>

            <div id="toPrint">
                <h4 class="onlyPrint"> 
                    Статистика платежей
                </h4>
                
                <table @*id="ReportTable" class="tablesorter"*@>
                    <thead>
                        <tr>
                            <th> № </th>
                            @*<th><strong>Ученик</strong></th>*@
                            <th><strong>Тариф</strong></th>
                            <th><strong>Дата оплаты</strong></th>
                            <th><strong>Сумма</strong></th>
                            <th><strong>Дата окончания</strong></th>
                        </tr>
                    </thead>
                    <tbody>  
                        @if(ViewBag.Payments.Count > 0)
                        {
                            int i = 1;
                            foreach (var payment in ViewBag.Payments)
                            {
                                <tr>
                                    <td> @i </td>
                                    @*<td> @payment.Ученик.Наименование </td>*@
                                    <td> @payment.Тариф.Наименование </td>
                                    <td> @payment.Дата.ToString("dd.MM.yyyy") </td>
                                    <td> @payment.Сумма </td>
                                    <td> @payment.ДатаОкончания.ToString("dd.MM.yyyy") </td>
                                </tr>
                                i++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="padding: 50px"> </div>

@section Scripts { 
    <script>
        $(document).ready(function () {

        });
    </script>
}
