﻿@model List<WebSite.WebServiceReference.WSTask>

@if (Model.Count > 0)
{
    <table class="table table-bordered table-hover">
        <caption>
        </caption>
        <thead>
            <tr>
                <th>#</th>
                <th>Предмет</th>
                <th>Задание</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1; }
            @foreach (var item in Model)
            {
                <tr class="info">
                    <td>@i</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                </tr>

                {
                    i++;
                }
            }
        </tbody>
    </table>
}
else
{
    <p>@ViewBag.Date.ToString("dd MMMM yyyy")  Домашнее задание не задано.</p>
}