﻿@model List<WebSite.WebServiceReference.WSPay>
@{
    ViewBag.Title = "Альбом класса";
}

<div class="container">	
    <div id="text_area">
        <div class="block text-justify">
            <h3>Альбом класса</h3>
            <hr>
            @ViewBag.Error

            @if (ViewBag.Flag != 1)
            {
                using (Html.BeginForm("Album", "Operator", null, FormMethod.Post, new { @class = "form-horizontal", @id = "AlbumForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <div class="form-group">
                        <label class="control-label col-xs-1">Школа:</label>
                        <div class="col-xs-3">
				            <select class="form-control" name="school" id="SchoolSelect">
					            @foreach (var item in ViewBag.SList)
                                {
						            <option itemid="@item.Код">@item.Наименование </option>
                                }
				            </select>
                        </div>
                    </div>
                
                    <input type="hidden" name="unit_id" id="unit_id"> 
                    <input type="hidden" name="klass" id="klass"> 
                    <div id="UnitSelect">       </div>
                    <br>
                }
            }
            @if (ViewBag.Flag == 1)
            {
                <style>
                    .flex-container {
                        display: -webkit-flex;
                        display: flex;
                        max-width: 98%;
                        justify-content: space-around;
                        align-items: baseline;
                        flex-wrap: wrap;
                        align-content: flex-start;
                    }
                    .flex-block {
                        margin: 10px;
                        margin-bottom: 30px;
                        max-width: 125px;
                    }
                    .flex-block img {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 125px;
                        min-width:125px;
                        min-height:125px;
                        border:1px solid darkgray;
                    }
                </style>
                using (Html.BeginForm("Album", "Operator", null, FormMethod.Post, new { @class = "form-horizontal", @id = "AlbumForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                
                    <div class="form-group">  
                        <label class="control-label col-xs-3"> @ViewBag.School,  @ViewBag.Klass</label>    
                        <div class="col-xs-2">
                            @Html.ActionLink("Выбрать класс", "Album", "Operator", new { school = ViewBag.School }, new { @class="btn btn-default", @role="button" })
                        </div>
                    </div>
                    
                    <input type="hidden" name="school" id="school" value="@ViewBag.School">  
                    <input type="hidden" name="unit_id" id="unit_id" value="@ViewBag.UnitID">    
                    <input type="hidden" name="klass" id="klass" value="@ViewBag.Klass">  
                    
                    <br>
                }
                if (ViewBag.Error == null)
                {
                    <div class="flex-container">
                        @foreach (var item in ViewBag.Pupils)
                        {
                            <div class="flex-block">
                                <img alt="Нет фото" src="@Url.Content("~/Images/Pupils/" + item.Код + ".jpg")" />
                                <p style="text-align:center">
                                    @item.Фамилия <br>
                                    @item.Имя <br>
                                    @item.Отчество <br>
                                    @if (item.ДеньРождения.ToString("dd.MM") == ViewBag.Today.ToString("dd.MM"))
                                    {
                                        <b style="color:green">@item.ДеньРождения.ToString("dd.MM.yyyy")</b>
                                    }
                                    else if (item.ДеньРождения.ToString("dd.MM") == ViewBag.Tomorrow.ToString("dd.MM"))
                                    {
                                        <b style="color:orange">@item.ДеньРождения.ToString("dd.MM.yyyy")</b>
                                    }
                                    else if (item.ДеньРождения.ToString("dd.MM") == ViewBag.Tomorrow2.ToString("dd.MM"))
                                    {
                                        <b style="color:red">@item.ДеньРождения.ToString("dd.MM.yyyy")</b>
                                    }
                                    else
                                    {
                                        @item.ДеньРождения.ToString("dd.MM.yyyy")
                                    }
                                </p>
                            </div>
                        }
                    </div>
                    @*
                    <table class="table table-bordered">
                        <tbody> 
                                    <tr>  
                                        <td>
                                            
                                        </td>
                                    </tr>
                        </tbody>
                    </table>                
                    *@
                }
            }
        </div>
    </div>
</div>
<div style="padding: 50px"> </div>


@section scripts
{
    <script>
        $(document).ready(function () {
            if ('@ViewBag.School' != '')
            { $('#SchoolSelect').val('@ViewBag.School'); }

            $('#UnitSelect').on('click', '.klass_btn', (function () {
                var x = $(this).attr('itemid');
                $("#unit_id").val(x);
                var y = $(this).val();
                $("#klass").val(y);
            }));

            $.ajax({
                'url': '/Operator/GetUnitsGrid',
                'type': 'POST',
                'dataType': 'html',
                'data': { school: $('#SchoolSelect').find("option:selected").attr('itemid') },
                'success': function (data) {
                    $('#UnitSelect').html(data);
                }
            });            
        });

        $('#SchoolSelect').on('change', (function () {
            $.ajax({
                'url': '/Operator/GetUnitsGrid',
                'type': 'POST',
                'dataType': 'html',
                'data': { school: $('#SchoolSelect').find("option:selected").attr('itemid') },
                'success': function (data) {
                    $('#UnitSelect').html(data);
                }
            });
        }));

    </script>
}

