﻿@*
@model WebSite.Models.SetChildModel
@Html.DropDownListFor(m => m.Unit_ID, new SelectList(ViewBag.Units, "ID", "Name"), new { @class = "form-control", @id = "UnitSel"})
*@
<table class="table classes">                    
    <tbody>
        @foreach (var parallel in ViewBag.Units)
        {
            <tr>
                @foreach (var unit in parallel)
                {
                    <td> <input type="submit" class="klass_btn btn btn-default" value="@unit.Наименование" itemid="@unit.Код" /> </td>
                }
            </tr>
        }
    </tbody>
</table>