﻿@* @Html.DropDownListFor(m => m.Unit_ID, new SelectList(ViewBag.Units, "ID", "Name"), new { @class = "form-control", @id = "UnitSel"}) *@

<select class="form-control" name="unit_id" id="UnitSelect">
    @if(ViewBag.Whole == 1)
    {        
    <option value="0">Вся школа</option>
    }
	@foreach (var item in ViewBag.Units)
    {
		<option value="@item.Код" item_name="@item.Наименование">@item.Наименование</option>
    }
</select>