﻿@model List<WebSite.WebServiceReference.WSPay>
@{
    ViewBag.Title = "Домашние задания";
}

<div class="container">	
    <div id="text_area">
        <div class="block text-justify">
            <h3>Домашние задания</h3>
            <hr>
            @ViewBag.Error

            @if (ViewBag.Flag != 1)
            {
                using (Html.BeginForm("Hometask", "Operator", null, FormMethod.Post, new { @class = "form-horizontal", @id = "HometaskForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <div class="form-group">
                        <label class="control-label col-xs-1">Школа:</label>
                        <div class="col-xs-3">
				            <select class="form-control" name="school" id="SchoolSelect">
					            @foreach (var item in ViewBag.SList)
                                {
						            <option itemid="@item.Код">@item.Наименование </option>
                                }
				            </select>
                        </div>
                        <label class="control-label col-xs-1">Дата:</label>
                        <div class="col-xs-3">
                            <div class="input-group date" id="datepicker">
                                @Html.TextBox("date", (string)ViewBag.Date, new { @class = "form-control", @id = "DateSelect" })
                                <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                            </div>
                        </div>
                    </div>
                
                    <input type="hidden" name="unit_id" id="unit_id"> 
                    <input type="hidden" name="klass" id="klass"> 
                    <div id="UnitSelect">       </div>
                    <br>
                }
            }
            @if (ViewBag.Flag == 1)
            {
                using (Html.BeginForm("Hometask", "Operator", null, FormMethod.Post, new { @class = "form-horizontal", @id = "HometaskForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                
                    <div class="form-group">                        
                        <label class="control-label col-xs-1">Дата:</label>
                        <div class="col-xs-3">
                            <div class="input-group date" id="datepicker">
                                @Html.TextBox("date", (string)ViewBag.Date.ToString("dd.MM.yyyy"), new { @class = "form-control" })
                                <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                            </div>
                        </div>    
                        <div class="col-xs-1">
                            <input type="submit" class="btn btn-default" value="Перейти" />
                        </div>
                        <label class="control-label col-xs-3"> @ViewBag.School,  @ViewBag.Klass</label>    
                        <div class="col-xs-2">
                            @Html.ActionLink("Выбрать класс", "Hometask", "Operator", new { school = ViewBag.School }, new { @class="btn btn-default", @role="button" })
                        </div>
                    </div>
                    
                    <input type="hidden" name="school" id="school" value="@ViewBag.School">  
                    <input type="hidden" name="unit_id" id="unit_id" value="@ViewBag.UnitID">    
                    <input type="hidden" name="klass" id="klass" value="@ViewBag.Klass">  
                    
                    <br>
                }
                if (ViewBag.Error == null)
                {
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="5%"> Урок</th>
                                <th width="25%"> Предмет </th>
                                <th> Домашнее задание </th>
                            </tr>
                        </thead>
                        <tbody> 
                                @{ int i = 1; }
                                @foreach (var item in ViewBag.Hometasks)
                                {
                                    <tr>  
                                        <td> @i </td>
                                        <td> @item.Предмет.Наименование @* = @item.Subject.ID *@ </td>
                                        <td class="editable" id="tasks" data-type="text" data-name="@ViewBag.UnitID" data-pk="@item.Предмет.Код" data-params="{date:'@ViewBag.Date'}" data-url="/Operator/EditHomeTask" data-onblur="submit" data-clear="false" data-showbuttons="false" data-toggle="click" data-emptytext="..."> @item.Задание </td>
                                    </tr>
                                    i++;
                                }
                        </tbody>
                    </table>                
                }
            }
        </div>
    </div>
</div>
<div style="padding: 50px"> </div>


@section scripts
{
    @Scripts.Render("~/Content/js/moment.js")    
    @Scripts.Render("~/Content/js/moment.ru.js")    
    @Scripts.Render("~/Content/js/bootstrap-datetimepicker.min.js") 
    <script>
        $(function () {
            $('#datepicker').datetimepicker({ pickTime: false });
        });

        $(document).ready(function () {
            if ('@ViewBag.School' != '')
            { $('#SchoolSelect').val('@ViewBag.School'); }
            $('#DateSelect').val(moment().format("DD.MM.YYYY"));

            $('#UnitSelect').on('click', '.klass_btn', (function () {
                var x = $(this).attr('itemid');
                $("#unit_id").val(x);
                var y = $(this).val();
                $("#klass").val(y);
            }));

            $.ajax({
                'url': '/Operator/GetUnitsGrid',
                'type': 'POST',
                'dataType': 'html',
                'data': { school: $('#SchoolSelect').find("option:selected").attr('itemid') },
                'success': function (data) {
                    $('#UnitSelect').html(data);
                }
            });
            
            $.validator.addMethod("IsDate", function (value, element) {
                return /^\d\d\.\d\d\.\d\d\d\d$/.test(value);
            }, "Введите дату в формате dd.mm.yyyy (например: 31.12.1999)");
            
            $("#HometaskForm").validate({
                rules: {
                    date: { required: true, IsDate: true }
                },
                messages: {
                    date: { required: "Введите дату" }
                }
            });
        });

        $('#SchoolSelect').on('change', (function () {
            $.ajax({
                'url': '/Operator/GetUnitsGrid',
                'type': 'POST',
                'dataType': 'html',
                'data': { school: $('#SchoolSelect').find("option:selected").attr('itemid') },
                'success': function (data) {
                    $('#UnitSelect').html(data);
                }
            });
        }));

    </script>
}

