﻿@{
    ViewBag.Title = "Личный кабинет";
}

@section head
{
    @Styles.Render("~/Content/css/bootstrap-editable.css")
    @Scripts.Render("~/Content/js/bootstrap-editable.min.js")
}

<div class="container">
        <h3>@ViewBag.User</h3>
        <hr>

        <a class="btn btn-lg btn-success" role="button" href="/Operator/Journal"> Журнал </a>
        <a class="btn btn-lg btn-success" role="button" href="/Operator/Hometask"> Домашние задания </a>
        <a class="btn btn-lg btn-success" role="button" href="/Operator/Stats_absence_short"> Статистика </a>
        <a class="btn btn-lg btn-success" role="button" href="/Operator/Album"> Альбом </a>
        <a class="btn btn-lg btn-default disabled" role="button" href="/Operator/Sends"> Рассылка </a>
</div>


@section scripts
{

}
