﻿@model List<WebSite.WebServiceReference.WSPay>
@{
    ViewBag.Title = "Журнал";
}

<div class="container-fluid">	
    <div id="text_area">
        <div class="block text-justify">
            <h3>Журнал: 
                <span id="title"></span>
            </h3>
            <hr>
            
            @if (ViewBag.Flag != 1)
            {
                using (Html.BeginForm("Journal", "Operator", null, FormMethod.Post, new { @class = "form-horizontal", @id = "JournalForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                
                    <div class="form-group">
                        <label class="control-label col-xs-1">Школа:</label>
                        <div class="col-xs-3">
                            <select class="form-control" name="school" id="SchoolSelect">
					            @foreach (var item in ViewBag.SList)
                                {
                                    <option itemid="@item.Код">@item.Наименование</option>
                                }
				            </select>
                        </div>
                    </div>
                
                    <input type="hidden" name="unit_id" id="unit_id">
                    <input type="hidden" name="klass" id="klass"> 
                    <input type="hidden" name="subject" id="subject" value="2">
                    @*<input type="hidden" name="quarter" value=""> *@
                    <div id="UnitSelect"> 
                    </div>
                
                    <br>
                }
            }
            @if (ViewBag.Flag == 1)
            {      
                <style>
                    #toPrint {
                        overflow-x: visible;
                        overflow-y: visible;
                    }
                    table {
                        border: 2px solid DarkGreen;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                    }
                    thead, tfoot {
                        height: 70px;
                    }
                    .border_center { border: 1px solid lightgray; }
                    .border_top { border-top: 2px solid DarkGreen; }
                    .border_left { border-left: 2px solid DarkGreen; }
                    .border_right { border-right: 2px solid DarkGreen; }
                    .border_bottom { border-bottom: 2px solid DarkGreen; }

                    .table_list {
                        max-width: 380px;                        
                        display: block;
                        float: left;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                    }
                    .editableform { width: 70px; }
                    .fio {
                        width: 300px;
                        text-align: left;
                    }
                    .t_row { height: 30px; }
                    .average { max-width: 40px; }
                    .t_months { height: 35px; }
                    .t_days { height: 35px; }
                    th, td {
                        padding: 3px;
                        text-align: center;
                    }
                    .scroll_container {
                        width: calc(100% - 380px);
                        overflow-x: auto;
                        overflow-y: visible;                        
                        display: block;
                        float: left;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                    }
                    #div-1 {
                        border: 1px solid white;
                        width: 360px;
                        display: block;
                        float: left;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                    }
                    #div-2 { 
                        border: 1px solid white;
                        width: calc(100% - 380px);
                        overflow-x: auto;
                        display: block;
                        float: left;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                    }
                    #div-3 {
                        border: 1px solid white;                        
                        overflow-x: visible;
                        width: inherit;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                    }
                </style>
                using (Html.BeginForm("Journal", "Operator", null, FormMethod.Post, new { @class = "form-horizontal", @id = "JournalForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                
                    <div class="form-group">
                        <label class="control-label col-xs-1">Предмет:</label>
                        <div class="col-xs-3">
				            <select class="form-control" name="subject" id="SubjectSelect">
					            @foreach (var item in ViewBag.Subjects)
                 {
						            <option value="@item.Код"> @item.Наименование </option>
                 }
				            </select>
                        </div>
                        
                        <label class="control-label col-xs-1">Четверть:</label>
                        <div class="col-xs-2">
				            <select class="form-control" name="quarter" id="QuarterSelect">
					            @foreach (var item in ViewBag.Quarter)
                 {
						            <option value="@item.Код">@item.Наименование</option>
                 }
				            </select>
                        </div> 
                        <label class="control-label col-xs-3"> @ViewBag.School,  @ViewBag.Klass</label>    
                        <div class="col-xs-2">
                            @Html.ActionLink("Выбрать класс", "Journal", "Operator", new { school = ViewBag.School }, new { @class = "btn btn-default", @role = "button" })
                        </div>
                        @*
                        <a id="dlink"  style="display:none;"></a>
                        <input type="button" onclick="tablesToExcel(['1', '2'], ['first', 'second'], 'Журнал.xls')" value="Экспорт в Excel">
                        *@
                        @*
                        <div class="col-xs-1">
                            <a role="button" class="btn btn-default" id="printBtn">Печатать</a>
                        </div>
                        *@
                    </div>
                    <input type="hidden" name="unit_id" id="unit_id" value="@ViewBag.UnitID"> 
                    <input type="hidden" name="school" id="school" value="@ViewBag.School">  
                    <input type="hidden" name="klass" id="klass" value="@ViewBag.Klass">  
                    <br>
                }
                <h4> @ViewBag.Error </h4>
                
                <div id="div-1">  </div>
                <div id="div-2"> 
                    <div id="div-3">  </div>
                </div>
                <div style="clear: both;"></div>
                
                <div id="toPrint">
                    <table class="table_list">
                        <thead>
                            <tr class="t_head">
                                <th class="chk_buttons border_bottom">
                                    <button class="btn btn-default" id="chk_all"> Выбрать всех </button>
                                    <button class="btn btn-default" id="chk_none"> Убрать всех </button>
                                </th>
                                <th class="average border_bottom border_center"> <div class="vert-text"><div class="vert-text_in"> Всего </div></div> </th>
                                <th class="average border_bottom"> <div class="vert-text"><div class="vert-text_in"> Средняя </div></div> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0; }
                            @foreach (var pupil in ViewBag.Pupils)
                            {
                                <tr class="enabled t_row" id="row_@i">  
                                    <td class="fio border_center">
                                        @if(pupil.ОплаченыОценки == true)
                                        { <input class="chbox" type="checkbox" value="@i" checked id="chk_box_@i"/> }
                                        else
                                        { <input class="chbox" type="checkbox" value="@i" id="chk_box_@i"/> }
                                        @(i + 1). @pupil.Наименование @* = @item.ID *@
                                    </td>
                                    <td class="border_center" id="total_@i"> - </td>
                                    <td class="border_center" id="average_@i"> -,- </td>                                 
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>     
                    <div class="scroll_container">
                        <table class="table_scroll">
                            <thead>
                                <tr class="t_months">
                                    @foreach (var month in ViewBag.Months)
                                    {   <th class="border_center" colspan="@month.span"> @month.name </th>   }
                                </tr>
                                <tr class="t_days">
                                    @{ int d = 0; }
                                    @foreach (var item in ViewBag.Days)
                                    {
                                        <th class="border_center border_bottom" id="day_@d">
                                            @item.ToString("dd")
                                        </th>
                                        d++;
                                    }
                                </tr>
                            </thead>
                            <tfoot>
                                <tr class="t_months">
                                    @foreach (var month in ViewBag.Months)
                                    {   <th class="border_center border_top" colspan="@month.span"> @month.name </th>   }
                                </tr>
                                <tr class="t_days">
                                    @{ d = 0; }
                                    @foreach (var item in ViewBag.Days)
                                    {
                                        <th class="border_center" id="day2_@d">
                                            @item.ToString("dd")
                                        </th>
                                        d++;
                                    }
                                </tr>
                            </tfoot>
                            <tbody>
                                @{ i = 0; }
                                @foreach (var pupil in ViewBag.Pupils)
                                {
                                    <tr class="enabled t_row" id="row_r_@i">                                 
                                        @{ int j = 0; }
                                        @foreach (var day in ViewBag.Days)
                                        {
                                            <td class="editable marks border_center" id="marks_@i-@j" idrow="@i" idcol="@j" data-type="text" data-name="@ViewBag.Subject" data-pk="@pupil.Код" data-params="{date:'@day.ToString("dd.MM.yyyy")'}" data-url="/Operator/EditJournal" data-onblur="submit" data-clear="false" data-showbuttons="false" data-toggle="click" data-emptytext="...">
                                                @foreach (var mark in ViewBag.Marks[i])
                                                {
                                                    if (day.ToString("dd.MM.yyyy") == mark.Период.ToString("dd.MM.yyyy"))
                                                    {   @mark.Оценка   }
                                                }
                                            </td>
                                            j++;
                                        }
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>    
                        <br>
                    </div>      
                </div>        
            }
        </div>
    </div>
</div>
<div style="padding: 50px"> </div>


@section scripts
{
    @Scripts.Render("~/Content/js/moment.js")    
    @Scripts.Render("~/Content/js/moment.ru.js") 
    <script>
        $(document).ready(function () {
            
            if ('@ViewBag.School' != '')
            {   $('#SchoolSelect').val('@ViewBag.School');  }
            $('#SubjectSelect').val('@ViewBag.Subject');
            $('#title').html($('#SubjectSelect>option:selected').html());
            $('#QuarterSelect').val('@ViewBag.QuarterSel');

            $('#UnitSelect').on('click', '.klass_btn', (function () {
                var x = $(this).attr('itemid');
                $("#unit_id").val(x);
                var y = $(this).val();
                $("#klass").val(y);
            }));                   

            $('#SchoolSelect').on('change', (function () {
                $.ajax({
                    'url': '/Operator/GetUnitsGrid',
                    'type': 'POST',
                    'dataType': 'html',
                    'data': { school: $('#SchoolSelect').find("option:selected").attr('itemid') },
                    'success': function (data) {
                        $('#UnitSelect').html(data);
                    }
                });
            }));

            $.ajax({
                'url': '/Operator/GetUnitsGrid',
                'type': 'POST',
                'dataType': 'html',
                'data': { school: $('#SchoolSelect').find("option:selected").attr('itemid') },
                'success': function (data) {
                    $('#UnitSelect').html(data);
                }
            });

            if ('@ViewBag.Flag' == 1) {

                var w = $('.scroll_container').width();
                $('.scroll_container').scrollLeft(w);
                w = $('.table_scroll').width();
                $('#div-3').width(w);

                for (i = 0; i < 33; i++) {
                    var h = $('#row_' + i).height();
                    $('#row_r_' + i).height(h);

                    if ($("#row_" + i + " .chbox").is(':checked')) {
                        $("#row_" + i).attr('class', "enabled t_row");
                        $("#row_r_" + i).attr('class', "enabled t_row");
                    } else {
                        $("#row_" + i).attr('class', "disabled t_row");
                        $("#row_r_" + i).attr('class', "disabled t_row");
                    }
                }

                $('#SubjectSelect').on('change', (function () {
                    $('#JournalForm').submit();
                }));

                $('#QuarterSelect').on('change', (function () {
                    $('#JournalForm').submit();
                }));

                $('.scroll_container').on('scroll', (function () {
                    //alert('рас');
                    $('#div-2').scrollLeft($(this).scrollLeft());
                }));

                $('#div-2').on('scroll', (function () {
                    //alert('два');
                    $('.scroll_container').scrollLeft($(this).scrollLeft());
                }));

                $(".table_scroll td").hover(
                    function (event) {
                        var row = $(this).attr('idrow');
                        var col = $(this).attr('idcol');

                        $("#row_" + row).addClass('selected');
                        $("#day_" + col).addClass('selected');
                        $("#day2_" + col).addClass('selected');


                        for (i = 0; i < 33; i++) {
                            if (i != row) {
                                $("#marks_" + i + "-" + col).addClass('selected');
                            }
                        }
                        for (j = 0; j < 99; j++) {
                            if (j != col) {
                                $("#marks_" + row + "-" + j).addClass('selected');
                            }
                        }
                    },
                    function (event) {
                        var row = $(this).attr('idrow');
                        var col = $(this).attr('idcol');

                        $("#row_" + row).removeClass('selected');
                        $("#day_" + col).removeClass('selected');
                        $("#day2_" + col).removeClass('selected');

                        for (i = 0; i < 33; i++) {
                            if (i != row) {
                                $("#marks_" + i + "-" + col).removeClass('selected');
                            }
                        }
                        for (j = 0; j < 99; j++) {
                            if (j != col) {
                                $("#marks_" + row + "-" + j).removeClass('selected');
                            }
                        }
                    }
                );

                $(".chbox").change(function () {
                    var r = $(this).val();
                    if ($(this).is(':checked')) {
                        $("#row_" + r).attr('class', "enabled t_row");
                        $("#row_r_" + r).attr('class', "enabled t_row");
                    } else {
                        $("#row_" + r).attr('class', "disabled t_row");
                        $("#row_r_" + r).attr('class', "disabled t_row");
                    }
                });

                var Fresh_arr = JSON.parse('@Html.Raw(Json.Encode(ViewBag.Fresh_arr))');

                setInterval(function () {
                    for (i = 0; i < 33; i++) {
                        var kol = 0;
                        var sum = 0;
                        for (j = 0; j < 99; j++) {
                            var mark = $('#marks_' + i + '-' + j).html();

                            if (typeof mark !== "undefined" & mark != "...") {
                                if (/-/.test(mark) == true) {
                                    $('#marks_' + i + '-' + j).css('color', "red");
                                }
                                else {
                                    $('#marks_' + i + '-' + j).css('color', "black");
                                }
                            }
                            
                            if (typeof mark !== "undefined" & mark != "...") {
                                if (/Н|НН|НУ|НБ/.test(mark) == false | /н\/а/.test(mark) == true) {
                                    //if (Fresh_arr[i][j] != 1) {
                                    $('#marks_' + i + '-' + j).css('background-color', "white");
                                    if (/зач|н\/а/.test(mark) == false) {
                                        var marks = mark.split(/\/|\\/);
                                        for (n = 0; n < marks.length; n++) {
                                            sum += parseInt(marks[n]);
                                            kol++;
                                        }
                                    }
                                }
                                else {
                                    //if ($('#marks_' + i + '-' + j).attr('class') == "selected") {
                                    $('#marks_' + i + '-' + j).css('background-color', "lightblue");
                                }
                            }
                            if (typeof mark !== "undefined" & mark != "..." & Fresh_arr[i][j] == 1) {
                                $('#marks_' + i + '-' + j).css('font-weight', "bold");
                                $('#marks_' + i + '-' + j).css('background-color', "lightgreen");
                            }
                        }

                        $('#total_' + i).html("<b>" + kol + "</b>");
                        if (kol > 0)
                        { $('#average_' + i).html("<b>" + (sum / kol).toFixed(2) + "</b>"); }
                        else
                        { $('#average_' + i).html("<b> -,- </b>"); }
                    }
                }, 1000);

                $("#chk_all").click(function () {
                    for (var r = 0; r < 30; r++) {
                        $("#row_" + r).attr('class', "enabled t_row");
                        $("#row_r_" + r).attr('class', "enabled t_row");
                        $("#chk_box_" + r).prop('checked', true);
                    }
                });

                $("#chk_none").click(function () {
                    for (var r = 0; r < 30; r++) {
                        $("#row_" + r).attr('class', "disabled t_row");
                        $("#row_r_" + r).attr('class', "disabled t_row");
                        $("#chk_box_" + r).prop('checked', false);
                    }
                });

                /*
                $(".export_button").click(function () {
                    $("#table2excel").table2excel({
                        // exclude CSS class
                        exclude: ".noExl",
                        name: "Worksheet Name",
                        filename: "SomeFile" //do not include extension
                    });
                });
                */
                /*
                var tablesToExcel = (function () {
                    var uri = 'data:application/vnd.ms-excel;base64,'
                    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets>'
                    , templateend = '</x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head>'
                    , body = '<body>'
                    , tablevar = '<table>{table'
                    , tablevarend = '}</table>'
                    , bodyend = '</body></html>'
                    , worksheet = '<x:ExcelWorksheet><x:Name>'
                    , worksheetend = '</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet>'
                    , worksheetvar = '{worksheet'
                    , worksheetvarend = '}'
                    , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                    , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
                    , wstemplate = ''
                    , tabletemplate = '';

                    return function (table, name, filename) {
                        var tables = table;

                        for (var i = 0; i < tables.length; ++i) {
                            wstemplate += worksheet + worksheetvar + i + worksheetvarend + worksheetend;
                            tabletemplate += tablevar + i + tablevarend;
                        }

                        var allTemplate = template + wstemplate + templateend;
                        var allWorksheet = body + tabletemplate + bodyend;
                        var allOfIt = allTemplate + allWorksheet;

                        var ctx = {};
                        for (var j = 0; j < tables.length; ++j) {
                            ctx['worksheet' + j] = name[j];
                        }

                        for (var k = 0; k < tables.length; ++k) {
                            var exceltable;
                            if (!tables[k].nodeType) exceltable = document.getElementById(tables[k]);
                            ctx['table' + k] = exceltable.innerHTML;
                        }

                        //document.getElementById("dlink").href = uri + base64(format(template, ctx));
                        //document.getElementById("dlink").download = filename;
                        //document.getElementById("dlink").click();

                        window.location.href = uri + base64(format(allOfIt, ctx));

                    }
                })();
                */
            }

        } )
    </script>
}

