﻿@model List<WebSite.WebServiceReference.WSPay>
@{
    ViewBag.Title = "Посещаемость";
}

<div class="container">	
    <div id="text_area">
        <div class="block text-justify">
            <h3>Отчет посещений</h3>
            <hr>
            @using (Html.BeginForm("Stats_absence_short", "Operator", null, FormMethod.Post, new { @class = "form-horizontal", @id = "AbsenceForm" })) 
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
    
                <div class="form-group">
                    <label class="control-label col-xs-1">Дата С:</label>
                    <div class="col-xs-2">
                        <div class="input-group date" id="datepicker1">
                            @Html.TextBox("date1", (string)ViewBag.Date1, new { @class = "form-control", @id = "Date1Select" })
                            <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                        </div>
                    </div>
                    
                    <label class="control-label col-xs-2">Дата по:</label>
                    <div class="col-xs-2">
                        <div class="input-group date" id="datepicker2">
                            @Html.TextBox("date2", (string)ViewBag.Date2, new { @class = "form-control", @id = "Date2Select" })
                            <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-1">Школа:</label>
                    <div class="col-xs-3">
				        <select class="form-control" name="school" id="SchoolSelect">
					        @foreach (var item in ViewBag.SList)
                            {
						        <option value="@item.Код" item_name="@item.Наименование">@item.Наименование</option>
                            }
				        </select>
                    </div>
                    <label class="control-label col-xs-1">Класс:</label>
                    <div class="col-xs-2" id="UnitDropDown">
				        <select class="form-control" name="unit_id" id="UnitSelect">
					        <option value="0">1А класс</option>
				        </select>
                        @* @Html.TextBox("klass", (string)ViewBag.Klass, new { @class = "form-control", placeholder="1А, 1Б, и т.д." }) *@
                    </div>
                </div>
                
                if (ViewBag.FIO != "")
                {
                    <h4> Выбран учащийся @ViewBag.FIO
                        <a  class="btn btn-default" role="button" href="/Operator/Stats_absence_long?date1=@ViewBag.Date1&amp;date2=@ViewBag.Date2&amp;school=@ViewBag.School&amp;unit_id=@ViewBag.Unit"> Отмена </a>
                    </h4>
                }
                <input type="hidden" name="FIO" value="@ViewBag.FIO">
                
                <div class="form-group">
                    <label class="control-label col-xs-2">Тип отчета:</label>
                    <div class="col-xs-4">
				         <select class="form-control" name="RType" id="ReportType">
					        @foreach (var item in ViewBag.RType)
                            {
						        <option itemid="@item.ID" url="@item.Url">@item.Name</option>
                            }
				        </select>
                    </div>
                    @*<div class="col-xs-offset-1 col-xs-2">*@
                    <div class="col-xs-2">
                        <input type="submit" class="btn btn-primary" value="Сформировать отчет" />
                    </div>
                    <div class="col-xs-2">
                        <input role="button" class="btn btn-default" id="printBtn" value="Распечатать" />
                    </div>
                   
                    <div class="col-xs-2">
                        @*<input role="button" class="btn btn-default"  id="export_button" value="Экспорт в Excel">*@
                        @*
                        <select class="form-control" name="ExpType" id="ExportType">                            
                            <option class="ExportButton" itemid ="0">Экспорт в:</option>
                            <option class="ExportButton" itemid ="1">XLS</option>
                            <option class="ExportButton" itemid ="2">DOC</option>
                            <option class="ExportButton" itemid ="3">TXT</option>
                            <option class="ExportButton" itemid ="4">CSV</option>
                        </select>
                        *@
                         @*
                        <ul>
                            <li> JSON
                            <li> XML
                            <li> PNG
                            <li> CSV
                            <li> TXT
                            <li> SQL
                            <li> MS-Word
                            <li> Ms-Excel
                            <li> Ms-Powerpoint
                            <li> PDF

                          <li><a onclick="exportTo('csv');" href="javascript://">CSV</a></li>
                          <li><a onclick="exportTo('txt');" href="javascript://">TXT</a></li>
                          <li><a onclick="exportTo('xls');" href="javascript://">XLS</a></li>
                          <li><a onclick="exportTo('sql');" href="javascript://">SQL</a></li>
                        </ul>    
                    *@                       
                    </div>            
                </div>
                <br>
            }
            @if(ViewBag.Flag == 1)
            {        
                <style>
                    table { width: 600px; }
                    th { 
                        text-align: center;
                        cursor: pointer;
                    }
                    .time_str { text-align: center; }
                    td, th {
                        padding: 3px;
                        border: 1px solid gray;                        
                    }
                </style>        
                <h4> @ViewBag.Error </h4>
                @*
                foreach (var row in ViewBag.Report2)
                {
                    <p> @row.EmployeeFIO - @row.AdditionInformation // @row.Way = @row.Date.ToString("dd.MM.yyyy HH:mm:ss") </p>
                }               
                *@
                if(ViewBag.Report.Count > 0)
                {
                    <div id="toPrint">
                        <h4 class="onlyPrint"> 
                            Отчет пропусках учащихся.
                            <span id="SchoolName"> </span>, 
                            <span id="UnitName"> </span>, 
                            Дата с <span id="Date1Name"> </span> 
                            по <span id="Date2Name"> </span>
                        </h4>

                        <table id="ReportTable" class="tablesorter tableExport">
                            <thead>
                                <tr>
                                    <th> № </th>
                                    <th><strong>Класс</strong></th>
                                    <th><strong>ФИО</strong></th>
                                    <th><strong>Пропусков</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int n = 1; }
                                @foreach (var row in ViewBag.Report)
                                {
                                    if(row.Count > 0)
                                    {
                                        <tr class="absence_row">
                                            <td class="time_str"> @n </td>
                                            <td class="time_str"> @row.Klass </td>
                                            <td> <a href="/Operator/Stats_absence_long?date1=@ViewBag.Date1&amp;date2=@ViewBag.Date2&amp;school=@ViewBag.School&amp;unit_id=@ViewBag.Unit&amp;FIO=@row.Name"> @row.Name </a> </td>
                                            <td class="time_str"> @row.Count </td>
                                        </tr>
                                        n++;
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr style="background-color: powderblue; text-align: center;">
                                    <td colspan="3"> ИТОГО: </td>
                                    <td>
                                        @ViewBag.Total_absence
                                    </td>
                                </tr>
                            </tfoot>
                        </table>                
                    </div>
                    <h5> Для сортировки таблицы нажмите на заголовок столбца. Для сортировки в обратном порядке нажмите на заголовок повторно. Для сортировки по нескольким критериям нажмите на несколько заголовков, зажав клавишу Shift. </h5>
                }
            }
        </div>
    </div>
</div>
<div style="padding: 50px"> </div>

@section Scripts {
    @Scripts.Render("~/Content/js/moment.js")    
    @Scripts.Render("~/Content/js/moment.ru.js")    
    @Scripts.Render("~/Content/js/bootstrap-datetimepicker.min.js") 
    @Scripts.Render("~/Content/js/Blob.min.js")
    @Scripts.Render("~/Content/js/FileSaver.min.js") 
    @Scripts.Render("~/Content/js/xlsx.core.min.js")
    @Scripts.Render("~/Content/js/tableexport.min.js") 

    <script type="text/javascript">
        $(function () {
            $('#datepicker1').datetimepicker({ pickTime: false });
            $('#datepicker2').datetimepicker({ pickTime: false });
        });
        
        $(document).ready(function () {
            if ('@ViewBag.School' != '') {
                $('#SchoolSelect').val('@ViewBag.School');
                var s = $('#SchoolSelect').find("option:selected").attr('item_name');
                $('#SchoolName').html(s);
                $('#Date1Name').html('@ViewBag.Date1');
                $('#Date2Name').html('@ViewBag.Date2');
            }
            
            $.ajax({
                'url': '/Operator/GetUnits',
                'type': 'POST',
                'dataType': 'html',
                'data': { school: $('#SchoolSelect').val(), whole: '@ViewBag.Whole' },
                'success': function (data) {
                    $('#UnitDropDown').html(data);
                    if ('@ViewBag.Unit' != '')
                    { $('#UnitSelect').val('@ViewBag.Unit'); }
                    var u = $('#UnitSelect').find("option:selected").attr('item_name');
                    $('#UnitName').html(u);
                }
            });

            $('#SchoolSelect').on('change', (function () {
                $.ajax({
                    'url': '/Operator/GetUnits',
                    'type': 'POST',
                    'dataType': 'html',
                    'data': { school: $('#SchoolSelect').val(), whole: '@ViewBag.Whole' },
                    'success': function (data) {
                        $('#UnitDropDown').html(data);
                    }
                });
            }));

            //$.fn.tableExport.charset = "charset=windows-1251";
            $.fn.tableExport.rowDel = "\r\n";

            $(".tableExport").tableExport({
                headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
                footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
                formats: ["xlsx", "xls", "csv", "txt"],     // (String[]), filetype(s) for the export
                fileName: "id",                     // (id, String), filename for the downloaded file
                bootstrap: true,                    // (Boolean), style buttons using bootstrap
                position: "bottom",                 // (top, bottom), position of the caption element relative to table
                ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
                ignoreCols: null,                   // (Number, Number[]), column indices to exclude from the exported file
                ignoreCSS: ".noExport",             // (selector, selector[]), selector(s) to exclude cells from the exported file
                emptyCSS: ".emptyExport"            // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
            });

            @*
            function exportTo(type) {
                $('.table2excel').tableExport({
                    format: type,
                    // table_26-05-2016
                    filename: 'Статистика_посещений_%DD%-%MM%-%YY%'
                });
            }
            *@            
            @*
            var tableToExcel = (function () {
                var uri = 'data:application/vnd.ms-excel;base64,'
                  , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                  , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                  , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
                return function (table, name) {
                    if (!table.nodeType) table = document.getElementById(table)
                    var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                    window.location.href = uri + base64(format(template, ctx))
                }
            })();
            *@            
            @*
            $("#export_button").click(function () {
                $("#ReportTable").table2excel({
                    // exclude CSS class
                    exclude: ".noExl",
                    name: "Статистика посещений",
                    filename: "Статистика_посещений" //do not include extension
                });
            });
            *@
            @*
            $('#ExportType').on('change', (function () {
                if ($(this).find("option:selected").attr('itemid') != 0) {
                    var type = $(this).find("option:selected").val();
                    tableToExcel('ReportTable', 'Статистика посещений');
                    alert(type);
                    //exportTo('txt');
                    //$('.tableExport').tableExport({ type: type, escape: 'false' });
                    /*
                    $('.table2excel').tableExport({
                        format: type,
                        // table_26-05-2016
                        filename: 'Статистика_посещений_%DD%-%MM%-%YY%'
                    });
                    */
                }
            }));
            *@
            $('#ReportType').on('change', (function () {
                //Operator/Stats_absence_short?date1=09.03.2015&date2=10.03.2015&school=4&unit_id=101
                var url = $(this).find("option:selected").attr('url');
                url += '?date1=' + $('#Date1Select').val();
                url += '&date2=' + $('#Date2Select').val();
                url += '&school=' + $('#SchoolSelect').find("option:selected").val();
                url += '&unit_id=' + $('#UnitSelect').find("option:selected").val();
                window.location = url;
            }));
        });
    </script>
}


@*
@foreach (var order in @ViewBag.Orders)
{ 
    <tr>
        <td> @order.date.ToString("dd MMMM yyyy") </td>
        <td> @order.goods </td>
    </tr>
}
*@
@*
@foreach (var rec in Model)
{
    <tr>
        <td colspan="3"><span class="text-warning">@rec.Pupil.Name</span></td>
    </tr>
    <tr>
        <td>@rec.DatePay.ToString("dd MMMM yyyy")</td>
        <td>@rec.Tarif.Name</td>
        <td>@rec.Summa</td>
    </tr>
}
*@