﻿@model List<WebSite.WebServiceReference.WSPay>
@{
    ViewBag.Title = "Посещаемость (сотрудники)";
}

<div class="container">	
    <div id="text_area">
        <div class="block text-justify">
            <h3>Отчет посещений (сотрудники)</h3>
            <hr>
            @using (Html.BeginForm("Stats_stuff_short", "Operator", null, FormMethod.Post, new { @class = "form-horizontal", @id = "AbsenceForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
    
                <div class="form-group">
                    <label class="control-label col-xs-1">Дата С:</label>
                    <div class="col-xs-2">
                        <div class="input-group date" id="datepicker1">
                            @Html.TextBox("date1", (string)ViewBag.Date1, new { @class = "form-control", @id = "Date1Select" })
                            <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                        </div>
                    </div>
                    
                    <label class="control-label col-xs-1">Дата по:</label>
                    <div class="col-xs-2">
                        <div class="input-group date" id="datepicker2">
                            @Html.TextBox("date2", (string)ViewBag.Date2, new { @class = "form-control", @id = "Date2Select" })
                            <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                        </div>
                    </div>

                    <label class="control-label col-xs-1">Школа:</label>
                    <div class="col-xs-3">
				        <select class="form-control" name="school" id="SchoolSelect">
					        @foreach (var item in ViewBag.SList)
                            {
						        <option value="@item.Код" item_name="@item.Наименование">@item.Наименование</option>
                            }
				        </select>
                    </div>
                    
                    @*
                    <div class="col-xs-1">
                        @Html.ActionLink("Подробно", "Stats_stuff_long", "Operator", new { date1 = ViewBag.Date1, date2 = ViewBag.Date2, school = ViewBag.School }, new { @class = "btn btn-primary", @role = "button" })
                        <a class="btn btn-primary" role="button" href="/Operator/Stats_stuff_long"> Подробно </a> 
                        <a class="btn btn-primary" href="/Operator/Stats_stuff_long?date1=24.02.2015&amp;date2=25.02.2015&amp;school=3" role="button">Подробно</a>
                    </div>
                    *@
                </div>
                
                if (ViewBag.FIO != "")
                {
                    <h4> Выбран сотрудник @ViewBag.FIO
                        <a  class="btn btn-default" role="button" href="/Operator/Stats_stuff_short?date1=@ViewBag.Date1&amp;date2=@ViewBag.Date2&amp;school=@ViewBag.School"> Отмена </a>
                    </h4>
                }
                <input type="hidden" name="FIO" value="@ViewBag.FIO">
                
                <div class="form-group">
                    <label class="control-label col-xs-2">Тип отчета:</label>
                    <div class="col-xs-4">
				        <select class="form-control" name="RType" id="ReportType">
					        @foreach (var item in ViewBag.RType)
                            {
						        <option itemid="@item.ID" url="@item.Url">@item.Name</option>
                            }
				        </select>
                    </div>
                    <div class="col-xs-offset-1 col-xs-2">
                        <input type="submit" class="btn btn-primary" value="Сформировать отчет" />
                    </div>
                    <div class="col-xs-offset-1 col-xs-2">
                        <input role="button" class="btn btn-default" id="printBtn" value="Распечатать" />
                    </div>
                </div>
                <br>
            }
            @if (ViewBag.Flag == 1)
            {
                <style>
                    table { width: 800px; }
                    th {
                        text-align: center;

                    }
                    .time_str { text-align: center; }
                    td, th {
                        padding: 3px;
                        border: 1px solid gray;                        
                    }
                    /*
                    .absence_row {
                        min-height: 20px;
                        height: 25px;
                        max-height: 25px;
                    }
                    */
                </style>
                <h4> @ViewBag.Error </h4>
                @*
                foreach (var row in ViewBag.Reports_raw)
                {
                    <p>
                        @row.Way || @row.AdditionInformation || @row.Date.ToString("dd MMMM yyyy") || @row.EmployeeFIO
                    </p>
                } 
                *@
                if (ViewBag.Dates != null)
                {
                    <div id="toPrint">
                        <h4 class="onlyPrint"> 
                            Отчет времени прихода/ухода сотрудников (кратко).
                            <span id="SchoolName"> </span>, 
                            Дата с <span id="Date1Name"> </span> 
                            по <span id="Date2Name"> </span>
                        </h4>
              
                        @if (ViewBag.FIO == "")
                        {
                            <table id="ReportTable" class="tableExport" @*class="tablesorter"*@>
                                <thead>
                                    <tr>
                                        <th> № </th>
                                        <th><strong>ФИО</strong></th>
                                        <th><strong>Должность</strong></th>
                                        <th><strong>Приход</strong></th>
                                        <th><strong>Уход</strong></th>
                                    </tr>
                                </thead>
                                <tbody>  
                                    @{ int i = 1; }
                                    @foreach (var day in ViewBag.Dates)
                                    {
                                        if (ViewBag.Report.Count > i)
                                        {
                                            if (ViewBag.Dates[i] != "01 января 0001")
                                            {
                                                <tr>
                                                    <td colspan="5" style="background-color: powderblue; text-align: center;"> @ViewBag.Dates[i] </td>
                                                </tr>  
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="5" style="background-color: powderblue; text-align: center;"> Отсутствовали за весь период </td>
                                                </tr>  
                                            }
                                        }
                                        if (ViewBag.Report.Count > i)
                                        {
                                            int n = 1;
                                            foreach (var row in ViewBag.Report[i])
                                            {   
                                                <tr class="absence_row">
                                                    <td style="text-align: center"> @n </td>
                                                        @* @Html.ActionLink(row.Name, "Stats_stuff_short", "Operator", new { date1 = ViewBag.Date1, date2 = ViewBag.Date2, school = ViewBag.School, FIO = row.Name }, null) *@
                                                    <td> <a href="/Operator/Stats_stuff_short?date1=@ViewBag.Date1&amp;date2=@ViewBag.Date2&amp;school=@ViewBag.School&amp;FIO=@row.Name"> @row.Name </a> </td>
                                                    <td> @row.Post </td>
                                                    <td class="time_str"> @row.Come </td>
                                                    <td class="time_str"> @row.Leave </td>
                                                </tr>
                                                n++;
                                            }
                                        }
                                        i++;
                                    }
                                    @if (ViewBag.Report.Count > 0 && ViewBag.Dates.Count > 0)
                                    {
                                        if (ViewBag.Dates[0] != "01 января 0001")
                                        {
                                            <tr>
                                                <td colspan="5" style="background-color: powderblue; text-align: center;"> @ViewBag.Dates[0] </td>
                                            </tr>  
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="5" style="background-color: powderblue; text-align: center;"> Отсутствовали за весь период </td>
                                            </tr>  
                                        }
                                        int n = 1;
                                        foreach (var row in ViewBag.Report[0])
                                        {   
                                                <tr class="absence_row">
                                                    <td style="text-align: center"> @n </td>
                                                    <td> <a href="/Operator/Stats_stuff_short?date1=@ViewBag.Date1&amp;date2=@ViewBag.Date2&amp;school=@ViewBag.School&amp;FIO=@row.Name"> @row.Name </a> </td>
                                                    <td> @row.Post </td>
                                                    <td class="time_str"> @row.Come </td>
                                                    <td class="time_str"> @row.Leave </td>
                                                </tr>
                                            n++;
                                        }
                                    }
                                    @*  
                                    @{ var day = ""; } 
                                    @foreach (var item in ViewBag.Report)
                                    {
                                        if (item.Date.ToString("dd MMMM yyyy") != day)
                                        {
                                            day = item.Date.ToString("dd MMMM yyyy");
                                            <tr>
                                                <td colspan="3" style="background-color: powderblue; text-align: center;"> @day </td>
                                            </tr>  
                                        }
                                        <tr class="absence_row">
                                            <td> @item.EmployeeFIO </td>
                                            @if (item.Way == 1)
                                            {   <td> Приход </td>   }
                                            @if (item.Way == 2)
                                            {   <td> Уход </td>   }
                                            <td> @item.Date.ToString("HH:mm:ss")</td>
                                        </tr>
                                    }
                                    *@
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <table @*id="ReportTable" class="tablesorter"*@>
                                <thead>
                                    <tr>
                                        <th> № </th>
                                        <th><strong>ФИО</strong></th>
                                        <th><strong>Должность</strong></th>
                                        <th><strong>Дата</strong></th>
                                        <th><strong>Приход</strong></th>
                                        <th><strong>Уход</strong></th>
                                    </tr>
                                </thead>
                                <tbody>  
                                    @{ int i = 1; }
                                    @foreach (var day in ViewBag.Dates)
                                    {
                                        if (ViewBag.Report.Count > i)
                                        {
                                            if (ViewBag.Dates[i] != "01 января 0001")
                                            {
                                                foreach (var row in ViewBag.Report[i])
                                                {  
                                                    <tr class="absence_row">
                                                        <td style="text-align: center"> @i </td>
                                                        <td> @row.Name </td>
                                                        <td> @row.Post </td>
                                                        <td class="time_str"> @ViewBag.Dates[i] </td>
                                                        <td class="time_str"> @row.Come </td>
                                                        <td class="time_str"> @row.Leave </td>
                                                    </tr>  
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="6" style="background-color: powderblue; text-align: center;"> Отсутствовал за весь период </td>
                                                </tr>  
                                            }
                                        }
                                        i++;
                                    }
                                    @if (ViewBag.Report.Count == 1 && ViewBag.Dates.Count > 0)
                                    {
                                        if (ViewBag.Dates[0] != "01 января 0001")
                                        {
                                            foreach (var row in ViewBag.Report[0])
                                            {  
                                                <tr class="absence_row">
                                                    <td style="text-align: center"> @i </td>
                                                    <td> @row.Name </td>
                                                    <td> @row.Post </td>
                                                    <td class="time_str"> @ViewBag.Dates[0] </td>
                                                    <td class="time_str"> @row.Come </td>
                                                    <td class="time_str"> @row.Leave </td>
                                                </tr>  
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="6" style="background-color: powderblue; text-align: center;"> Отсутствовал за весь период </td>
                                            </tr>  
                                        }
                                    }
                                </tbody>
                            </table>                            
                        }
                     
                       @* <h5> Для сортировки таблицы нажмите на заголовок столбца. Для сортировки в обратном порядке нажмите на заголовок повторно. Для сортировки по нескольким критериям нажмите на несколько заголовков, зажав клавишу Shift. </h5> *@
                    </div>
                }
            }
        </div>
    </div>
</div>
<div style="padding: 50px"> </div>

@section Scripts {
    @Scripts.Render("~/Content/js/moment.js")    
    @Scripts.Render("~/Content/js/moment.ru.js")    
    @Scripts.Render("~/Content/js/bootstrap-datetimepicker.min.js") 
    @Scripts.Render("~/Content/js/Blob.min.js")
    @Scripts.Render("~/Content/js/FileSaver.min.js") 
    @Scripts.Render("~/Content/js/xlsx.core.min.js")
    @Scripts.Render("~/Content/js/tableexport.min.js") 
  
    <script>
        $(function () {
            $('#datepicker1').datetimepicker({ pickTime: false });
            $('#datepicker2').datetimepicker({ pickTime: false });
        });

        $(document).ready(function () {
            if ('@ViewBag.School' != '') {
                $('#SchoolSelect').val('@ViewBag.School');
                var s = $('#SchoolSelect').find("option:selected").attr('item_name');
                $('#SchoolName').html(s);
                $('#Date1Name').html('@ViewBag.Date1');
                $('#Date2Name').html('@ViewBag.Date2');
            }

            $.validator.addMethod("IsDate", function (value, element) {
                return /^\d\d\.\d\d\.\d\d\d\d$/.test(value);
            }, "Введите дату в формате dd.mm.yyyy (например: 31.12.1999)");

            $("#AbsenceForm").validate({
                rules: {
                    date1: { required: true, IsDate: true },
                    date2: { required: true, IsDate: true }
                },
                messages: {
                    date1: { required: "Введите дату" },
                    date2: { required: "Введите дату" }
                }
            });

            //$.fn.tableExport.charset = "charset=windows-1251";
            $.fn.tableExport.rowDel = "\r\n";

            $(".tableExport").tableExport({
                headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
                footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
                formats: ["xlsx", "xls", "csv", "txt"],     // (String[]), filetype(s) for the export
                fileName: "id",                     // (id, String), filename for the downloaded file
                bootstrap: true,                    // (Boolean), style buttons using bootstrap
                position: "bottom",                 // (top, bottom), position of the caption element relative to table
                ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
                ignoreCols: null,                   // (Number, Number[]), column indices to exclude from the exported file
                ignoreCSS: ".noExport",             // (selector, selector[]), selector(s) to exclude cells from the exported file
                emptyCSS: ".emptyExport"            // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
            });

            $('#ReportType').on('change', (function () {
                var url = $(this).find("option:selected").attr('url');
                url += '?date1=' + $('#Date1Select').val();
                url += '&date2=' + $('#Date2Select').val();
                url += '&school=' + $('#SchoolSelect').find("option:selected").val();
                window.location = url;
            }));
        });
    </script>
}



@*
@foreach (var order in @ViewBag.Orders)
{ 
    <tr>
        <td> @order.date.ToString("dd MMMM yyyy") </td>
        <td> @order.goods </td>
    </tr>
}
*@
@*
@foreach (var rec in Model)
{
    <tr>
        <td colspan="3"><span class="text-warning">@rec.Pupil.Name</span></td>
    </tr>
    <tr>
        <td>@rec.DatePay.ToString("dd MMMM yyyy")</td>
        <td>@rec.Tarif.Name</td>
        <td>@rec.Summa</td>
    </tr>
}
*@

