﻿@model List<WebSite.WebServiceReference.WSPay>
@{
    ViewBag.Title = "Посещаемость";
}

<div class="container-fluid">	
    <div id="text_area">
        <div class="block text-justify">
            <h3>Отчет посещений</h3>
            <hr>
            @using (Html.BeginForm("Stats_time_pupils_col", "Operator", null, FormMethod.Post, new { @class = "form-horizontal", @id = "AbsenceForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
    
                <div class="form-group">
                    <label class="control-label col-xs-1">Дата С:</label>
                    <div class="col-xs-2">
                        <div class="input-group date" id="datepicker1">
                            @Html.TextBox("date1", (string)ViewBag.Date1, new { @class = "form-control", @id = "Date1Select" })
                            <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                        </div>
                    </div>
                    
                    <label class="control-label col-xs-2">Дата по:</label>
                    <div class="col-xs-2">
                        <div class="input-group date" id="datepicker2">
                            @Html.TextBox("date2", (string)ViewBag.Date2, new { @class = "form-control", @id = "Date2Select" })
                            <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-1">Школа:</label>
                    <div class="col-xs-3">
				        <select class="form-control" name="school" id="SchoolSelect">
					        @foreach (var item in ViewBag.SList)
                            {
						        <option value="@item.Код" item_name="@item.Наименование">@item.Наименование</option>
                            }
				        </select>
                    </div>
                    <label class="control-label col-xs-1">Класс:</label>
                    <div class="col-xs-2" id="UnitDropDown">
				        <select class="form-control" name="unit_id" id="UnitSelect">
					        <option value="0">1А класс</option>
				        </select>
                    </div>
                </div>
                
                if (ViewBag.FIO != "")
                {
                    <h4> Выбран учащийся @ViewBag.FIO
                        <a  class="btn btn-default" role="button" href="/Operator/Stats_time_pupils_col?date1=@ViewBag.Date1&amp;date2=@ViewBag.Date2&amp;school=@ViewBag.School&amp;unit_id=@ViewBag.Unit"> Отмена </a>
                    </h4>
                }
                <input type="hidden" name="FIO" value="@ViewBag.FIO">
                
                <div class="form-group">
                    <label class="control-label col-xs-2">Тип отчета:</label>
                    <div class="col-xs-4">
				         <select class="form-control" name="RType" id="ReportType">
					        @foreach (var item in ViewBag.RType)
             {
						        <option itemid="@item.ID" url="@item.Url">@item.Name</option>
             }
				        </select>
                    </div>
                    <div class="col-xs-offset-1 col-xs-2">
                        <input type="submit" class="btn btn-primary" value="Сформировать отчет" />
                    </div>
                    <div class="col-xs-offset-1 col-xs-2">
                        <input role="button" class="btn btn-default" id="printBtn" value="Распечатать" />
                    </div>
                </div>
                <br>
            }
            @if (ViewBag.Flag == 1)
            {        
                <style>
                    table { width: 100%; }
                    th {
                        text-align: center;                        
                        cursor: pointer;
                    }
                    .time_str { text-align: center; }
                    .fio { width: 300px; }
                    td, th {
                        padding: 3px;
                        border: 1px solid gray;                        
                    }
                </style>        
                <h4> @ViewBag.Error </h4>
                
                if (ViewBag.Report.Count > 0)
                {
                    <div id="toPrint">
                        <h4 class="onlyPrint"> 
                            Отчет времени прихода/ухода учащихся.
                            <span id="SchoolName"> </span>, 
                            <span id="UnitName"> </span>, 
                            Дата с <span id="Date1Name"> </span> 
                            по <span id="Date2Name"> </span>
                        </h4>

                        <table cols="9" id="ReportTable" class="tablesorter tableExport">
                            <thead>
                                <tr>
                                    <th width="40px"> № </th>
                                    <th width="100px"><strong> Класс </strong></th>
                                    <th><strong> ФИО </strong></th>
                                    <th width="100px"><strong> Количество <br> проходов </strong></th>
                                    @* <th colspan="6"><strong>Время прихода/ухода</strong></th> *@
                                    @foreach (var day in ViewBag.Days)
                                    {
                                        <th><strong> @day </strong></th>   
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                    @if (ViewBag.Report.Count > 0)
                                    {
                                        int n = 1;
                                        foreach (var row in ViewBag.Report)
                                        {
                                            <tr class="absence_row">
                                                <td class="time_str"> @n </td>
                                                <td class="time_str"> @row.Klass </td>
                                                <td class="fio"> <a href="/Operator/Stats_time_pupils_col?date1=@ViewBag.Date1&amp;date2=@ViewBag.Date2&amp;school=@ViewBag.School&amp;unit_id=@ViewBag.Unit&amp;FIO=@row.Name"> @row.Name </a> </td>
                                                @{ int col = 0; }
                                                @foreach (var item in row.Come)
                                                {
                                                    if (item != "--")
                                                    { col++; }
                                                }
                                                @foreach (var item in row.Leave)
                                                {
                                                    if (item != "--")
                                                    { col++; }
                                                }       
                                                <td class="time_str"> @col </td>
                                                @foreach (var day in ViewBag.Days)
                                                {
                                                    <td class="time_str">
                                                        @for (int c = 0; c < row.Come.Count; c++)
                                                        {
                                                            if (row.Date[c] == day)
                                                            {
                                                                <span style="color: green">@row.Come[c]</span>
                                                                <span style="color: red">@row.Leave[c]</span>
                                                            <br>
                                                            }
                                                        }         
                                                        @if (row.Date.Count > 0)
                                                        {
                                                            if (row.Date[0] == "01.01.0001")
                                                            {
                                                                    <span style="color: green"> -- </span>
                                                                    <span style="color: red"> -- </span>
                                                            }
                                                        }
                                                    </td>
                                                } 
                                            </tr>
                                                n++;
                                        }
                                    }
                            </tbody>
                        </table>
                    </div>
                    <h5> Для сортировки таблицы нажмите на заголовок столбца. Для сортировки в обратном порядке нажмите на заголовок повторно. Для сортировки по нескольким критериям нажмите на несколько заголовков, зажав клавишу Shift. </h5>
                }
            }
        </div>
    </div>
</div>
<div style="padding: 50px"> </div>

@section Scripts {
    @Scripts.Render("~/Content/js/moment.js")    
    @Scripts.Render("~/Content/js/moment.ru.js")    
    @Scripts.Render("~/Content/js/bootstrap-datetimepicker.min.js")
    @Scripts.Render("~/Content/js/Blob.min.js")
    @Scripts.Render("~/Content/js/FileSaver.min.js") 
    @Scripts.Render("~/Content/js/xlsx.core.min.js")
    @Scripts.Render("~/Content/js/tableexport.min.js") 
 
    <script type="text/javascript">
        $(function () {
            $('#datepicker1').datetimepicker({ pickTime: false });
            $('#datepicker2').datetimepicker({ pickTime: false });
        });
        
        $(document).ready(function () {
            if ('@ViewBag.School' != '') {
                $('#SchoolSelect').val('@ViewBag.School');
                var s = $('#SchoolSelect').find("option:selected").attr('item_name');
                $('#SchoolName').html(s);
                $('#Date1Name').html('@ViewBag.Date1');
                $('#Date2Name').html('@ViewBag.Date2');
            }

            $.ajax({
                'url': '/Operator/GetUnits',
                'type': 'POST',
                'dataType': 'html',
                'data': { school: $('#SchoolSelect').val(), whole: '@ViewBag.Whole' },
                'success': function (data) {
                    $('#UnitDropDown').html(data);
                    if ('@ViewBag.Unit' != '')
                    { $('#UnitSelect').val('@ViewBag.Unit'); }
                    var u = $('#UnitSelect').find("option:selected").attr('item_name');
                    $('#UnitName').html(u);
                }
            });

            $('#SchoolSelect').on('change', (function () {
                $.ajax({
                    'url': '/Operator/GetUnits',
                    'type': 'POST',
                    'dataType': 'html',
                    'data': { school: $('#SchoolSelect').val(), whole: '@ViewBag.Whole' },
                    'success': function (data) {
                        $('#UnitDropDown').html(data);
                    }
                });
            }));
            
            //$.fn.tableExport.charset = "charset=windows-1251";
            $.fn.tableExport.rowDel = "\r\n";

            $(".tableExport").tableExport({
                headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
                footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
                formats: ["xlsx", "xls", "csv", "txt"],     // (String[]), filetype(s) for the export
                fileName: "id",                     // (id, String), filename for the downloaded file
                bootstrap: true,                    // (Boolean), style buttons using bootstrap
                position: "bottom",                 // (top, bottom), position of the caption element relative to table
                ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
                ignoreCols: null,                   // (Number, Number[]), column indices to exclude from the exported file
                ignoreCSS: ".noExport",             // (selector, selector[]), selector(s) to exclude cells from the exported file
                emptyCSS: ".emptyExport"            // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
            });

            $('#ReportType').on('change', (function () {
                var url = $(this).find("option:selected").attr('url');
                url += '?date1=' + $('#Date1Select').val();
                url += '&date2=' + $('#Date2Select').val();
                url += '&school=' + $('#SchoolSelect').find("option:selected").val();
                url += '&unit_id=' + $('#UnitSelect').find("option:selected").val();
                window.location = url;
            }));
        });
    </script>
}

