﻿@model List<WebSite.WebServiceReference.WSPay>
@{
    ViewBag.Title = "Опоздания";
}

<div class="container-fluid">	
    <div id="text_area">
        <div class="block text-justify">
            <h3>Отчет по опозданиям учащихся</h3>
            <hr>
            @using (Html.BeginForm("Stats_late_class", "Operator", null, FormMethod.Post, new { @class = "form-horizontal", @id = "AbsenceForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
    
                <div class="form-group">
                    <label class="control-label col-xs-1">Дата С:</label>
                    <div class="col-xs-2">
                        <div class="input-group date" id="datepicker1">
                            @Html.TextBox("date1", (string)ViewBag.Date1, new { @class = "form-control", @id = "Date1Select" })
                            <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                        </div>
                    </div>
                    
                    <label class="control-label col-xs-2">Дата по:</label>
                    <div class="col-xs-2">
                        <div class="input-group date" id="datepicker2">
                            @Html.TextBox("date2", (string)ViewBag.Date2, new { @class = "form-control", @id = "Date2Select" })
                            <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-1">Школа:</label>
                    <div class="col-xs-3">
				        <select class="form-control" name="school" id="SchoolSelect">
					        @foreach (var item in ViewBag.SList)
                            {
						        <option value="@item.Код" item_name="@item.Наименование">@item.Наименование</option>
                            }
				        </select>
                    </div>
                    <label class="control-label col-xs-1">Класс:</label>
                    <div class="col-xs-2" id="UnitDropDown">
				        <select class="form-control" name="unit_id" id="UnitSelect">
					        <option value="0">1А класс</option>
				        </select>
                        @* @Html.TextBox("klass", (string)ViewBag.Klass, new { @class = "form-control", placeholder="1А, 1Б, и т.д." }) *@
                    </div>
                </div>
                
                if (ViewBag.FIO != "")
                {
                    <h4> Выбран учащийся @ViewBag.FIO
                        <a  class="btn btn-default" role="button" href="/Operator/Stats_late_class?date1=@ViewBag.Date1&amp;date2=@ViewBag.Date2&amp;school=@ViewBag.School&amp;unit_id=@ViewBag.Unit"> Отмена </a>
                    </h4>
                }
                <input type="hidden" name="FIO" value="@ViewBag.FIO">
                
                <div class="form-group">
                    <label class="control-label col-xs-2">Тип отчета:</label>
                    <div class="col-xs-4">
				         <select class="form-control" name="RType" id="ReportType">
					        @foreach (var item in ViewBag.RType)
             {
						        <option itemid="@item.ID" url="@item.Url">@item.Name</option>
             }
				        </select>
                    </div>
                    <div class="col-xs-offset-1 col-xs-2">
                        <input type="submit" class="btn btn-primary" value="Сформировать отчет" />
                    </div>
                    <div class="col-xs-offset-1 col-xs-2">
                        <input role="button" class="btn btn-default" id="printBtn" value="Распечатать" />
                    </div>
                </div>
                <br>
            }
            @if (ViewBag.Flag == 1)
            {        
                <style>
                    table { width: 100%; }
                    th {
                        text-align: center;                        
                        cursor: pointer;
                    }
                    .time_str { text-align: center; }
                    td, th {
                        padding: 3px;
                        border: 1px solid gray;                        
                    }
                    .fio {
                        min-width: 300px;
                        width: 300px;
                        text-align: left;
                    }
                </style>        
                <h4> @ViewBag.Error </h4>
                @*
                foreach (var row in ViewBag.TT)
                {
                    <p> @row.Day.Name. @row.NumLesson.Num урок - @row.Lesson.Name  @row.NumLesson.StartTime.ToString(@"hh\:mm") - @row.NumLesson.FinishTime.ToString(@"hh\:mm")</p>
                }       
                <p> ---------------------------------- </p>
                *@
                @*
                for (int i = 0; i < ViewBag.Days.Count; i++ )
                {
                    <p> @ViewBag.Days[i].ToString("dd.MM.yyyy") -- @ViewBag.Times[i].ToString(@"hh\:mm")</p>
                }
                *@
                if (ViewBag.Report.Count > 0)
                {
                    <div id="toPrint">
                        <h4 class="onlyPrint"> 
                            Отчет по опозданиям учащихся (класс).
                            <span id="SchoolName"> </span>, 
                            <span id="UnitName"> </span>, 
                            Дата с <span id="Date1Name"> </span> 
                            по <span id="Date2Name"> </span>
                        </h4>

                        <table id="ReportTable" class="tablesorter tableExport">
                            <thead>
                                <tr>
                                    <th> № </th>
                                    <th><strong>Класс</strong></th>
                                    <th><strong>ФИО</strong></th>
                                    <th><strong>Количество</strong></th>
                                    <th><strong>Суммарно</strong></th>
                                    @for (int i = 0; i < ViewBag.Days[0].Count; i++)
                                    {  
                                        <th>
                                            @ViewBag.Days[0][i].ToString("dd.MM.yyyy") <br>
                                            <span style="color: green;">@ViewBag.Times[0][i].ToString(@"hh\:mm")</span>
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{ int n = 1; }
                                @foreach (var row in ViewBag.Report)
                                {
                                    if (row.Total.Ticks > 1)
                                    {
                                        <tr class="absence_row">
                                            <td class="time_str"> @n </td>
                                            <td class="time_str"> @row.Klass </td>
                                            <td class="fio"> <a href="/Operator/Stats_late_class?date1=@ViewBag.Date1&amp;date2=@ViewBag.Date2&amp;school=@ViewBag.School&amp;unit_id=@ViewBag.Unit&amp;FIO=@row.Name"> @row.Name </a> </td>
                                            <td class="time_str"> @row.Count </td>
                                            <td class="time_str"> @row.Total.ToString(@"hh\:mm\:ss") </td>
                                            @for (int d = 0; d < ViewBag.Days[0].Count; d++)
                                            {
                                                <td class="time_str">
                                                    @for (int i = 0; i < row.Time.Count; i++)
                                                    {
                                                        if (ViewBag.Days[0][d].ToString("dd.MM.yyyy") == row.Time[i].ToString("dd.MM.yyyy"))
                                                        {   
                                                            @* <span> @row.Time[i].ToString("HH:mm:ss") <br> </span>
                                                            <span style="color: green;">@ViewBag.Times[0][d].ToString(@"hh\:mm") <br> </span> *@
                                                            <span style="color: red;"> @row.Late[i] </span>
                                                        }
                                                    }  
                                                    @if (row.Time.Count == 0)
                                                    {   <h4 style="color: red;"> -- </h4>   }
                                                </td>
                                            }
                                        </tr>
                                            n++;
                                    }
                                }
                                
                                @if (ViewBag.FIO == "")
                                {
                                    <tr style="background-color: powderblue; text-align: center;">
                                        <td colspan="3"> ИТОГО: </td>
                                        <td> @ViewBag.Count_sum </td>
                                        <td> @ViewBag.Total_sum.ToString(@"hh\:mm\:ss") </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <h5> Для сортировки таблицы нажмите на заголовок столбца. Для сортировки в обратном порядке нажмите на заголовок повторно. Для сортировки по нескольким критериям нажмите на несколько заголовков, зажав клавишу Shift. </h5>
                }
            }
        </div>
    </div>
</div>
<div style="padding: 50px"> </div>

@section Scripts {
    @Scripts.Render("~/Content/js/moment.js")    
    @Scripts.Render("~/Content/js/moment.ru.js")    
    @Scripts.Render("~/Content/js/bootstrap-datetimepicker.min.js")  
    @Scripts.Render("~/Content/js/Blob.min.js")
    @Scripts.Render("~/Content/js/FileSaver.min.js") 
    @Scripts.Render("~/Content/js/xlsx.core.min.js")
    @Scripts.Render("~/Content/js/tableexport.min.js") 
 
    <script type="text/javascript">
        $(function () {
            $('#datepicker1').datetimepicker({ pickTime: false });
            $('#datepicker2').datetimepicker({ pickTime: false });
        });
        
        $(document).ready(function () {
            if ('@ViewBag.School' != '') {
                $('#SchoolSelect').val('@ViewBag.School');
                var s = $('#SchoolSelect').find("option:selected").attr('item_name');
                $('#SchoolName').html(s);
                $('#Date1Name').html('@ViewBag.Date1');
                $('#Date2Name').html('@ViewBag.Date2');
            }
            
            $.ajax({
                'url': '/Operator/GetUnits',
                'type': 'POST',
                'dataType': 'html',
                'data': { school: $('#SchoolSelect').val(), whole: 0 },
                'success': function (data) {
                    $('#UnitDropDown').html(data);
                    if ('@ViewBag.Unit' != '')
                    { $('#UnitSelect').val('@ViewBag.Unit'); }
                    var u = $('#UnitSelect').find("option:selected").attr('item_name');
                    $('#UnitName').html(u);
                }
            });

            $('#SchoolSelect').on('change', (function () {
                $.ajax({
                    'url': '/Operator/GetUnits',
                    'type': 'POST',
                    'dataType': 'html',
                    'data': { school: $('#SchoolSelect').val(), whole: 0 },
                    'success': function (data) {
                        $('#UnitDropDown').html(data);
                    }
                });
            }));

            //$.fn.tableExport.charset = "charset=windows-1251";
            $.fn.tableExport.rowDel = "\r\n";

            $(".tableExport").tableExport({
                headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
                footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
                formats: ["xlsx", "xls", "csv", "txt"],     // (String[]), filetype(s) for the export
                fileName: "id",                     // (id, String), filename for the downloaded file
                bootstrap: true,                    // (Boolean), style buttons using bootstrap
                position: "bottom",                 // (top, bottom), position of the caption element relative to table
                ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
                ignoreCols: null,                   // (Number, Number[]), column indices to exclude from the exported file
                ignoreCSS: ".noExport",             // (selector, selector[]), selector(s) to exclude cells from the exported file
                emptyCSS: ".emptyExport"            // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
            });

            $('#ReportType').on('change', (function () {
                //Operator/Stats_late_class?date1=09.03.2015&date2=10.03.2015&school=4&unit_id=101
                var url = $(this).find("option:selected").attr('url');
                url += '?date1=' + $('#Date1Select').val();
                url += '&date2=' + $('#Date2Select').val();
                url += '&school=' + $('#SchoolSelect').find("option:selected").val();
                url += '&unit_id=' + $('#UnitSelect').find("option:selected").val();
                window.location = url;
            }));
        });
    </script>
}


@*
@foreach (var order in @ViewBag.Orders)
{ 
    <tr>
        <td> @order.date.ToString("dd MMMM yyyy") </td>
        <td> @order.goods </td>
    </tr>
}
*@
@*
@foreach (var rec in Model)
{
    <tr>
        <td colspan="3"><span class="text-warning">@rec.Pupil.Name</span></td>
    </tr>
    <tr>
        <td>@rec.DatePay.ToString("dd MMMM yyyy")</td>
        <td>@rec.Tarif.Name</td>
        <td>@rec.Summa</td>
    </tr>
}
*@
