﻿@model List<WebSite.WebServiceReference.WSPay>
@{
    ViewBag.Title = "Пропуски";
}

<div class="container-fluid">	
    <div id="text_area">
        <div class="block text-justify">
            <h3>Отчет по пропускам учащихся (подробный)</h3>
            <hr>
            @using (Html.BeginForm("Stats_absence_long", "Operator", null, FormMethod.Post, new { @class = "form-horizontal", @id = "AbsenceForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
    
                <div class="form-group">
                    <label class="control-label col-xs-1">Дата С:</label>
                    <div class="col-xs-2">
                        <div class="input-group date" id="datepicker1">
                            @Html.TextBox("date1", (string)ViewBag.Date1, new { @class = "form-control", @id = "Date1Select" })
                            <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                        </div>
                    </div>
                    
                    <label class="control-label col-xs-2">Дата по:</label>
                    <div class="col-xs-2">
                        <div class="input-group date" id="datepicker2">
                            @Html.TextBox("date2", (string)ViewBag.Date2, new { @class = "form-control", @id = "Date2Select" })
                            <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-1">Школа:</label>
                    <div class="col-xs-3">
				        <select class="form-control" name="school" id="SchoolSelect">
					        @foreach (var item in ViewBag.SList)
                            {
						        <option value="@item.Код" item_name="@item.Наименование">@item.Наименование</option>
                            }
				        </select>
                    </div>
                    <label class="control-label col-xs-1">Класс:</label>
                    <div class="col-xs-2" id="UnitDropDown">
				        <select class="form-control" name="unit_id" id="UnitSelect">
					        <option value="0">1А класс</option>
				        </select>
                    </div>
                </div>
                
                if (ViewBag.FIO != "")
                {
                    <h4> Выбран учащийся @ViewBag.FIO
                        <a  class="btn btn-default" role="button" href="/Operator/Stats_absence_long?date1=@ViewBag.Date1&amp;date2=@ViewBag.Date2&amp;school=@ViewBag.School&amp;unit_id=@ViewBag.Unit"> Отмена </a>
                    </h4>
                }
                <input type="hidden" name="FIO" value="@ViewBag.FIO">
                
                <div class="form-group">
                    <label class="control-label col-xs-2">Тип отчета:</label>
                    <div class="col-xs-4">
				         <select class="form-control" name="RType" id="ReportType">
					        @foreach (var item in ViewBag.RType)
             {
						        <option itemid="@item.ID" url="@item.Url">@item.Name</option>
             }
				        </select>
                    </div>
                    <div class="col-xs-offset-1 col-xs-2">
                        <input type="submit" class="btn btn-primary" value="Сформировать отчет" />
                    </div>
                    <div class="col-xs-offset-1 col-xs-2">
                        <input role="button" class="btn btn-default" id="printBtn" value="Распечатать" />
                    </div>
                </div>
                <br>
            }
            @if (ViewBag.Flag == 1)
            {      
                <style>
                    #toPrint {
                        overflow-x: visible;
                        overflow-y: visible;
                    }
                    table {
                        border: 1px solid grey;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                    }
                    thead, tfoot {
                        height: 40px;
                    }
                    .border_center { border: 1px solid grey; }
                    .border_top { border-top: 1px solid grey; }
                    .border_left { border-left: 1px solid grey; }
                    .border_right { border-right: 1px solid grey; }
                    .border_bottom { border-bottom: 1px solid grey; }

                    .table_list {
                        max-width: 380px;                        
                        display: block;
                        float: left;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                    }
                    .editableform { width: 70px; }
                    .fio {
                        min-width: 300px;
                        width: 300px;
                        text-align: left;
                    }
                    .t_row { height: 30px; }
                    .average { max-width: 40px; }
                    .t_months { height: 35px; }
                    .t_days, .t_head { height: 35px; }
                    th, td {
                        padding: 3px;
                        text-align: center;
                    }
                    .scroll_container {
                        width: calc(100% - 380px);
                        overflow-x: auto;
                        overflow-y: visible;                        
                        display: block;
                        float: left;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                    }
                    #div-1 {
                        border: 1px solid white;
                        width: 360px;
                        display: block;
                        float: left;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                    }
                    #div-2 { 
                        border: 1px solid white;
                        width: calc(100% - 380px);
                        overflow-x: auto;
                        display: block;
                        float: left;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                    }
                    #div-3 {
                        border: 1px solid white;                        
                        overflow-x: visible;
                        width: inherit;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                    }
                    .marks
                    { 
                        min-width:70px; 
                        width:70px;
                        max-width:70px; 
                    }  
                </style>
                                
                <h4> @ViewBag.Error </h4>
                if (ViewBag.Report.Count > 0)
                {        
                    <div id="div-1">  </div>
                    <div id="div-2"> 
                        <div id="div-3">  </div>
                    </div>
                    <div style="clear: both;"></div>
                
                    <div id="toPrint">
                        <h4 class="onlyPrint"> 
                            Отчет по пропускам учащихся (подробно).
                            <span id="SchoolName"> </span>, 
                            <span id="UnitName"> </span>, 
                            Дата с <span id="Date1Name"> </span> 
                            по <span id="Date2Name"> </span>
                        </h4>

                        <table class="table_list">
                            <thead>
                                <tr class="t_head">
                                    <th class="border_bottom"> ФИО </th>
                                    <th class="border_bottom border_center"> Всего </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int n = 0; }
                                @foreach (var row in ViewBag.Report)
                                {
                                    <tr class="enabled t_row" id="row_@n">  
                                        <td class="fio border_center">
                                            @{int a = n + 1;} @a.
                                            <a href="/Operator/Stats_absence_long?date1=@ViewBag.Date1&amp;date2=@ViewBag.Date2&amp;school=@ViewBag.School&amp;unit_id=@ViewBag.Unit&amp;FIO=@row.Name"> @row.Name </a>
                                        </td>
                                        <td class="marks border_center" id="total_@n"> - </td>
                                    </tr>
                                    n++;
                                }
                            </tbody>
                            <tfoot>
                                <tr style="background-color: powderblue; text-align: center;">
                                    <th class="border_bottom"> ИТОГО: </th>
                                    <th class="border_bottom border_center" id="total_sum"> - </th>
                                </tr>
                            </tfoot>
                        </table>     
                        <div class="scroll_container">
                            <table class="table_scroll">
                                <thead>
                                    <tr class="t_days">
                                        @{ int d = 0; }
                                        @foreach (var item in ViewBag.Days)
                                        {
                                            <th class="border_center border_bottom" id="day_@d">
                                                @item.ToString("dd.MM")
                                            </th>
                                            d++;
                                        }
                                    </tr>
                                </thead>
                                @if (ViewBag.FIO == "")
                                {
                                <tfoot>
                                    <tr class="t_days">
                                        @{ d = 0; }
                                        @foreach (var item in ViewBag.Days)
                                        {
                                            <th class="border_center" id="day_@d">
                                                @item.ToString("dd.MM")
                                            </th>
                                            d++;
                                        }
                                    </tr>
                                </tfoot>
                                }
                                <tbody>
                                    @{ int i = 0; }
                                    @foreach (var row in ViewBag.Report)
                                    {
                                        <tr class="enabled t_row" id="row_r_@i">                                 
                                            @{ int j = 0; }
                                            @foreach (var day in ViewBag.Days)
                                            {
                                                <td class="marks border_center" id="marks_@i-@j" idrow="@i">
                                                    @{ int flag = 0; }
                                                    @for (int k = 0; k < row.Date.Count; k++)
                                                    {
                                                        if (day.ToString("dd.MM.yyyy") == row.Date[k])
                                                        {
                                                            if (row.Present[k] == 1)
                                                            { flag++; }
                                                        }
                                                    }
                                                    @if (flag == 0)
                                                    { <span> H </span> }
                                                    @*
                                                    else
                                                    { <span> + </span> }
                                                    *@
                                                </td>
                                                    j++;
                                            }
                                        </tr>
                                            i++;
                                    }
                                </tbody>
                            </table>    
                            <br>
                        </div>      
                    </div>  
                }
            }
        </div>
    </div>
</div>
<div style="padding: 50px"> </div>


@section scripts
{
    @Scripts.Render("~/Content/js/moment.js")    
    @Scripts.Render("~/Content/js/moment.ru.js")    
    @Scripts.Render("~/Content/js/bootstrap-datetimepicker.min.js")
    <script>
        $(function () {
            $('#datepicker1').datetimepicker({ pickTime: false });
            $('#datepicker2').datetimepicker({ pickTime: false });
        });

        $(document).ready(function () {
            var w = $('.scroll_container').width();
            $('.scroll_container').scrollLeft(w);
            w = $('.table_scroll').width();
            $('#div-3').width(w);
            
            if ('@ViewBag.School' != '') {
                $('#SchoolSelect').val('@ViewBag.School');
                var s = $('#SchoolSelect').find("option:selected").attr('item_name');
                $('#SchoolName').html(s);
                $('#Date1Name').html('@ViewBag.Date1');
                $('#Date2Name').html('@ViewBag.Date2');
            }

            var total_sum = 0;
            for (i = 0; i < 33; i++) {
                var h = $('#row_' + i).height();
                $('#row_r_' + i).height(h);

                var kol = 0;
                for (j = 0; j < 333; j++) {
                    var mark = $('#marks_' + i + '-' + j).html();
                    if (typeof mark !== "undefined" & /H/.test(mark) == true) {
                        $('#marks_' + i + '-' + j).css('background-color', "orange");
                        kol++;
                    }
                }
                $('#total_' + i).html("<b>" + kol + "</b>");
                total_sum += kol;
            }
            $('#total_sum').html("<b>" + total_sum + "</b>");

            $(".table_scroll td").hover(
                function (event) {
                    var r = $(this).attr('idrow');
                    $("#row_" + r).attr('class', "selected t_row");
                },
                function (event) {
                    var r = $(this).attr('idrow');
                    $("#row_" + r).attr('class', "enabled t_row");
                }
            );
            
            $('.scroll_container').on('scroll', (function () {
                $('#div-2').scrollLeft($(this).scrollLeft());
            }));

            $('#div-2').on('scroll', (function () {
                $('.scroll_container').scrollLeft($(this).scrollLeft());
            }));
 
            $.ajax({
                'url': '/Operator/GetUnits',
                'type': 'POST',
                'dataType': 'html',
                'data': { school: $('#SchoolSelect').val(), whole: 0 },
                'success': function (data) {
                    $('#UnitDropDown').html(data);
                    if ('@ViewBag.Unit' != '')
                    { $('#UnitSelect').val('@ViewBag.Unit'); }
                    var u = $('#UnitSelect').find("option:selected").attr('item_name');
                    $('#UnitName').html(u);
                }
            });

            $('#SchoolSelect').on('change', (function () {
                $.ajax({
                    'url': '/Operator/GetUnits',
                    'type': 'POST',
                    'dataType': 'html',
                    'data': { school: $('#SchoolSelect').val(), whole: 0 },
                    'success': function (data) {
                        $('#UnitDropDown').html(data);
                    }
                });
            }));

            $('#ReportType').on('change', (function () {
                //Operator/Stats_absence_long?date1=09.03.2015&date2=10.03.2015&school=4&unit_id=101
                var url = $(this).find("option:selected").attr('url');
                url += '?date1=' + $('#Date1Select').val();
                url += '&date2=' + $('#Date2Select').val();
                url += '&school=' + $('#SchoolSelect').find("option:selected").val();
                url += '&unit_id=' + $('#UnitSelect').find("option:selected").val();
                window.location = url;
            }));
        } )
    </script>
}

