﻿@font-face {
  font-family: Trebuchet;
  src: url('./font/trebuc.ttf');
}
@font-face {
  font-family: Trebuchet;
  src: url('./font/trebuci.ttf');  
  font-style: italic;
}
@font-face {
  font-family: Trebuchet;
  src: url('./font/trebucb.ttf');  
  font-weight: bold;
}
@font-face {
  font-family: Trebuchet;
  src: url('./font/trebucbi.ttf'); 
  font-style: italic;  
  font-weight: bold;
}
 
@media print {
    .onlyPrint { }
    body {
        background: white;
        font-size: 12pt;
        zoom: 60%;
        -moz-transform: scale(60%);
        -webkit-transform: scale(60%);
    }
    table{
        border-collapse: collapse;
        border-spacing: 0px;
    }
    th, td {
        padding: 2px;
    }
}
 
@media screen {
    .onlyPrint { display:none; }
}

body {	
	font-family: Trebuchet, Tahoma;
	/*	font-weight: bold;
	font-size: 1.5em;	*/
	background:
		url(./img/wood.jpg) repeat-x,			
		url(./img/bg.jpg);
}

.absend {
    background-color: orange;
    text-align: center;
}

.classes { border: 0; }

.classes tr {
    display: block;
    float: left;
    border: 0;
}
.classes tr th, .classes tr td {
    display: block;
    border: 0;
}

.itogo {
    background-color: powderblue;
    text-align: center;
}

.disabled {
    background-color: lightgray;
    color: gray;    
    text-align: justify;
}

.enabled {
    background-color: white;
    text-align: justify;
}
  
.selected {
    background-color: yellow;
    /*text-align: justify;*/
}                

.marks
{ 
    min-width:30px; 
    width:70px;
    max-width:70px; 
}       

/*
.editable {
  text-align: justify;
  white-space:normal
}
*/

.editable-buttons {
    display: block;
}

.editable-container.editable-inline, .editableform > .control-group, .editable-input, .editableform .form-control {
    width:100%;
}

.vert-text {
	display: inline-block;
	overflow: hidden;
	width: 1.5em;
}
.vert-text_in {
	display: inline-block;
	white-space: nowrap;
	line-height: 1.5;
	transform: translate(0,100%) rotate(-90deg);
	transform-origin: 0 0;
}
/* This element stretches the parent to be square
   by using the mechanics of vertical margins  */
.vert-text_in:after {
	content: "";
	display: block;
	margin: -1.5em 0 100%;
}

#header {
	height: 124px;	
}
#header strong a {
	font-size: 400%;
	color: forestgreen;
}
#header i {
	padding: 10px;
	color: white
}
#header h4 a {
	padding: 10px;
	color: white;	
}

#login {
	position: relative;
	top: 5px;
	right: 5px;
	color:white	
}

#floater {
	background: url(./img/wood.jpg);
	color: white;
	height: 35px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	z-index: 5;
}

#slogan h2 {
	-webkit-text-stroke: 1px black;
	color: white;
	text-shadow:
		-1px -1px 0 #000, 
		1px -1px 0 #000,
		-1px 1px 0 #000,
		2px 2px 0 #000;
}

li a i {
	padding-right: 10px;
}

#content {
    margin: 0 auto;
}

#main {
    margin: 0px auto;
    height: 500px;
    width: 1000px;
}

.text_news {
    float: left;
    position: absolute;
    z-index: 3;
    width: 350px;
    height: 250px;
    /*font-family: Tahoma;*/
    font-size: 14px;
    color: #FFF;
    margin: 160px 640px;
}

    .text_news b {
        /*font-family: Rockwell;*/
        font-size: 30px;
        font-weight: bold;
        line-height: 40px;
    }

.call {
    float: left;
    background-image: url(./img/telefon.jpg);
    margin-top: 12px;
    width: 273px;
    height: 48px;
}

.vblok {
    position: relative;
    height: 7em;
}

    .vblok div {
        position: absolute;
        top: 50%; /* располагаем блок по середине */
        width: 100%;
        height: 4em;
        margin-top: -2em; /* поднимаем на половину высоты */
    }

.podpis_text {
    float: right;
    padding-top: 55px;
    padding-right: 20px;
}

.podpis {
    float: right;
    background-position: 30% 45%;
    background-image: url(./img/podpis.png);
    background-repeat: no-repeat;
    padding-top: 35px;
    width: 94px;
    height: 78px;
}

.sidebar{
    width: 300px;
}

.sidebar.inner {
    padding: 0 20px 20px 20px;
    border-left: 1px dotted rgba(55, 124, 168, 0.2);
}

.sidebar.block {
    margin-bottom: 2em;
}

.block .block-title.sub-title {
    font-size: 20px;
}

.block .block-title {
    margin: 0 0 1em 0;
    /*font-size: 20px;*/
    border-bottom: 1px solid rgba(55, 124, 168, 0.3);
}

.block .block-title.sub-title span {
    padding-bottom: 8px;
}

.block .block-title span {
    border-bottom: 3px solid #3d8abb;
    padding-bottom: 4px;
}

.secondary-nav {
    margin: 0;
    padding: 0;
}

    .secondary-nav li a {
        margin: 0 0 1px 0;
        padding: 8px 0.5em;
        background: rgba(55, 124, 168, 0.05);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid rgba(55, 124, 168, 0.1);
    }


.price {
    padding: 10px;
}

    .price h3,
    .price h4 {
        text-align: center;
    }

.text-justify {
    text-align: justify;
}

.socket {
    margin-top: 10px;
    background-color: rgb(45, 92, 136);
    padding: 12px 0 8px;
    color: rgb(240, 240, 240);
}

    .socket .container {
        position: relative;
    }

.account-container {
    width: 500px;
    display: block;
    margin: 40px auto 0 auto;
    /*background: #f9f9f9;*/
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #dadada, inset 0px -3px 0px #3d8abb;
}

.content {
    padding: 16px 28px 23px;
}

.account-container h1 {
    margin-bottom: .4em;
    color: #f90;
}

.account-container .control-group input {
    width: 250px;
}

#contact .contact {
    margin: 40px 0 100px 0;
}

    #contact .contact p {
        color: black;
        font-size: 18px;
        margin-bottom: 47px;
        font-style: italic;
        line-height: 24px;
    }

    #contact .contact form {
        margin: 0;
    }

#contact .form .box_r {
    float: right;
}

#contact .form .box {
    margin: 0;
}

    #contact .form .box input[type="text"] {
        padding-left: 39px;
        margin-bottom: 10px;
        color: black;
        height: 29px;
        border-radius: 3px;
        width: 89%;
    }

    #contact .form .box textarea {
        padding: 11px;
        width: 94%;
        margin: 0;
        border-radius: 3px;
        height: 113px;
    }

#contact .contact .submit {
    margin: 0;
}

    #contact .contact .submit .box {
        margin: 0;
    }

.right {
    float: right;
}

        #contact .contact .submit .right input[type="submit"] {
            text-transform: uppercase;
            color: #fff;
            background: #187CCC;
            font-size: 15px;
            padding: 4px 12px;
            border: 0 none;
            border-radius: 3px;
        }

.box_wrapp {
    position: absolute;
    margin: 0;	
	width: 300px;
    box-shadow: 0 0 7px 0 rgba(26, 26, 26, 0.4);
    padding: 33px 0 33px;
    background: white;
    top: 300px;
	left: 120px;
    border-radius: 4px;
}

.box_wrapp .box_cont {
    margin: 0 auto;
    width: 76%;
}

.box_wrapp .head {
    width: 100%;
    margin-bottom: 17px;
    overflow: hidden;
}

.box_wrapp ul.street {
    list-style: none;
    margin: 0;
    padding: 0;
}

.box_wrapp .headbottom {
    margin-top: 42px;
}

/*
#wrapper {
    margin: 0 auto;
    height: 100%;
    min-width: 800px;
}

#slid {
    position: relative;
    float: left;
    width: 100%;
    height: 479px;
}

#slider_content {
    background-image: url(./img/slade_fon.png);
    float: left;
    width: 100%;
    height: 200px;
}

.slider {
    float: left;
    width: 100%;
    height: 477px;
    position: absolute;
    z-index: 1;
    min-width: 1000px;
}

.sliderContent {
    float: left;
    width: 100%;
    height: 100%;
    clear: both;
    position: relative;
    overflow: hidden;
}

    .sliderContent img {
        max-width: none;
    }

.sliderBullets {
    position: absolute;
    bottom: 0;
    right: 460px;
    left: 50%;
    z-index: 5;
    margin-left: -45px;
    margin-left: 177px;
    margin-bottom: 30px;
}

    .sliderBullets .active {
        background-position: 0 -23px;
    }

    .sliderBullets a {
        display: block;
        float: left;
        text-indent: -9999px;
        outline: none;
        margin-left: 5px;
        width: 20px;
        height: 12px;
        background: url(./img/bullets.png) no-repeat;
        padding-top: 10px;
        padding-left: 7px;
    }


.sliderArrows a {
    display: block;
    text-indent: -9999px;
    outline: none;
    z-index: 50;
    position: absolute;
    top: 50%;
    margin-top: -34px;
}

.logo {
    position: absolute;
    z-index: 4;
    float: left;
    width: 250px;
    text-align: left;
    margin-top: -15px;
    color: #FFF;
}

#banner {
    background-image: url(./img/banner_fon.jpg);
    float: left;
    width: 100%;
    height: 138px;
    background-color: #333;
}

.banner_center {
    width: auto;
    margin: -20px auto;
    z-index: 10;
    position: relative;
    height: 178px;
    width: 1000px;
}

#header {
    margin: 60px auto;
    float: left;
    width: 1024px;
}

    #header a {
        color: #FFF;
    }

.logo a {
    font-size: 57px;
    font-weight: bold;
}

    .logo a:hover {
        text-decoration: none;
    }

.main_menu {
    position: absolute;
    z-index: 3;
    padding-left: 335px;
    float: left;
    font-family: Tahoma, Geneva, sans-serif;
    height: 42px;
    font-size: 17px;
}

.main_menu a {
    float: left;
    text-decoration: none;
    padding-left: 18px;
    padding-right: 20px;
    padding-bottom: 15px;
    color: white;
    font-size: 17px;
}

.main_menu a:hover {
    text-decoration: none;
}

#header a.cur {
    background-image: url(./img/pod_menu.png);
    background-position: 0 120%;
    background-repeat: no-repeat;
    color: #6c6c6c;
}

#footer {
    float: left;
    width: 100%;
    height: 80px;
    padding-top: 50px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
}

    #footer img {
        width: 100%;
        height: 2px;
    }
*/
