﻿@model WebSite.WebServiceReference.WSUserProfile

@if (Roles.IsUserInRole("admins"))
{
    <div class="block">
        <h3 class="block-title sub-title">
            <span>Администрирование</span>
        </h3>
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <td>@Html.ActionLink("Управление пользователями", "Index", "Admin")</td>
                </tr>
            </tbody>
        </table>
    </div>
}

@if (Roles.IsUserInRole("managers"))
{
    <div class="block">
        <h3 class="block-title sub-title">
            <span>Менеджер</span>
        </h3>
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <td>@Html.ActionLink("Школы", "Index", "School")</td>
                </tr>
            </tbody>
        </table>
    </div>
}

@if (Roles.IsUserInRole("clients"))
{
    <div class="block">
        <h3 class="block-title sub-title">
            <span><i class="icon-user" style="padding-right: 10px;"></i>Данные клиента</span>
        </h3>
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <td>@Html.ActionLink(Model.Client.Name, "Index", "Client")</td>
                </tr>
                <tr>
                    <td>Количество детей: @Model.Client.Pupils.Count</td>
                </tr>
            </tbody>
        </table>

        @foreach (var pupil in Model.Client.Pupils)
        {
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <td>@Html.ActionLink(pupil.Name, "Index", "Pupil", new { pupilID = pupil.ID }, null)</td>
                    </tr>
                    <tr>
                        <td><strong>Тарифы:</strong></td>
                    </tr>
                    @foreach (var tarif in pupil.Tarifs)
                    {
                        var _class = "ok";
                        if (tarif.DateLost < DateTime.Now.AddDays(-7))
                        {
                            _class = "end";
                        }
                        else if (tarif.DateLost > DateTime.Now.AddDays(-7) && tarif.DateLost < DateTime.Now)
                        {
                            _class = "lastweek";
                        }

                        <tr class="@_class">
                            <td>@tarif.Name (до @tarif.DateLost.ToString("dd.MM.yyyy"))</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
}
