﻿@model WebSite.Controllers.PupilControllerModel
@{
    ViewBag.Title = "Index";
}

@section head
{
    @Scripts.Render("~/Content/js/moment.min.js")
}
<div class="block">
@*
    <h3 class="block-title">@Model.Pupil.Name</h3>
    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <td width="224" rowspan="3" valign="middle">
                    <img src="@Url.Action("PupilPhoto")" width="90%" height="100%" class="img-polaroid">
                </td>
                <td width="370" align="right" valign="middle">
                    <p><strong>Учебное заведение:</strong></p>
                </td>
                <td width="483" valign="middle">
                    <p>@Html.ActionLink(Model.Pupil.School.Name, "Details", "School", new { schoolID = Model.Pupil.School.ID }, null)</p>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <p><strong>Класс:</strong></p>
                </td>
                <td valign="middle">
                    <p>@Html.ActionLink(Model.Pupil.Unit.Name, "Index", "Unit", new { unitID = Model.Pupil.Unit.ID }, null)</p>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <p><strong>Руководитель:</strong></p>
                </td>
                <td valign="middle">
                    <p>@Html.ActionLink(Model.Pupil.Unit.Boss.Name, "Index", "Teacher", new { id = Model.Pupil.Unit.Boss.ID }, null)</p>
                </td>
            </tr>
        </tbody>
    </table>
    *@
    <hr />
    <div class="tabbable">
        <ul class="nav nav-tabs" id="pTab">
            <li>
                <a href="#tab1" data-toggle="tab">Дневник</a>
            </li>
            <li>
                <a href="#tab2" data-toggle="tab">Успеваемость</a>
            </li>
            <li>
                <a href="#tab3" data-toggle="tab">Расписание</a>
            </li>
            @if (Roles.IsUserInRole("managers") || Roles.IsUserInRole("admins"))
            {
                <li>
                    <a href="#tab4" data-toggle="tab">Фото</a>
                </li>
            }
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="tab1">
                <div>
                    <img src="@Url.Content("~/Content/img/loading.gif")"/>
                    <span>Loading ...</span>
                </div>
                <hr />
            </div>
            <div class="tab-pane" id="tab2">
                Успеваемость
            </div>
            <div class="tab-pane" id="tab3">
                <div>
                    <img src="@Url.Content("~/Content/img/loading.gif")"/>
                    <span>Loading ...</span>
                </div>
                <hr />
            </div>
            @if (Roles.IsUserInRole("managers") || Roles.IsUserInRole("admins"))
            {
                <div class="tab-pane" id="tab4">
                    <div>
                        <img src="@Url.Content("~/Content/img/loading.gif")"/>
                        <span>Loading ...</span>
                    </div>
                    <hr />
                </div>
            }
        </div>
    </div>
</div>
@*
@section scripts
{
    <script>
        var timetable = null;
        var dnevnik = null;

        $('a[data-toggle="tab"]').on('shown', function (e) {
            if (e.target.hash == '#tab1') {
                if (dnevnik == null) {
                    $(e.target.hash).load('/Unit/Dnevnik?id=@Model.Pupil.ID');
                    dnevnik = 1;
                }
            }
            if (e.target.hash == '#tab3') {
                if (timetable == null) {
                    $(e.target.hash).load('/Unit/Timetable?id=@Model.Pupil.Unit.ID');
                    timetable = 1;
                }
            }
        });
    </script>
}
*@
