﻿<div id="toPrint">
    <div class="tree" style="padding: 0px 100px;">
        <ul>
            <li>
                <a>ЕРИП</a>
                <ul>
                    <li>
                        <a>г.Витебск</a>
                        <ul>
                            <li>
                                <a>Образование и развитие</a>
                                <ul>
                                    <li>
                                        <a>Дополнительное образование и развитие</a>
                                        <ul>
                                            <li style="padding: 0px 40px;">
                                                <a>АйДиСмарт</a>
                                                <ul>
                                                    <li>
                                                        <a>Прочие услуги</a>
                                                        <ul>
                                                            <li style="padding: 0px 40px;">
                                                                <a>@ViewBag.Pupil</a>
                                                                <ul>
                                                                    <li style="padding: 0px 20px;">
                                                                        <a>@ViewBag.Pay</a>
                                                                        <ul>
                                                                            <li style="padding: 0px 20px;">
                                                                                <a>@ViewBag.Phone</a>
                                                                                <ul>
                                                                                    <li style="padding: 0px 20px;">
                                                                                        <a>@ViewBag.Sum</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <hr />
    <div class="alert alert-info text-center">
        Дополнительную информацию и консультацию, можно<br />
        получить, позвонив на сервисный телефон:<br />
        <strong>МТС 8033 624-18-26</strong> <br>
        <strong>Life 8025 624-18-26</strong> <br>
        <strong>Velcom 8029 624-48-26</strong>
    </div>
</div>
