﻿@{
    ViewBag.Title = "Калькулятор ЕРИП";
}

@section banner
{
	<style>
		#banner {
			height: 200px;
			background: url(@Url.Content("~/Content/img/calc.jpg")) center no-repeat;
		}
	</style>

   <div id="banner"> </div>
}

<div class="container">
	<div class="block text-center">
		<form class="form-horizontal" action="/Home/Calculate" id="calcForm" name="calcForm" method="POST">
			<fieldset>
				<br><h3 class="block-title">Калькулятор ЕРИП</h3><br>
				<div class="form-group">
					<label class="control-label col-xs-4">Учреждение образования:</label>
					<div class="col-xs-3">
						<select class="form-control" name="schoolSelect">
							@foreach (var item in ViewBag.GList)
							{
								<option value="@item.Код">@item.Наименование</option>
							}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-4" for="textClass">Класс:</label>
					<div class="col-xs-3">
						<input class="form-control" type="text" name="textClass" id="textClass" placeholder="1А, 1Б, и т.д." />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-4">Ученик:</label>
					<div class="col-xs-3">
						<input class="form-control" type="text" name="textPupil" id="textPupil" placeholder="Фамилия и имя учащегося" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-4">Номер телефона:</label>
					<div class="col-xs-3">
                        <div class="input-group">
                            <div class="input-group-addon"> +375 </div>
						    <input class="form-control" type="text" name="phone" id="phone" placeholder="Номер телефона" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-4">Услуга 1:</label>
					<div class="col-xs-3">
						<select class="form-control" name="operSelect">
							@foreach (var item in ViewBag.OperList)
							{
								<option itemid="@item.ID">@item.Name</option>
							}
						</select>
					</div>
				</div>
				<div class='form-group'>
                    <label class='control-label col-xs-5'>Количество месяцев:</label>
                    <div class='col-xs-2'>
                        <input class='form-control' type='number' id='months_1' name='months' min='1' max='9' value='1'>
                    </div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-4">Услуга 2:</label>
					<div class="col-xs-3">
						<select class="form-control" name="operSelect">
							@foreach (var item in ViewBag.OperList)
							{
								<option itemid="@item.ID">@item.Name</option>
							}
						</select>
					</div>
				</div>
				<div class='form-group'>
                    <label class='control-label col-xs-5'>Количество месяцев:</label>
                    <div class='col-xs-2'>
                        <input class='form-control' type='number' id='months_2' name='months' min='1' max='9' value='1'>
                    </div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-4">Услуга 3:</label>
					<div class="col-xs-3">
						<select class="form-control" name="operSelect">
							@foreach (var item in ViewBag.OperList)
							{
								<option itemid="@item.ID">@item.Name</option>
							}
						</select>
					</div>
				</div>
				<div class='form-group'>
                    <label class='control-label col-xs-5'>Количество месяцев:</label>
                    <div class='col-xs-2'>
                        <input class='form-control' type='number' id='months_3' name='months' min='1' max='9' value='1'>
                    </div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-4 col-xs-3">
						<input class="form-control btn btn-default" type="submit" value="Рассчитать" id="calcBtn" />
					</div>
				</div>
			</fieldset>
		</form>

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="CalcModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content" id="toPrint">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3>Схема оплаты</h3>
					</div>
					<div class="modal-body" id="myModalBody">
						<h3 class="block-title sub-title">Для оплаты через: банк, интернет-банк, инфокиоск</h3>
						<table class="table table-bordered">
							<tbody>
								<tr>
									<td>ФИО</td>
									<td>Hello</td>
								</tr>
								<tr>
									<td>Назначение платежа</td>
									<td>Hello</td>
								</tr>
								<tr>
									<td>Сумма</td>
									<td>Hello</td>
								</tr>
							</tbody>
						</table>
						<a class="btn btn-success pull-right" id="btnCopy1">Скопировать</a>
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
						<input type="button" class="btn" id="printBtnSpec" value="Распечатать" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $.validator.addMethod("OnlyLettersAndNumbers", function (value, element) {
                return /^[а-яА-Я0-9]+$/.test(value);
            }, "Вводите только русские буквы и цифры");
            $.validator.addMethod("OnlyFullname", function (value, element) {
                return /^[а-яёА-ЯЁ\- ]+$/.test(value);
            }, "Вводите только русские буквы, дефис или пробел");
            $.validator.addMethod("SecondName", function (value, element) {
                return /^[а-яёА-ЯЁ]+ .+$/.test(value);
            }, "Введите имя и фамилию");

            $("#calcForm").validate({
                submitHandler: function (form) {
                    $.ajax({
                        'url': '/Home/Calculate',
                        'type': 'POST',
                        'data': $('#calcForm').serialize(),
                        'success': function (result) {
                            $('#myModalBody').html(result);
                            $('#myModal').modal();
                            return false;
                        }
                    });
                    return false;
                },
                rules: {
                    textClass: { required: true, minlength: 2, maxlength: 3, OnlyLettersAndNumbers: true },
                    textPupil: { required: true, OnlyFullname: true, SecondName: true },
                    phone: { required: true, digits: true, minlength: 9, maxlength: 9 },
                    textSum: "required"
                },
                messages: {
                    textClass: {
                        required: "Введите класс",
                        minlength: "Введите не менее, чем 2 символа.",
                        //SecondName: "Введите имя и инициалы",
                        //OnlyLettersAndNumbers: "Вводите только русские буквы и цифры"
                    },
                    textPupil: {
                        required: "Введите имя ученика",
                        //OnlyFullname: "Вводите только русские буквы, пробел и точку"
                    },
                    phone: {
                        required: "Введите свой телефон",
                        digits: "Вводите только цифры",
                        minlength: "Введите ровно 9 цифр",
                        maxlength: "Введите ровно 9 цифр"
                    },
                    textSum: "Введите сумму"
                }
            });
            
            $('#printBtnSpec').click(function () {
                $("#toPrint").print();
                //$.ajax({
                //    'url': '/Home/Calculate',
                //    'type': 'POST',
                //    'data': $('#calcForm').serialize(),
                //    'success': function (result) {
                //        $('#myModalBody').html(result);
                //        $('#myModal').modal();
                //        return false;
                //    }
                //});
                return false;
            });
            
        });
    </script>
}
