﻿@{
    ViewBag.Title = "Ошибка оплаты";
}

@section banner
{
	<style>
		#banner {
			height: 200px;
			/* background: url(@Url.Content("~/Content/img/news.jpg")) center no-repeat; */
		}
	</style>

   <div id="banner"> </div>
}

<div class="container">	
    <div id="text_area">
	    <div class="block text-center">
		    <h3>Ошибка при оплате.</h3>
	    </div>
    </div>
</div>
