﻿@{
    ViewBag.Title = "Корзина";
}
@*
@section head
{    
    @Scripts.Render("~/Content/js/sha1.js") 
}
*@
<div class="container-fluid">	
    <div class="row">
        <div class="col-xs-3" style="padding: 30px 10px">
            <img src="@Url.Content("~/Content/img/cart.gif")" />
        </div>
        <div id="text_area" class="col-xs-9">
	        <div class="block text-center">
		        <h3 style="margin-left: -250px">Заполните форму</h3>
		        <p style="margin-left: -250px">После этого Вы будете перенаправлены на страницу оплаты в системе электронных платежей WebPay.</p>

                 @using (Html.BeginForm("PaySubmit", "Home", null, FormMethod.Post, new { @class = "form-horizontal", @id = "CartForm" }))   
                        {                            
                            @Html.AntiForgeryToken()
						    @Html.ValidationSummary(true)
                            
         				    <div class="form-group">
							    @Html.Label("Email:", new { @class = "control-label col-xs-offset-1 col-xs-1" })
                                <div class="col-xs-3">
							        @Html.TextBox("email", "", new { @class = "form-control" })
						        </div>
						    </div>
						    <div class="form-group">
							    @Html.Label("Телефон:", new { @class = "control-label col-xs-offset-1 col-xs-1" })
                                <div class="col-xs-3">
                                    <div class="input-group">
                                        <div class="input-group-addon"> +375 </div>
                                        @Html.TextBox("phone", "", new { @class = "form-control" })
						            </div>
                                </div>
						    </div> 
                            <div id="row_0" class="form-group">
							    @Html.Label("Услуга:", new { @class = "control-label col-xs-offset-1 col-xs-1" })
                                <div class="col-xs-3">
                                    <select class="form-control" id="GoodsSelect_0" name="GoodsSelect_0" num="0">
							            @foreach (var item in ViewBag.GoodsList)
                                        {
                                            <option itemid="@item.ID" price="@item.Price">
                                                @item.Name
                                            </option>
                                        }
						            </select>
                                </div>
                                <input type="hidden" id="goods_id_0" name="goods_id" value="0"> 
						    </div>
						    <div class='form-group'>
                                <label class='control-label col-xs-3'>Количество месяцев:</label>
                                <div class='col-xs-2'>
                                    <select class='form-control' id='months_0' name='months'>
                                        <option itemid='1'> 1 </option>
                                        <option itemid='2'> 2 </option>
                                        <option itemid='3'> 3 </option>
                                        <option itemid='4'> 4 </option>
                                        <option itemid='5'> 5 </option>
                                        <option itemid='6'> 6 </option>
                                        <option itemid='7'> 7 </option>
                                        <option itemid='8'> 8 </option>
                                        <option itemid='9'> 9 </option>
						            </select>
                                </div>
						    </div>
                                 
                            <div id="row_1">     </div>
                            <div id="row_2">     </div>
                            <div id="row_3">     </div>
                            <div id="row_4">     </div>
                            <div id="row_5">     </div>
                            <div id="row_6">     </div>
                            <div id="row_7">     </div>
                            <div id="row_8">     </div>
                                
						    <div class="form-group">
                                <div class="col-xs-offset-2 col-xs-2">
                                    <button type="button" class="form-control btn btn-default" onclick="AddGoodsRow()">Добавить услугу</button>
                                </div>
                            </div>
                     
                            <div class="form-group">
                                <label class="control-label col-xs-offset-1 col-xs-1">Итого:</label>
                                <div class="col-xs-2">
                                    <input type="text" id="total_price" name="total_price" class="form-control" readonly> 
                                </div>
							    <div class="col-xs-2">
								    <button type="submit" class="form-control btn btn-default">Оплатить</button>
							    </div>
						    </div>
                        }
	        </div>
        </div>
    </div>
</div>

<div style="padding: 120px 50px" align="center">
    <img src="@Url.Content("~/Content/img/webpay.gif")" style="height: 50px" />
    <img src="@Url.Content("~/Content/img/visa.gif")" style="height: 50px" /> 
    <img src="@Url.Content("~/Content/img/verified.gif")" style="height: 50px" /> 
    <img src="@Url.Content("~/Content/img/mastercard.gif")" style="height: 50px" /> 
    <img src="@Url.Content("~/Content/img/securecode.gif")" style="height: 50px" /> 
</div>


@section scripts
{
    <script>
        var rows = 1;

        function AddGoodsRow() {
            $("#row_" + rows).html(
                "<div class='form-group'> \
                    <label class='control-label col-xs-offset-1 col-xs-1' for=''>Услуга:</label> \
                    <div class='col-xs-3'> \
                    <select class='form-control' id='GoodsSelect_" + rows + "' name='GoodsSelect_" + rows + "' num='" + rows + "'> \
                        <option itemid='0' price='0'>  </option> \
                        <option itemid='1' price='20000'> СМС Начальный </option> \
                        <option itemid='2' price='30000'> СМС Базовый </option> \
                        <option itemid='3' price='35000'> Оценки Начальный </option> \
                        <option itemid='4' price='50000'> Оценки Базовый </option> \
                        <option itemid='5' price='15000'> Д/З Начальный </option> \
                        <option itemid='6' price='30000'> Д/З Базовый </option> \
                        <option itemid='7' price='60000'> Новая карта доступа </option> \
                        <option itemid='8' price='30000'> Восстановление карты </option> \
                        <option itemid='9' price='10000'> Новая наклейка </option> \
                    </select> </div> \
                    <input type='hidden' id='goods_id_" + rows + "' name='goods_id' value='0'> \
                    <div class='col-xs-2'> \
                        <button type='button' class='form-control btn btn-default' onclick='DelGoodsRow(" + rows + ")'>Убрать</button> \
                    </div> \
                </div> \
				<div class='form-group'> \
                    <label class='control-label col-xs-3'>Количество месяцев:</label> \
                    <div class='col-xs-2'> \
                        <select class='form-control' id='months_" + rows + "' name='months'> \
                            <option itemid='1'> 1 </option> \
                            <option itemid='2'> 2 </option> \
                            <option itemid='3'> 3 </option> \
                            <option itemid='4'> 4 </option> \
                            <option itemid='5'> 5 </option> \
                            <option itemid='6'> 6 </option> \
                            <option itemid='7'> 7 </option> \
                            <option itemid='8'> 8 </option> \
                            <option itemid='9'> 9 </option> \
						</select> \
                    </div> \
				</div>  "
            );
            rows++;
        }

        function DelGoodsRow(row) {
            $("#row_" + row).html("");
            SetTotalPrice();
        }

        function SetTotalPrice() {
            var price = 0;
            for (i = 0; i < 8; i++) {
                var x = $('#GoodsSelect_' + i).find("option:selected").attr('price');
                var id = $('#GoodsSelect_' + i).find("option:selected").attr('itemid');
                var m = 1;
                if ( $.inArray(id,["7","8","9"]) == -1)
                { m = $('#months_' + i).find("option:selected").val(); }
                if (typeof x !== "undefined" & typeof m !== "undefined")
                    { price += parseInt(x*m); }
            }
            $("#total_price").val(price);
        }

        $('#CartForm').on('change', 'select', (function () {
            var x = $(this).find("option:selected").attr('itemid');
            var n = $(this).attr('num');
            $('#goods_id_'+n).val(x);
            SetTotalPrice();
        }));
 
        $(document).ready(function () {
            $("#CartForm").validate({
                rules: {
                    email: { required: true, email: true },
                    phone: { required: true, digits: true, minlength: 9, maxlength: 9 },
                    GoodsSelect_0: "required"
                },
                messages: {
                    email: {
                        required: "Введите адрес электронной почты",
                        email: "Введите корректный адрес"
                    },
                    phone: {
                        required: "Введите свой телефон",
                        digits: "Вводите только цифры",
                        minlength: "Введите ровно 9 цифр",
                        maxlength: "Введите ровно 9 цифр"
                    },
                    GoodsSelect_0: "Выберите услугу"
                }
            });
        });

        @*
        function hashFunction() {
            var str = document.getElementById("seed").value + document.getElementById("store_id").value +
                document.getElementById("order_num").value + document.getElementById("test").value +
                document.getElementById("currency").value + document.getElementById("total_price").value +
                "2cVkxpYfcp";
            var hash = CryptoJS.SHA1(str);
            document.getElementById("signature").value = hash;

            var now = new Date();
            var time = now.getYear() + now.getMonth() + now.getDate() +
                now.getHours() + now.getMinutes() + now.getSeconds() + now.getMilliseconds();
            document.getElementById("order_num").value = "Order_" + time;
            document.getElementById("seed").value = time;
        }
        *@
    </script>
}