﻿@{
    ViewBag.Title = "Контакты";
}

<div class="map" style="margin: 0; height: 600px">
	<div class="box_wrapp" style="z-index: 1">
		<div class="box_cont">
			<div class="head">
				<h4>Наш адрес:</h4>
			</div>
			<ul class="street">
				<li>Республика Беларусь</li>
				<li>210039 г.Витебск</li>
				<li>ул. П.Бровки 50, офис 321</li>
				<li class="icon icontop">
					<span class="contacticos ico1"></span>
					<span class="text">Тел. МТС: (033) 624-18-26</span><br />
                    <span class="text">Тел. Life: (025) 624-18-26</span><br />
                    <span class="text">Тел. Velcom: (029) 624-48-26</span><br />
				</li>
				<li class="icon">
					<span class="contacticos ico2"></span>
					<a class="text" href="#">idsmart2011@@yandex.ru</a>
				</li>
			</ul>
		</div>
	</div>
	<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=5cdwpJ6ce3hZZLDtv6Dy-xWHHOQlHpru&width=100%&height=600"></script>
</div>

<div id="contact">
    <div class="container">
		<div class="row contact">
			<p>
				Обратитесь к нашим специалистам и получите профессиональную консультацию по услугам нашей компании. 
				Вы можете связаться с нами по телефону или электронной почте 7 дней в неделю. Будем рады помочь вам и ответить на все вопросы.
			</p>

			@using (Html.BeginForm("SendMessage", "Home"))
			{
				@Html.AntiForgeryToken()
				@Html.ValidationSummary(true)
				<div class="row">
					<div class="col-xs-6 box">
						<div class="row">
							<div class="col-xs-1">
								<span class = "control-label">
									<i class="glyphicon glyphicon-user icon-large" style="padding: 10px 20px;"></i>
								</span>
							</div>
							<div class="col-xs-11">
								@Html.TextBox("name", null, new { @class = "form-control", placeholder = "Имя" })
							</div>
						</div>
						<div class="row">
							<div class="col-xs-1">
								<span class="control-label">
									<i class="glyphicon glyphicon-envelope icon-large" style="padding: 10px 20px;"></i>
								</span>
							</div>
							<div class="col-xs-11">
								@Html.TextBox("email", null, new { @class = "form-control", placeholder = "Email" })
							</div>
						</div>
						<div class="row">
							<div class="col-xs-1">
								<span class="control-label">
									<i class="glyphicon glyphicon-earphone icon-large" style="padding: 10px 20px;"></i>
								</span>
							</div>
							<div class="col-xs-11">
								@Html.TextBox("phone", null, new { @class = "form-control", placeholder = "Телефон" })
							</div>
						</div>
					</div>
					<div class="col-xs-6 box box_r">
						@Html.TextArea("msg", null, new { @class = "form-control", rows = "5", placeholder = "Введите здесь текст сообщения..." })
						<br>
					</div>
				</div>

				<div class="row submit">
					<div class="col-xs-offset-2 col-xs-4">
						<label class="checkbox">
							<input type="checkbox">
							Получать новости
						</label>
					</div>
					<div class="col-xs-6">
						<button type="submit" class="btn btn-primary">Отправить сообщение</button>
					</div>
				</div>
			}
		</div>
	</div>
</div>

