﻿@*
@section head
{
    @Styles.Render("~/Content/css/bootstrap-editable.css")
    @Scripts.Render("~/Content/js/bootstrap-editable.min.js")
}
*@
<div class="container-fluid">
        <h3>Демонстрация</h3>
        <hr>
        <h4> @ViewBag.Error </h4>
        <br>
        <div id="slide">

        </div>
        @*
            int forward, back;
            switch (@ViewBag.Page)
            {
                case "Monday": return "Понедельник";
                case "Tuesday": return "Вторник";
                case "Wednesday": return "Среда";
                case "Thursday": return "Четверг";
                case "Friday": return "Пятница";
                case "Saturday": return "Суббота";
            }
    
            <br>
            <a class="btn btn-lg btn-success" role="button" href="/Home/Demo?@back"> Назад </a>
            <a class="btn btn-lg btn-success" role="button" href="/Home/Demo?@forward"> Вперед </a>
        *@
</div>


@section scripts
{
        <script>
            $(document).ready(function () {
                var forward, back, text, image;
                var page = '@ViewBag.Page';
                if (page == '') {
                    page = '1';
                }

                switch (page) {
                    case "1":
                        back = 1;
                        forward = 2;
                        image = '@Url.Content("~/Images/Demo/1.jpg")';
                        text = "1. Заходим в личный кабинет через опцию \"Выполнить вход\"";
                        break;
                    case "2":
                        back = 1;
                        forward = 3;
                        image = '@Url.Content("~/Images/Demo/2.jpg")';
                        text = "2. Заполняем имя пользователя и пароль данными, использованными при регистрации";
                        break;
                    case "3":
                        back = 2;
                        forward = 4;
                        image = '@Url.Content("~/Images/Demo/3.jpg")';
                        text = "3. Нажимаем \"Выполнить вход\"";
                        break;
                    case "4":
                        back = 3;
                        forward = 5;
                        image = '@Url.Content("~/Images/Demo/4.jpg")';
                        text = "4. 1 - Срок действия услуги 2 - Ваши платежи в системе";
                        break;
                    case "5":
                        back = 4;
                        forward = 6;
                        image = '@Url.Content("~/Images/Demo/5.jpg")';
                        text = "5. Нажимаем, чтобы открыть \"Домашние задания\"";
                        break;
                    case "6":
                        back = 5;
                        forward = 7;
                        image = '@Url.Content("~/Images/Demo/6.jpg")';
                        text = "6. Выбираем и нажимаем на завтрашнее число. Подсветились предметы, которые будут проходить завтра";
                        break;
                    case "7":
                        back = 6;
                        forward = 8;
                        image = '@Url.Content("~/Images/Demo/7.jpg")';
                        text = "7. Задание на завтра по предмету, который проходит ежедневно";
                        break;
                    case "8":
                        back = 7;
                        forward = 8;
                        image = '@Url.Content("~/Images/Demo/8.jpg")';
                        text = "8. Задание на завтра по предмету, который проходит периодически";
                        break;
                }

                $("#slide").html(
                   "<a class='btn btn-lg btn-success' role='button' href='/Home/Demo?page=" + back + "'> Назад </a> \
                    <span>" + text + "</span> \
                    <a class='btn btn-lg btn-success' role='button' href='/Home/Demo?page=" + forward + "'> Вперед </a> \
                    <a class='btn btn-lg btn-success' role='button' href='/Home/Index'> Вернуться на главную </a> \
                    <br> <br> \
                    <img style='width:99%' src=" + image + " /> "
               );
                
            });
        </script>
}
