﻿@{
    ViewBag.Title = "Домашняя страница";
}

<style>
	#banner {
		height: 369px;
		width: 1000px;	
		margin-left: auto;
		margin-right: auto;
		background: url(@Url.Content("~/Content/img/collage.jpg")) center no-repeat;
	}
</style>

<div class="container">	
	<div id="text_area">
		<div class="block text-justify">
            <h3 class="editable" id="edit_0" data-type="text" data-pk="0" data-url="/Manager/Edit" data-name="/Home/Index" data-title="Редактировать заголовок"> @Html.Raw(ViewBag.Texts[0].Value) </h3>
            
            @if (this.User.IsInRole("managers"))
            {   <a href="#" class="edit" data-toggle="#edit_0"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
		    <div class="editable" id="edit_1" data-type="textarea" data-pk="1" data-url="/Manager/Edit" data-name="/Home/Index" data-title="Редактировать текст" data-escape="false"> @Html.Raw(ViewBag.Texts[1].Value) </div>
            @if (this.User.IsInRole("managers"))
            {   <a href="#" class="edit" data-toggle="#edit_1"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a>  }
            
            @*
			<h3>Почему мы?</h3>
			<p>Общество с ограниченной ответственностью <a href="/">"АйДиСмарт"</a> создано специалистами-разработчиками в 2011 году с целью реализации инновационных проектах в сфере образования.</p>
			<p>Мы реализуем инновационные проекты, способствующие росту эффективности учебного процесса за счет использования передовых технологий, профессионализма и опыта наших сотрудников.</p>
			<p>Сфера нашей деятельности – внедрение инновационных программно-технических комплексов и систем для сферы образования.</p>
			<p>Электронная школа — комплекс безопасности образовательного процесса, с функцией <a href="#">СМС-информирования родителей</a> о времени прибытия/убытия детей в учебное заведение.</p>
			<p><a href="#">Электронный Журнал</a> — по сути это открытая, доступная в любой момент времени электронная версия школьного журнала с явными преимуществами перед другими разработками «электронных дневников».</p>
			<p>Школьный Сайт — мы с удовольствием поможем школе организовать свой сайт. За небольшую плату наш сотрудник будет следить за ним — добавлять материалы и статьи.</p>
			*@
            @*
            <div class="podpis_text">Сухов Дмитрий Николаевич</div>
			<div class="podpis"></div>
			<div class="podpis_text">Управляющий </div>
            *@
            <div class="podpis_text">Коллектив "АйДиСмарт"</div>
		</div>
	</div>
</div>

<div style="padding-top: 100px"> </div>
<div style="padding: 20px 50px" align="center">
    <a href="http://webpay.by">
        <img src="@Url.Content("~/Content/img/webpay.gif")" style="height: 32px" />
        <img src="@Url.Content("~/Content/img/visa.gif")" style="height: 32px" /> 
        <img src="@Url.Content("~/Content/img/verified.gif")" style="height: 32px" /> 
        <img src="@Url.Content("~/Content/img/mastercard.gif")" style="height: 32px" /> 
        <img src="@Url.Content("~/Content/img/securecode.gif")" style="height: 32px" />
        <img src="@Url.Content("~/Content/img/belcart.gif")" style="height: 32px" />
    </a> 
    <a href="https://goo.gl/YsKDEt">
        <img src="@Url.Content("~/Content/img/MKB_logo.png")" style="height: 32px" />
    </a> 
    <h5> ООО «Айдисмарт», УНП 391326759 </h5>
    <h6> Свидетельство о государственной регистрации 391326759, выдано Аминистрацией Первомайского района г. Витебска 03.08.2011 </h6>
</div>


@section banner
{
    <div id="banner">
		<div class="row">
			<div class="col-xs-1"> </div>
			<div class="col-xs-10">
				<div class="block text-justify">
					<div id="slogan">
					<h2>ОБРЕТИТЕ УВЕРЕННОСТЬ.</h2>
					<h2><i>Наверное, всем родителям знакомо чувство беспокойства: дошел ли ребенок до школы без приключений, почему не позвонил, как договаривались. У нас есть рецепт...</i></h2>
					</div>
				</div>
			</div>
			<div class="col-xs-1"> </div>
		</div>
	</div>
}

