﻿@{
    ViewBag.Title = "Перечень предметов";
}

<div class="block">
    <h3 class="block-title">Перечень предметов по параллелям</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>2 классы</th>
                <th>3 классы</th>
                <th>4 классы</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="label label-info">1. Английский язык</span></td>
                <td><span class="label label-info">1. Английский язык</span></td>
                <td><span class="label label-info">1. Английский язык</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">2. Белорусская литература</span></td>
                <td><span class="label label-info">2. Белорусская литература</span></td>
                <td><span class="label label-info">2. Белорусская литература</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">3. Белорусский язык</span></td>
                <td><span class="label label-info">3. Белорусский язык</span></td>
                <td><span class="label label-info">3. Белорусский язык</span></td>
            </tr>
            <tr>
                <td>4. Изобразительное искусство</td>
                <td>4. Изобразительное искусство</td>
                <td>4. Изобразительное искусство</td>
            </tr>
            <tr>
                <td><span class="label label-info">5. Математика</span></td>
                <td><span class="label label-info">5. Математика</span></td>
                <td><span class="label label-info">5. Математика</span></td>
            </tr>
            <tr>
                <td>6. Музыка</td>
                <td>6. Музыка</td>
                <td>6. Музыка</td>
            </tr>
            <tr>
                <td><span class="label label-info">7. Русская литература</span></td>
                <td><span class="label label-info">7. Русская литература</span></td>
                <td><span class="label label-info">7. Русская литература</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">8. Русский язык</span></td>
                <td><span class="label label-info">8. Русский язык</span></td>
                <td><span class="label label-info">8. Русский язык</span></td>
            </tr>
            <tr>
                <td>9. Трудовое обучение</td>
                <td>9. Трудовое обучение</td>
                <td>9. Трудовое обучение</td>
            </tr>
            <tr>
                <td>10.Физическая культура</td>
                <td>10.Физическая культура</td>
                <td>10.Физическая культура</td>
            </tr>
            <tr>
                <td>11.Человек и мир</td>
                <td>11.Человек и мир</td>
                <td>11.Человек и мир</td>
            </tr>
        </tbody>
    </table>

    <hr />

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>5 классы</th>
                <th>6 классы</th>
                <th>7 классы</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="label label-info">1. Английский язык</span></td>
                <td><span class="label label-info">1. Английский язык</span></td>
                <td><span class="label label-info">1. Английский язык</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">2. Белорусская литература</span></td>
                <td><span class="label label-info">2. Белорусская литература</span></td>
                <td><span class="label label-info">2. Белорусская литература</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">3. Белорусский язык</span></td>
                <td><span class="label label-info">3. Белорусский язык</span></td>
                <td><span class="label label-info">3. Белорусский язык</span></td>
            </tr>
            <tr>
                <td>4. История</td>
                <td>4. География</td>
                <td>4. Биология</td>
            </tr>
            <tr>
                <td><span class="label label-info">5. Математика</span></td>
                <td>5. Информатика</td>
                <td>5. Георгафия</td>
            </tr>
            <tr>
                <td><span class="label label-info">6. Русская литература</span></td>
                <td>6. История</td>
                <td>6. Информатика</td>
            </tr>
            <tr>
                <td><span class="label label-info">7. Математика</span></td>
                <td><span class="label label-info">7. Математика</span></td>
                <td>7. История</td>
            </tr>
            <tr>
                <td>8. Трудовое обучение</td>
                <td><span class="label label-info">8. Русская литература</span></td>
                <td><span class="label label-info">8. Математика</span></td>
            </tr>
            <tr>
                <td>9. Физическая культура</td>
                <td><span class="label label-info">9. Русский язык</span></td>
                <td><span class="label label-info">9. Русская литература</span></td>
            </tr>
            <tr>
                <td>10. Философия</td>
                <td>10. Трудовое обучение</td>
                <td><span class="label label-info">10. Русский язык</span></td>
            </tr>
            <tr>
                <td>11. Человек и мир</td>
                <td><span class="label label-info">11. Физика</span></td>
                <td>11. Трудовое обучение</td>
            </tr>
            <tr>
                <td></td>
                <td>12. Физическая культура</td>
                <td><span class="label label-info">12. Физика</span></td>
            </tr>
            <tr>
                <td></td>
                <td>13. Философия</td>
                <td>13. Физическая культура</td>
            </tr>
            <tr>
                <td></td>
                <td>14. Человек и мир</td>
                <td>14. Химия</td>
            </tr>
        </tbody>
    </table>

    <hr />

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>8 классы</th>
                <th>9 классы</th>
                <th>10 классы</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="label label-info">1. Английский язык</span></td>
                <td><span class="label label-info">1. Английский язык</span></td>
                <td><span class="label label-info">1. Английский язык</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">2. Белорусская литература</span></td>
                <td><span class="label label-info">2. Белорусская литература</span></td>
                <td><span class="label label-info">2. Белорусская литература</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">3. Белорусский язык</span></td>
                <td><span class="label label-info">3. Белорусский язык</span></td>
                <td><span class="label label-info">3. Белорусский язык</span></td>
            </tr>
            <tr>
                <td>4. Биология</td>
                <td><span class="label label-info">4. Биология – только для Б</span></td>
                <td><span class="label label-info">4. Биология – только для Б</span></td>
            </tr>
            <tr>
                <td>5. География</td>
                <td>5. География</td>
                <td>5. География</td>
            </tr>
            <tr>
                <td>6. Информатика</td>
                <td><span class="label label-info">6. Информатика – только для В,Г,Д</span></td>
                <td><span class="label label-info">6. Информатика – только для В,Г,Д</span></td>
            </tr>
            <tr>
                <td>7. История</td>
                <td><span class="label label-info">7. История – только для А</span></td>
                <td><span class="label label-info">7. История – только для А</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">8. Математика</span></td>
                <td><span class="label label-info">8. Математика</span></td>
                <td><span class="label label-info">8. Математика</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">9. Русская литература</span></td>
                <td>9. Обществоведение – только для А</td>
                <td>9. Медицинская (допризывная) подготовка</td>
            </tr>
            <tr>
                <td><span class="label label-info">10. Русский язык</span></td>
                <td><span class="label label-info">10. Русская литература</span></td>
                <td>10. Обществоведение – только для А</td>
            </tr>
            <tr>
                <td>11. Трудовое обучение</td>
                <td><span class="label label-info">11. Русский язык</span></td>
                <td><span class="label label-info">11. Русская литература</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">12. Физика</span></td>
                <td>12. Трудовое обучение</td>
                <td><span class="label label-info">12. Русский язык</span></td>
            </tr>
            <tr>
                <td>13. Физическая культура</td>
                <td><span class="label label-info">13. Физика – только для В,Г,Д</span></td>
                <td><span class="label label-info">13. Физика – только для В,Г,Д</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">14. Химия</span></td>
                <td>14. Физическая культура</td>
                <td>14. Физическая культура</td>
            </tr>
            <tr>
                <td></td>
                <td><span class="label label-info">15. Химия – только для Б</span></td>
                <td><span class="label label-info">15. Химия – только для Б</span></td>
            </tr>
        </tbody>
    </table>

    <hr />

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>11 классы</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="label label-info">1. Английский язык</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">2. Белорусская литература</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">3. Белорусский язык</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">4. Биология – только для Б</span></td>
            </tr>
            <tr>
                <td>5. География</td>
            </tr>
            <tr>
                <td><span class="label label-info">6. Информатика – только для В,Г,Д</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">7. История – только для А</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">8. Математика</span></td>
            </tr>
            <tr>
                <td>9. Медицинская (допризывная) подготовка</td>
            </tr>
            <tr>
                <td><span class="label label-info">10. Обществоведение – только для А</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">11. Русская литература</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">12. Русский язык</span></td>
            </tr>
            <tr>
                <td><span class="label label-info">13. Физика – только для В,Г,Д</span></td>
            </tr>
            <tr>
                <td>14. Физическая культура</td>
            </tr>
            <tr>
                <td><span class="label label-info">15. Химия – только для Б</span></td>
            </tr>
        </tbody>
    </table>
</div>
