﻿@{
    ViewBag.Title = "Новости";
}

@section banner
{
	<style>
		#banner {
			height: 200px;
			background: url(@Url.Content("~/Content/img/news.jpg")) center no-repeat;
		}
	</style>

   <div id="banner"> </div>
}

<div class="container">	
    <div id="text_area">
	    <div class="block text-justify">
            <div class="news_block">
                <br>
                @if (this.User.IsInRole("managers"))
                {   
                    <h3> <small>
                        <span style="padding-left: 40px" class="glyphicon glyphicon-plus"></span> 
                        @Html.ActionLink("Добавить новость", "News_Add", "Manager")
                    </small> </h3> <br>
                }

                @foreach (var news in ViewBag.News)
                {
                    <h3 class="block-title">
                        <small> @news.Date.ToString("dd MMMM") </small>
                        <div style="padding-left: 40px"> @Html.Raw(news.Title) </div>
                        @if (this.User.IsInRole("managers"))
                        {   
                            <small>  
                                <div style="padding-left: 40px" class="glyphicon glyphicon-pencil"></div> 
                                @Html.ActionLink("Редактировать", "News_Edit", "Manager", new { id = news.ID }, null)
                                <div style="padding-left: 40px" class="glyphicon glyphicon-remove"></div> 
                                @Html.ActionLink("Удалить новость", "News_Hide", "Manager", new { id = news.ID }, null)
                            </small>
                        }
                    </h3>
                    <p style="font-size: 18px"> @Html.Raw(news.Body) </p> <br>
                    
                }
                @*
                <h3 class="editable" id="news_0" data-type="text" data-pk="0" data-url="/Manager/Edit" data-name="/Home/News" data-title="Редактировать заголовок">
                    @ViewBag.Texts[0].Value
                </h3>
                @if (this.User.IsInRole("managers"))
                {   <a href="#" class="edit" data-toggle="#news_0"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
		        <p class="editable" id="news_1" data-type="textarea" data-pk="1" data-url="/Manager/Edit" data-name="/Home/News" data-title="Редактировать новость">
		            @ViewBag.Texts[1].Value
                </p>
                @if (this.User.IsInRole("managers"))
                {   <a href="#" class="edit" data-toggle="#news_1"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a>  }
                *@
            </div>
	    </div>        
    </div>
</div>

<div style="padding-top:40px;"></div>
