﻿@{
    ViewBag.Title = "Родителям";
}

@section banner
{
	<style>
		#banner {
			height: 200px;
			background: url(@Url.Content("~/Content/img/parents.jpg")) center no-repeat;
		}
	</style>

   <div id="banner"> </div>
}

<br>
<div class="container">			
	<div class="row">
		<div class="col-xs-9">
			<div id="text_area">
				<div class="block text-justify">
                    <h3 class="editable block-title" id="edit_0" data-type="text" data-pk="0" data-url="/Manager/Edit" data-name="/Home/Parent" data-title="Редактировать заголовок"> @Html.Raw(ViewBag.Texts[0].Value) </h3>
                    @if (this.User.IsInRole("managers"))
                    {   <a href="#" class="edit" data-toggle="#edit_0"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
		            <p class="editable" id="edit_1" data-type="textarea" data-pk="1" data-url="/Manager/Edit" data-name="/Home/Parent" data-title="Редактировать текст"> @Html.Raw(ViewBag.Texts[1].Value) </p>
                    @if (this.User.IsInRole("managers"))
                    {   <a href="#" class="edit" data-toggle="#edit_1"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a>  }
                
                    @*
					<h3 class="block-title">Родителям</h3>
					<p>Наверное, всем родителям знакомо чувство беспокойства: дошел ли ребенок до школы без приключений, почему не позвонил, как договаривались. А почему в положенное время не вернулся домой – задержался на классном часу или где-то гуляет?</p>
					<p>Даже если Вы пока еще провожаете и встречаете своего малыша – у Вас есть причина для беспокойства, в безопасности ли ребенок во время уроков и на переменах.</p>
					<p>Система «Безопасная школа» может отправлять Вам SMS-уведомления о времени прихода ребенка в школу и ухода из нее, защитит от опасности - не пустит в школу посторонних и кроме того, будет контролировать посещаемость – прогулы и опоздания.</p>
					<p>Электронная проходная с бесконтактными картами в качестве пропусков не пропустит посторонних на территорию школы. Подделать пропуск практически невозможно.</p>
					<p>Система не позволит дважды войти в учебное заведение по одной и той же карточке.</p>
					<p>В случае утери карточки ее можно исключить из списка разрешенных карт и пройти по ней в школу станет невозможно. Вместо потерянной карты ученику будет выдана новая (стоимость карты сопоставима со стоимостью ручки). Если ученик забыл дома свою карту-пропуск, охранник может пропустить его при помощи пульта дистанционного управления турникетом.</p>
					<p>Возможность установки электронных проходных и турникетов PERCo в учебных заведениях подтверждена заключением Противопожарной службы МЧС Республики Беларусь.</p>
					<p>Дополнительные возможности системы (видеоидентификация) позволяют предотвратить проход по чужой карте. При поднесении карты к табло на турникете на компьютере охранника отображается фотография ученика или сотрудника, которому была выдана эта карта. Можно сравнить это фото из базы данных и личность того, кто реально стоит у турникета.</p>
					<p>SMS-уведомление родителей</p>
					<p>Система «Безопасная школа» позволяет оперативно извещать родителей о времени прихода ребенка в школу и ухода из нее, а также о не приходе к первому по расписанию уроку. Система запоминает время прохода каждого ученика через турникет и автоматически отправляет родителям SMS-уведомления.</p>
					<p>Больше нет необходимости ждать сообщения от ребенка о том, что он без проблем дошел до школы.</p>
                    *@
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="sidebar">
				<div class="inner">
					<div class="block">
						<h3 class="block-title sub-title">
							<span><i class="glyphicon glyphicon-info-sign" style="padding-right: 10px;"></i>Информация:</span>
						</h3>
						<ul class="nav nav-list secondary-nav">
							@*<li>
								<a href="/Home/Contract"><i class="glyphicon glyphicon-chevron-right"></i>Форма договора</a>
							</li>*@
							<li>
								<a href="/Home/Pays"><i class="glyphicon glyphicon-chevron-right"></i>Схема оплаты</a>
							</li>
							<li>
								<a href="/Home/Calculate"><i class="glyphicon glyphicon-chevron-right"></i>Калькулятор ЕРИП</a>
							</li>
							<li>
								<a href="#"><i class="glyphicon glyphicon-chevron-right"></i>Посещаемость</a>
							</li>
							<li>
								<a href="#"><i class="glyphicon glyphicon-chevron-right"></i>Успеваемость</a>
							</li>
							<li>
								<a href="#"><i class="glyphicon glyphicon-chevron-right"></i>Домашние задания</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
