﻿@{
    ViewBag.Title = "Оплата";
}

@section banner
{
	<style>
		#banner {
			height: 200px;
			background: url(@Url.Content("~/Content/img/pays.jpg")) center no-repeat;
		}
	</style>

   <div id="banner"> </div>
}

<div class="container">
	<div class="row">
		<div class="col-xs-9">
			<div id="text_area">
				<div class="block text-justify">
                    <h3 class="editable" id="edit_0" data-type="text" data-pk="0" data-url="/Manager/Edit" data-name="/Home/Pays" data-title="Редактировать заголовок"> @Html.Raw(ViewBag.Texts[0].Value) </h3>
                    <hr>
                    
                    @if (this.User.IsInRole("managers"))
                    {   <a href="#" class="edit" data-toggle="#edit_0"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
		            <div class="editable" id="edit_1" data-type="textarea" data-pk="1" data-url="/Manager/Edit" data-name="/Home/Pays" data-title="Редактировать текст" data-escape="false"> @Html.Raw(ViewBag.Texts[1].Value) </div>
                    @if (this.User.IsInRole("managers"))
                    {   <a href="#" class="edit" data-toggle="#edit_1"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a>  }
                    
                     @*                             
					<h3>Процедура оплаты в системе WebPay</h3>
					<hr>
					<p>Оплату услуг при помощи банковской платежной карты Visa или MasterCard можно произвести через систему WebPay.</p>
					<p>Зарегистрированные пользователи могут добавлять выбранные услуги в корзину. После выбора подходящих услуг, кнопка "Оплатить" переадресовывает пользователя на сайт системы WebPay, где и происходит оплата с помощью банковской карты.</p>
					<p>После зачисления внесенных средств на счет, пользователю приходит SMS уведомление об успешном подключении услуги.</p>
					<p>В случае отказа от подключенной услуги, возврат денежных средств производится за каждый оплаченный вперед месяц, кроме текущего. (Таким образом, при подключении услуги на 1 месяц, возврат средств не производится). При этом деньги возвращаются на ту карту, с которой была произведена оплата.</p>
                    <p>Для отказа от услуги необходимо обратиться к менеджеру по одному из контактных телефонов.</p>
				    *@
                </div>
					<hr>
				<div class="block text-justify">
                    <h3 class="editable" id="edit_2" data-type="text" data-pk="2" data-url="/Manager/Edit" data-name="/Home/Pays" data-title="Редактировать заголовок"> @Html.Raw(ViewBag.Texts[2].Value) </h3>
                    <hr>
                    @if (this.User.IsInRole("managers"))
                    {   <a href="#" class="edit" data-toggle="#edit_2"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
		            <div class="editable" id="edit_3" data-type="textarea" data-pk="3" data-url="/Manager/Edit" data-name="/Home/Pays" data-title="Редактировать текст" data-escape="false"> @Html.Raw(ViewBag.Texts[3].Value) </div>
                    @if (this.User.IsInRole("managers"))
                    {   <a href="#" class="edit" data-toggle="#edit_3"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a>  }
                    @*                      
					<h3>Процедура оплаты в системе ЕРИП</h3>
					<hr>
					<p>Оплату услуг через отделение банка, инфокиоск или интернет-банкинг можно произвести через систему ЕРИП.</p>
					<p>При оплате выбирайте пункты меню в соответствии со схемой ниже. </p>
                    *@
					<hr>
					<h3>ЕРИП: схема оплаты</h3>
					<div class="tree" style="padding: 0px 150px;">
						<ul>
							<li>
								<a href="#">ЕРИП</a>
								<ul>
									<li>
										<a href="#">г.Витебск</a>
										<ul>
											<li>
												<a href="#">Образование и развитие</a>
												<ul>
													<li>
														<a href="#">Дополнительное образование и развитие</a>
														<ul>
															<li>
																<a href="#">АйДиСмарт</a>
																<ul>
																	<li>
																		<a href="#">SMS-информирование</a>
																		<ul>
																			<li style="padding: 0px 20px;">
																				<a href="#">Номер договора</a>
																				<ul>
																					<li style="padding: 0px 30px;">
																						<a href="#">Сумма</a>
																					</li>
																				</ul>
																			</li>
																		</ul>
																	</li>
																	<li>
																		<a href="#">Прочие услуги</a>
																		<ul>
																			<li style="padding: 0px 40px;">
																				<a href="#">ФИО</a>
																				<ul>
																					<li>
																						<a href="#">Назначение платежа</a>
																						<ul>
																							<li style="padding: 0px 20px;">
																								<a href="#">Номер телефона</a>
																						        <ul>
																							        <li>
																								        <a href="#">Сумма платежа</a>
																							        </li>
																						        </ul>
																							</li>
																						</ul>
																					</li>
																				</ul>
																			</li>
																		</ul>
																	</li>
																</ul>
															</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</div>

					<div class="clearfix"></div>
					<hr />
					<div class="alert alert-info" style="margin-top: 20px;">
						<h4>ВНИМАНИЕ!</h4>
						<p>Данные о назначении платежа, суммах и кодах, можно получить, произведя расчёты в <a href="/Home/Calculate">калькуляторе ЕРИП</a>, или позвонив по сервисному телефону.</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-xs-3">
			<div class="sidebar" style="padding-top: 40px;">
				<div class="inner">
					<div class="block">
						<h3 class="block-title sub-title">
							<span><i class="glyphicon glyphicon-info-sign" style="padding-right: 10px;"></i>Дополнительно:</span>
						</h3>
						<ul class="nav nav-list secondary-nav">
							<li>
								<a href="/Home/Contract"><i class="glyphicon glyphicon-chevron-right"></i>Форма договора</a>
							</li>
							<li>
								<a href="/Home/Calculate"><i class="glyphicon glyphicon-chevron-right"></i>Калькулятор ЕРИП</a>
							</li>
							<li>
								<a href="/Client/Cart"><i class="glyphicon glyphicon-chevron-right"></i>Оплата банковской картой</a>
							</li>
							<li>
								<a href="/Client/Index"><i class="glyphicon glyphicon-chevron-right"></i>Статистика оплаты</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
    @*<h3 class="block-title sub-title">ЕРИП: кодировки</h3>*@

    @*<div class="tabbable">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active">
                <a href="#tab1" data-toggle="tab">Кодировка символов</a>
            </li>
            <li>
                <a href="#tab2" data-toggle="tab">Коды операций</a>
            </li>
        </ul>
        <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
            <div class="tab-pane active pre-scrollable" id="tab1">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Номер</th>
                            <th>Гимназия / Школа</th>
                            <th>Буквы</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.List)
                        {
                            <tr>
                                <td>@item[0]</td>
                                <td>@item[1]</td>
                                <td>@item[2]</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane pre-scrollable" id="tab2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Код операции</th>
                            <th>Сумма</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0100</td>
                            <td>30 000</td>
                        </tr>
                        <tr class="info">
                            <td colspan="2">новая карта доступа НКД</td>
                        </tr>
                        <tr>
                            <td>0110</td>
                            <td>20 000</td>
                        </tr>
                        <tr class="info">
                            <td colspan="2">обновление карты доступа ОКД</td>
                        </tr>
                        <tr>
                            <td>0120</td>
                            <td>30 000</td>
                        </tr>
                        <tr class="info">
                            <td colspan="2">восстановление карты доступа ВКД</td>
                        </tr>
                        <tr>
                            <td>0130</td>
                            <td></td>
                        </tr>
                        <tr class="info">
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td>0140</td>
                            <td></td>
                        </tr>
                        <tr class="info">
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td>0150</td>
                            <td>50 000</td>
                        </tr>
                        <tr class="info">
                            <td colspan="2">аватарная карта доступа АКД</td>
                        </tr>
                        <tr>
                            <td>0160</td>
                            <td>10 000</td>
                        </tr>
                        <tr class="info">
                            <td colspan="2">новая наклейка НН</td>
                        </tr>
                        <tr>
                            <td>0170</td>
                            <td>25 000</td>
                        </tr>
                        <tr class="info">
                            <td colspan="2">услуги дизайнера УД</td>
                        </tr>
                        <tr>
                            <td>0180</td>
                            <td></td>
                        </tr>
                        <tr class="info">
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td>0190</td>
                            <td></td>
                        </tr>
                        <tr class="info">
                            <td colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@

