﻿@{
    ViewBag.Title = "Схема ЕРИП";
}

<div class="block">
    <h3 class="block-title">ЕРИП: схема оплаты</h3>
    
    <div class="tree">
        <ul>
            <li>
                <a href="#">ЕРИП</a>
                <ul>
                    <li>
                        <a href="#">г.Витебск</a>
                        <ul>
                            <li>
                                <a href="#">Образование и развитие</a>
                                <ul>
                                    <li>
                                        <a href="#">Дополнительное образование и развитие</a>
                                        <ul>
                                            <li>
                                                <a href="#">АйДиСмарт</a>
                                                <ul>
                                                    <li>
                                                        <a href="#">SMS-информирование</a>
                                                        <ul>
                                                            <li>
                                                                <a href="#">Номер договора</a>
                                                                <ul>
                                                                    <li>
                                                                        <a href="#">Сумма</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">Прочие услуги</a>
                                                        <ul>
                                                            <li>
                                                                <a href="#">Банк, Инткрнет-банк, Инфокиоск</a>
                                                                <ul>
                                                                    <li>
                                                                        <a href="#">ФИО</a>
                                                                        <ul>
                                                                            <li>
                                                                                <a href="#">Назначение платежа</a>
                                                                                <ul>
                                                                                    <li>
                                                                                        <a href="#">Сумма платежа</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    
    <div class="clearfix"></div>
    <div class="alert alert-info" style="margin-top: 20px;">
        <h4>ВНИМАНИЕ!</h4>
        <p>Данные о назначении платежа, суммам и кодам, можно получить, произведя расчёты в <a href="/Home/Calculate">калькуляторе сайта</a>.</p>
    </div>
    
    <h3 class="block-title sub-title">ЕРИП: кодировки</h3>

    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a href="#tab1" data-toggle="tab">Кодировка символов</a>
        </li>
        <li>
            <a href="#tab2" data-toggle="tab">Коды операций</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active pre-scrollable" id="tab1">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Гимназия / Школа</th>
                        <th>Буквы</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.List)
                    {
                        <tr>
                            <td>@item[0]</td>
                            <td>@item[1]</td>
                            <td>@item[2]</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane pre-scrollable" id="tab2">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Код операции</th>
                        <th>Сумма</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0100</td>
                        <td>30 000</td>
                    </tr>
                    <tr class="info">
                        <td colspan="2">новая карта доступа НКД</td>
                    </tr>
                    <tr>
                        <td>0110</td>
                        <td>20 000</td>
                    </tr>
                    <tr class="info">
                        <td colspan="2">обновление карты доступа ОКД</td>
                    </tr>
                    <tr>
                        <td>0120</td>
                        <td>30 000</td>
                    </tr>
                    <tr class="info">
                        <td colspan="2">восстановление карты доступа ВКД</td>
                    </tr>
                    <tr>
                        <td>0130</td>
                        <td></td>
                    </tr>
                    <tr class="info">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td>0140</td>
                        <td></td>
                    </tr>
                    <tr class="info">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td>0150</td>
                        <td>50 000</td>
                    </tr>
                    <tr class="info">
                        <td colspan="2">аватарная карта доступа АКД</td>
                    </tr>
                    <tr>
                        <td>0160</td>
                        <td>10 000</td>
                    </tr>
                    <tr class="info">
                        <td colspan="2">новая наклейка НН</td>
                    </tr>
                    <tr>
                        <td>0170</td>
                        <td>25 000</td>
                    </tr>
                    <tr class="info">
                        <td colspan="2">услуги дизайнера УД</td>
                    </tr>
                    <tr>
                        <td>0180</td>
                        <td></td>
                    </tr>
                    <tr class="info">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td>0190</td>
                        <td></td>
                    </tr>
                    <tr class="info">
                        <td colspan="2"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
