﻿@{
    ViewBag.Title = "Школам";
}

@section banner
{
	<style>
		#banner {
			height: 200px;
			background: url(@Url.Content("~/Content/img/school.jpg")) center no-repeat;
		}
	</style>

   <div id="banner"> </div>
}

<br>
<div class="container">			
	<div class="row">
		<div class="col-xs-9">
			<div id="text_area">
				<div class="block text-justify">
                    <h3 class="editable block-title" id="edit_0" data-type="text" data-pk="0" data-url="/Manager/Edit" data-name="/Home/Schools" data-title="Редактировать заголовок"> @Html.Raw(ViewBag.Texts[0].Value) </h3>
                    @if (this.User.IsInRole("managers"))
                    {   <a href="#" class="edit" data-toggle="#edit_0"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
		            <div class="editable" id="edit_1" data-type="textarea" data-pk="1" data-url="/Manager/Edit" data-name="/Home/Schools" data-title="Редактировать текст" data-escape="false"> @Html.Raw(ViewBag.Texts[1].Value) </div>
                    @if (this.User.IsInRole("managers"))
                    {   <a href="#" class="edit" data-toggle="#edit_1"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a>  }
                                                                                                                                                          
                    @*
					<h3 class="block-title">Школам</h3>
					<p>
						Комплекс «Безопасная школа» предназначен для повышения уровня защищенности учеников
						и помещений образовательных учреждений. Комплекс основан на системе автоматического
						контроля доступа в здание школы, позволяющей обеспечить защиту от несанкционированного
						проникновения в школу посторонних лиц с помощью индивидуальных бесконтактных карт
						доступа. Комплекс «Безопасная школа» — единственная система контроля и управления
						доступом для учебных заведений, полностью согласованная с МЧС.
					</p>
					<p>
						Установка и обслуживание оборудования осуществляется на бесплатной основе, как для школы,
						так и для родителей. Для подключения необходимо только согласие школы и желание родителей.
						Платной услугой является лишь ежегодная верификация карт доступа.
					</p>
					<p>
						В состав комплекса входят автоматические турникеты, ограждение с возможностью мгновенной
						организации открытого прохода (система «антипаника»), система контроля доступа,
						идентифицирующая карты доступа и управляющая турникетами, комплект карт доступа на всех
						учеников, учителей и работников школы (включающий комплект запасных карт).
					</p>
					<p>
						Комплекс «Безопасная школа» обеспечивает ограничение доступа посторонних в здание школы,
						контроль посещаемости школы учениками и сотрудниками с возможностью мониторинга и
						составления аналитических и статистических отчетов любой сложности и любого вида.
						По мере роста проекта будут реализованы такие ветви развития, как: школьный журнал,
						позволяющий более легко и комфортно контролировать процесс успеваемости в учреждении
						образования; прямая связь учителей и родителей посредством электронных средств в единой
						информационной среде; полная и своевременная информационная обеспеченность учеников по
						всем событиям, имеющим быть место в учреждении образования; интеграция контролирующих
						и курирующих государственных органов в единую информационную среду. Перспективное
						развитие комплекса ориентировано на полную компьютеризацию и информатизацию школ,
						создание информационной среды, пользователями которой будут являться как непосредственные
						участники процесса (школы, ученики, родители) так и опосредованные (субъекты системы
						образования и госструктуры).
					</p>
					<p>
						Комплекс «Безопасная школа» имеет ряд преимуществ перед системами контроля и управления
						доступом (СКУД) на основе сканеров отпечатков пальцев и является единственным решением,
						полностью соответствующим всем требованиям учебных заведений к системам контроля и
						управления доступом.
					</p>
					<p>На данный момент реализованы следующие формы отчётности:</p>
					<ul>
						<li>Ежедневная посещаемость учреждения образования учениками.</li>
						<li>Некорректное (частичное) пользование учениками электронными пропусками.</li>
						<li>Опоздания учеников на уроки.</li>
						<li>Прогулы уроков учениками.</li>
						<li>Посещаемость школы персоналом.</li>
						<li>Статистические и аналитические отчеты любой формы и сложности на основе вышеперечисленных.</li>
						<li>Отчеты по успеваемости как индивидуально, так и для групп (классы, потоки).</li>
						<li>Информирование учеников о домашних заданиях.</li>
					</ul>
					<p>В ближайшей перспективе будут реализованы:</p>
					<ul>
						<li>Информирование родителей о событиях в школьной жизни, имеющих к ним непосредственное отношение.</li>
						<li>Прямая взаимосвязь учителей и родителей в единой информационной среде (на основе сайта).</li>
					</ul>
                    *@
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="sidebar">
				<div class="inner">
					<div class="block">
						<h3 class="block-title sub-title">
							<span><i class="glyphicon glyphicon-info-sign" style="padding-right: 10px;"></i>Информация:</span>
						</h3>
						<ul class="nav nav-list secondary-nav">
							<li>
								<a href="#"><i class="glyphicon glyphicon-chevron-right"></i>Список школ</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
