﻿@{
    ViewBag.Title = "Услуги";
}

@section banner
{
	<style>
		#banner {
			height: 200px;
			background: url(@Url.Content("~/Content/img/services.jpg")) center no-repeat;
		}
	</style>

   <div id="banner"> </div>
}

<div class="container">
	<div class="row">
		<div class="col-xs-9">
			<div id="text_area">
				<h3 class="block text-center">Тарифы</h3>
				<hr>

				<div class="row" id="t1">
					<div class="col-xs-offset-1 col-xs-5">
						<div class="thumbnail price">
							<h3 class="editable block-title" id="edit_0" data-type="text" data-pk="0" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать заголовок"> @Html.Raw(ViewBag.Texts[0].Value) </h3>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_0"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<h4>
								<span>2,00 руб.</span>
								<span style="font-size: 12px; display: block;">в месяц</span>
							</h4>
							<hr>
							<p class="editable" id="edit_1" data-type="textarea" data-pk="1" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать текст"> @Html.Raw(ViewBag.Texts[1].Value) </p>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_1"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<hr>
							<button class="btn btn-large btn-primary btn-block">Добавить в корзину</button>
							<div class="alert alert-info text-center"><strong>тел: +375 (33) 624-18-26</strong></div>
						</div>
					</div>
					<div class="col-xs-offset-1 col-xs-5">
						<div class="thumbnail price">
							<h3 class="editable block-title" id="edit_2" data-type="text" data-pk="2" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать заголовок"> @Html.Raw(ViewBag.Texts[2].Value) </h3>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_2"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<h4>
								<span>3,00 руб.</span>
								<span style="font-size: 12px; display: block;">в месяц</span>
							</h4>
							<hr>
							<p class="editable" id="edit_3" data-type="textarea" data-pk="3" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать текст"> @Html.Raw(ViewBag.Texts[3].Value) </p>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_3"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<hr>
							<button class="btn btn-large btn-primary btn-block">Добавить в корзину</button>
							<div class="alert alert-info text-center"><strong>тел: +375 (33) 624-18-26</strong></div>
						</div>
					</div>
				</div>
					
                @*
				<div class="row" id="t3">
					<div class="col-xs-offset-1 col-xs-5">
						<div class="thumbnail price">
							<h3 class="editable block-title" id="edit_4" data-type="text" data-pk="4" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать заголовок"> @Html.Raw(ViewBag.Texts[4].Value) </h3>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_4"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<h4>
								<span>15 000 руб.</span>
								<span style="font-size: 12px; display: block;">в месяц</span>
							</h4>
							<hr>
							<p class="editable" id="edit_5" data-type="textarea" data-pk="5" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать текст"> @Html.Raw(ViewBag.Texts[5].Value) </p>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_5"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<hr>
							<button class="btn btn-large btn-primary btn-block">Добавить в корзину</button>
							<div class="alert alert-info text-center"><strong>тел: +375 (33) 624-18-26</strong></div>
						</div>
					</div>                    
					<div class="col-xs-offset-1 col-xs-5">
						<div class="thumbnail price">
							<h3 class="editable block-title" id="edit_8" data-type="text" data-pk="8" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать заголовок"> @Html.Raw(ViewBag.Texts[8].Value) </h3>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_8"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<h4>
								<span>35 000 руб.</span>
								<span style="font-size: 12px; display: block;">в месяц</span>
							</h4>
							<hr>
							<p class="editable" id="edit_9" data-type="textarea" data-pk="9" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать текст"> @Html.Raw(ViewBag.Texts[9].Value) </p>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_9"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<hr>
							<button class="btn btn-large btn-primary btn-block">Добавить в корзину</button>
							<div class="alert alert-info text-center"><strong>тел: +375 (33) 624-18-26</strong></div>
						</div>
					</div>
				</div>
                *@

				<div class="row" id="t4">
					<div class="col-xs-offset-1 col-xs-5">
						<div class="thumbnail price">
							<h3 class="editable block-title" id="edit_6" data-type="text" data-pk="6" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать заголовок"> @Html.Raw(ViewBag.Texts[6].Value) </h3>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_6"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<h4>
								<span> </span>
							</h4>
							<hr>
							<p class="editable" id="edit_7" data-type="textarea" data-pk="7" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать текст"> @Html.Raw(ViewBag.Texts[7].Value) </p>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_7"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<hr>
							<button class="btn btn-large btn-primary btn-block">Добавить в корзину</button>
							<div class="alert alert-info text-center"><strong>тел: +375 (33) 624-18-26</strong></div>
						</div>
					</div>
					<div class="col-xs-offset-1 col-xs-5">
						<div class="thumbnail price">
							<h3 class="editable block-title" id="edit_10" data-type="text" data-pk="10" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать заголовок"> @Html.Raw(ViewBag.Texts[10].Value) </h3>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_10"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<h4>
								<span>5,00 руб.</span>
								<span style="font-size: 12px; display: block;">в месяц</span>
							</h4>
							<hr>
							<p class="editable" id="edit_11" data-type="textarea" data-pk="11" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать текст"> @Html.Raw(ViewBag.Texts[11].Value) </p>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_11"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<hr>
							<button class="btn btn-large btn-primary btn-block">Добавить в корзину</button>
							<div class="alert alert-info text-center"><strong>тел: +375 (33) 624-18-26</strong></div>
						</div>
					</div>
				</div>
					
				<h3 id="t2" style="padding: 0px 200px;">Карты доступа</h3>
				<hr>
				<div class="row">
					<div class="col-xs-offset-1 col-xs-5">
						<div class="thumbnail price">
							<h3 class="editable block-title" id="edit_12" data-type="text" data-pk="12" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать заголовок"> @Html.Raw(ViewBag.Texts[12].Value) </h3>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_12"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<h4>
								<span>7,00 руб.</span>
							</h4>
							<hr>
							<p class="editable" id="edit_13" data-type="textarea" data-pk="13" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать текст"> @Html.Raw(ViewBag.Texts[13].Value) </p>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_13"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<hr>
							<button class="btn btn-large btn-primary btn-block">Добавить в корзину</button>
							<div class="alert alert-info text-center"><strong>тел: +375 (33) 624-18-26</strong></div>
						</div>
					</div>
					<div class="col-xs-offset-1 col-xs-5">
						<div class="thumbnail price">
							<h3 class="editable block-title" id="edit_14" data-type="text" data-pk="14" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать заголовок"> @Html.Raw(ViewBag.Texts[14].Value) </h3>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_14"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<h4>
								<span>3,50 руб.</span>
							</h4>
							<hr>
							<p class="editable" id="edit_15" data-type="textarea" data-pk="15" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать текст"> @Html.Raw(ViewBag.Texts[15].Value) </p>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_15"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<hr>
							<button class="btn btn-large btn-primary btn-block" disabled="disabled">Добавить в корзину</button>
							<div class="alert alert-info text-center"><strong>тел: +375 (33) 624-18-26</strong></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-offset-1 col-xs-5">
						<div class="thumbnail price">
							<h3 class="editable block-title" id="edit_16" data-type="text" data-pk="16" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать заголовок" style="font-size: 24px;"> @Html.Raw(ViewBag.Texts[16].Value) </h3>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_16"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<h4>
								<span>3,50 руб.</span>
							</h4>
							<hr>
							<p class="editable" id="edit_17" data-type="textarea" data-pk="17" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать текст"> @Html.Raw(ViewBag.Texts[17].Value) </p>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_17"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<hr>
							<button class="btn btn-large btn-primary btn-block">Добавить в корзину</button>
							<div class="alert alert-info text-center"><strong>тел: +375 (33) 624-18-26</strong></div>
						</div>
					</div>
					<div class="col-xs-offset-1 col-xs-5">
						<div class="thumbnail price">
							<h3 class="editable block-title" id="edit_18" data-type="text" data-pk="18" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать заголовок" style="font-size: 24px;"> @Html.Raw(ViewBag.Texts[18].Value) </h3>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_18"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<h4>
								<span>25,00 руб. </span>
							</h4>
							<hr>
							<p class="editable" id="edit_19" data-type="textarea" data-pk="19" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать текст"> @Html.Raw(ViewBag.Texts[19].Value) </p>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_19"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<hr>
							<button class="btn btn-large btn-primary btn-block" disabled="disabled">Добавить в корзину</button>
							<div class="alert alert-info text-center"><strong>тел: +375 (33) 624-18-26</strong></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-offset-1 col-xs-5">
						<div class="thumbnail price">
							<h3 class="editable block-title" id="edit_20" data-type="text" data-pk="20" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать заголовок" style="font-size: 24px;"> @Html.Raw(ViewBag.Texts[20].Value) </h3>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_20"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<h4>
								<span>1,50 руб.</span>
							</h4>
							<hr>
							<p class="editable" id="edit_21" data-type="textarea" data-pk="21" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать текст"> @Html.Raw(ViewBag.Texts[21].Value) </p>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_21"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<hr>
							<button class="btn btn-large btn-primary btn-block">Добавить в корзину</button>
							<div class="alert alert-info text-center"><strong>тел: +375 (33) 624-18-26</strong></div>
						</div>
					</div>
					<div class="col-xs-offset-1 col-xs-5">
						<div class="thumbnail price">
							<h3 class="editable block-title" id="edit_22" data-type="text" data-pk="22" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать заголовок" style="font-size: 24px;"> @Html.Raw(ViewBag.Texts[22].Value) </h3>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_22"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<h4>
								<span> </span>
							</h4>
							<hr>
							<p class="editable" id="edit_23" data-type="textarea" data-pk="23" data-url="/Manager/Edit" data-name="/Home/Services" data-title="Редактировать текст"> @Html.Raw(ViewBag.Texts[23].Value) </p>
                            @if (this.User.IsInRole("managers"))
                            {   <a href="#" class="edit" data-toggle="#edit_23"> <span class="glyphicon glyphicon-pencil"></span> Редактировать</a> }
							<hr>
							<button class="btn btn-large btn-primary btn-block" disabled="disabled">Добавить в корзину</button>
							<div class="alert alert-info text-center"><strong>тел: +375 (33) 624-18-26</strong></div>
						</div>
					</div>
				</div>
						
			</div>
		</div>

		<div class="col-xs-3">
			<div class="sidebar" style="padding-top: 40px;">
				<div class="inner">
					<div class="block">
						<h3 class="block-title sub-title">
							<span><i class="glyphicon glyphicon-info-sign" style="padding-right: 10px;"></i>Услуги:</span>
						</h3>
						<ul class="nav nav-list secondary-nav">
							<li>
								<a href="/Home/Services#t1"><i class="glyphicon glyphicon-chevron-right"></i>СМС оповещение</a>
							</li>
							<li>
								<a href="/Home/Services#t2"><i class="glyphicon glyphicon-chevron-right"></i>Карты доступа</a>
							</li>
							<li>
								<a href="/Home/Services#t4"><i class="glyphicon glyphicon-chevron-right"></i>Успеваемость</a>
							</li>
							<li>
								<a href="/Home/Services#t4"><i class="glyphicon glyphicon-chevron-right"></i>Домашние задания</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
