﻿@{
    ViewBag.Title = "Личный кабинет";
}

@section head
{
    @Styles.Render("~/Content/css/bootstrap-editable.css")
    @Scripts.Render("~/Content/js/bootstrap-editable.min.js")
}

<div class="container">
        <h3>@ViewBag.User</h3>
        <hr>
        @*
		<h4>
            <div class="col-xs-offset-1 col-xs-1"> @Html.ActionLink("Журнал", "Journal", "Manager") </div>
			<div class="col-xs-2"> @Html.ActionLink("Посещаемость 1", "Absence", "Manager") </div>
			<div class="col-xs-2"> @Html.ActionLink("Посещаемость 2", "Absence2", "Manager") </div>
			<div class="col-xs-2"> @Html.ActionLink("Посещаемость (сотрудники)", "Absence_stuff", "Manager") </div>
			<div class="col-xs-2"> @Html.ActionLink("Домашние задания", "Hometask", "Manager") </div>
		</h4>
        *@
        <p>
            <a class="btn btn-lg btn-success" role="button" href="/Operator/Journal"> Журнал </a>
            <a class="btn btn-lg btn-success" role="button" href="/Operator/Hometask"> Домашние задания </a>
            <a class="btn btn-lg btn-success" role="button" href="/Operator/Stats_absence_short"> Статистика</a>
            <a class="btn btn-lg btn-success" role="button" href="/Operator/Album"> Альбом </a>
            <a class="btn btn-lg btn-default disabled" role="button" href="/Operator/Sends"> Рассылка </a>
        </p>
        <p>
            <a class="btn btn-lg btn-success" role="button" href="/Manager/User_Add"> Добавить клиента </a>
            <a class="btn btn-lg btn-success" role="button" href="/Manager/Login_stats"> Статистика входов на сайт </a>
            @if (this.User.IsInRole("admins"))
            {   <a class="btn btn-lg btn-success" role="button" href="/Admin"> Управление пользователями </a>  }
        </p>
</div>


@section scripts
{

}
