﻿@*
@model List<WebSite.WebServiceReference.WSPay>
@{
    ViewBag.Title = "Статистика входов на сайт";
}
*@
<div class="container">	
    <div id="text_area">
        <div class="block text-justify">
            <h3>@ViewBag.Title</h3>
            <hr>

            @if (ViewBag.Flag != 1)
            {
                using (Html.BeginForm("Login_stats", "Manager", null, FormMethod.Post, new { @class = "form-horizontal", @id = "LoginLogsForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                
                    <div class="form-group">
                        <label class="control-label col-xs-1">Дата С:</label>
                        <div class="col-xs-2">
                            <div class="input-group date" id="datepicker1">
                                @Html.TextBox("date1", (string)ViewBag.Date1, new { @class = "form-control", @id = "Date1Select" })
                                <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                            </div>
                        </div>
                    
                        <label class="control-label col-xs-2">Дата по:</label>
                        <div class="col-xs-2">
                            <div class="input-group date" id="datepicker2">
                                @Html.TextBox("date2", (string)ViewBag.Date2, new { @class = "form-control", @id = "Date2Select" })
                                <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                            </div>
                        </div>
                        
                        <div class="col-xs-2">
                            <input type="submit" class="btn btn-primary" value="Сформировать отчет" />
                        </div>
                    </div>                
                }
                <br>
            }
            @if (ViewBag.Flag == 1)
            {
                using (Html.BeginForm("Login_stats", "Manager", null, FormMethod.Post, new { @class = "form-horizontal", @id = "LoginLogsForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                
                    <div class="form-group">
                        <label class="control-label col-xs-1">Дата С:</label>
                        <div class="col-xs-2">
                            <div class="input-group date" id="datepicker1">
                                @Html.TextBox("date1", (string)ViewBag.Date1, new { @class = "form-control", @id = "Date1Select" })
                                <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                            </div>
                        </div>
                    
                        <label class="control-label col-xs-2">Дата по:</label>
                        <div class="col-xs-2">
                            <div class="input-group date" id="datepicker2">
                                @Html.TextBox("date2", (string)ViewBag.Date2, new { @class = "form-control", @id = "Date2Select" })
                                <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                            </div>
                        </div>
                        
                        <div class="col-xs-2">
                            <input type="submit" class="btn btn-primary" value="Сформировать отчет" />
                        </div>
                        <div class="col-xs-2">
                            <input role="button" class="btn btn-default" id="printBtn" value="Распечатать" />
                        </div>
                    </div>                
                }
                <br>
                <h4> @ViewBag.Error </h4>
                
                if (ViewBag.Error == null)
                {
                    <div id="toPrint">
                        <h4 class="onlyPrint"> 
                            Статистика входов на сайт.
                            Дата с <span id="Date1Name"> </span> 
                            по <span id="Date2Name"> </span>
                        </h4>

                        <table id="ReportTable" class="table table-bordered tablesorter tableExport">
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Логин</th>
                                    <th>Дата</th>
                                </tr>
                            </thead>
                            <tbody>
                                    @foreach (var log in ViewBag.Logs)
                                    {
                                        <tr>  
                                            <td>@log.log_id</td>
                                            <td>@log.username</td>
                                            <td>@log.log_date</td>
                                        </tr>
                                    }
                            </tbody>
                        </table>   
                    </div>             
                }
            }
        </div>
    </div>
</div>
<div style="padding: 50px"> </div>


@section scripts
{
    @Scripts.Render("~/Content/js/moment.js")    
    @Scripts.Render("~/Content/js/moment.ru.js")    
    @Scripts.Render("~/Content/js/bootstrap-datetimepicker.min.js") 
    @Scripts.Render("~/Content/js/Blob.min.js")
    @Scripts.Render("~/Content/js/FileSaver.min.js") 
    @Scripts.Render("~/Content/js/xlsx.core.min.js")
    @Scripts.Render("~/Content/js/tableexport.min.js") 

    <script>
        $(function () {
            $('#datepicker1').datetimepicker({ pickTime: false });
            $('#datepicker2').datetimepicker({ pickTime: false });
        });

        $(document).ready(function () {
            $('#Date1Name').html('@ViewBag.Date1');
            $('#Date2Name').html('@ViewBag.Date2');

            $.validator.addMethod("IsDate", function (value, element) {
                return /^\d\d\.\d\d\.\d\d\d\d$/.test(value);
            }, "Введите дату в формате dd.mm.yyyy (например: 31.12.1999)");
            
            $("#HometaskForm").validate({
                rules: {
                    date1: { required: true, IsDate: true },
                    date2: { required: true, IsDate: true }
                },
                messages: {
                    date1: { required: "Введите дату" },
                    date1: { required: "Введите дату" }
                }
            });

            //$.fn.tableExport.charset = "charset=windows-1251";
            $.fn.tableExport.rowDel = "\r\n";

            $(".tableExport").tableExport({
                headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
                footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
                formats: ["xlsx", "xls", "csv", "txt"],     // (String[]), filetype(s) for the export
                fileName: "id",                     // (id, String), filename for the downloaded file
                bootstrap: true,                    // (Boolean), style buttons using bootstrap
                position: "bottom",                 // (top, bottom), position of the caption element relative to table
                ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
                ignoreCols: null,                   // (Number, Number[]), column indices to exclude from the exported file
                ignoreCSS: ".noExport",             // (selector, selector[]), selector(s) to exclude cells from the exported file
                emptyCSS: ".emptyExport"            // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
            });

        });

    </script>
}

