﻿@{
    ViewBag.Title = "Редактировать новость";
}

@section banner
{
	<style>
		#banner {
			height: 200px;
			background: url(@Url.Content("~/Content/img/news.jpg")) center no-repeat;
		}
	</style>

   <div id="banner"> </div>
}

<div class="container">	
    <div id="text_area">
	    <div class="block text-center">
            <h3>Редактировать новость</h3>
            <hr>            
            @using (Html.BeginForm("News_Edit", "Manager", null, FormMethod.Post, new { @class = "form-horizontal", @id = "NewsEditForm" }))   
                {                            
                    @Html.AntiForgeryToken()
					@Html.ValidationSummary(true)
                
         			<div class="form-group">
                        <label class="control-label col-xs-2">Дата:</label>
                        <div class="col-xs-2">
                            <div class="input-group date" id="datepicker">
                                @Html.TextBox("date", (string)ViewBag.News.Date.ToString("dd.MM.yyyy"), new { @class = "form-control", @id = "DateSelect" })
                                <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                            </div>
                        </div>
                    </div>
         			<div class="form-group">
						@Html.Label("Заголовок:", new { @class = "control-label col-xs-2" })
                        <div class="col-xs-8">
							@Html.TextBox("title", (string)ViewBag.News.Title, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						@Html.Label("Текст новости:", new { @class = "control-label col-xs-2" })
                        <div class="col-xs-8">
                            @Html.TextArea("body", (string)ViewBag.News.Body, new { @class = "form-control", rows = "5" })
                        </div>
					</div> 
                
                    <div class="form-group">
                        <input type="hidden" name="id" value="@ViewBag.News.ID"> 
						<div class="col-xs-offset-5 col-xs-2">
							<button type="submit" class="form-control btn btn-default">Сохранить</button>
						</div>
					</div>
                }                
	    </div>        
    </div>
</div>

<div style="padding-top:40px;"></div>

@section scripts
{
    @Scripts.Render("~/Content/js/moment.js")    
    @Scripts.Render("~/Content/js/moment.ru.js")    
    @Scripts.Render("~/Content/js/bootstrap-datetimepicker.min.js") 
    <script>
        $(function () {
            $('#datepicker').datetimepicker({ pickTime: false });
        });
    </script>
}