﻿@{
    ViewBag.Title = "Удалить новость";
}

@section banner
{
	<style>
		#banner {
			height: 200px;
			background: url(@Url.Content("~/Content/img/news.jpg")) center no-repeat;
		}
	</style>

   <div id="banner"> </div>
}

<div class="container">	
    <div id="text_area">
	    <div class="block text-justify">           
            <h3>
                <small> @ViewBag.News.Date.ToString("dd.MM.yyyy") </small>
                <span style="padding-left: 20px"> @Html.Raw(ViewBag.News.Title) </span> 
            </h3> <hr>
            <p style="font-size: 18px"> @Html.Raw(ViewBag.News.Body) </p> <br>        
            @using (Html.BeginForm("News_Delete", "Manager", null, FormMethod.Post, new { @class = "form-horizontal", @id = "NewsHideForm" }))   
                {                            
                    @Html.AntiForgeryToken()
					@Html.ValidationSummary(true)                
                    <div class="form-group">
                        @Html.Label("Вы действительно хотите удалить эту новость?", new { @class = "control-label col-xs-5" })
                        <input type="hidden" name="id" value="@ViewBag.News.ID"> 
						<div class="col-xs-2">
							<button type="submit" class="form-control btn btn-default">Удалить</button>
						</div>
					</div>
                }                
	    </div>        
    </div>
</div>

<div style="padding-top:40px;"></div>
