﻿@{
    ViewBag.Title = "Добавить клиента";
}
@*
@section banner
{
	<style>
		#banner {
			height: 200px;
			background: url(@Url.Content("~/Content/img/news.jpg")) center no-repeat;
		}
	</style>

   <div id="banner"> </div>
}
*@
<div class="container">	
    <div id="text_area">
	    <div class="block text-center">
            @if (ViewBag.Success != null)
            { 
                <h3>@ViewBag.Success</h3>
            }
            <h3>Добавить клиента</h3>
            <hr>            
            @using (Html.BeginForm("User_Add", "Manager", null, FormMethod.Post, new { @class = "form-horizontal", @id = "UserAddForm" }))   
                {                            
                    @Html.AntiForgeryToken()
					@Html.ValidationSummary(true)
                    
         			<div class="form-group">
						@Html.Label("Имя пользователя:", new { @class = "control-label col-xs-2" })
                        <div class="col-xs-8">
							@Html.TextBox("username", "", new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						@Html.Label("Пароль:", new { @class = "control-label col-xs-2" })
                        <div class="col-xs-8">
							@Html.TextBox("password", "", new { @class = "form-control" })
                        </div>
					</div> 
					<div class="form-group">
						@Html.Label("Фамилия:", new { @class = "control-label col-xs-2" })
                        <div class="col-xs-8">
							@Html.TextBox("fullname1", "Фамилия", new { @class = "form-control" })
                        </div>
					</div> 
					<div class="form-group">
						@Html.Label("Имя:", new { @class = "control-label col-xs-2" })
                        <div class="col-xs-8">
							@Html.TextBox("fullname2", "Имя", new { @class = "form-control" })
                        </div>
					</div> 
					<div class="form-group">
						@Html.Label("Отчество:", new { @class = "control-label col-xs-2" })
                        <div class="col-xs-8">
							@Html.TextBox("fullname3", "Отчество", new { @class = "form-control" })
                        </div>
					</div> 
         			<div class="form-group">
						@Html.Label("Идентификатор клиента:", new { @class = "control-label col-xs-2" })
                        <div class="col-xs-8">
							@Html.TextBox("client_id", "", new { @class = "form-control" })
						</div>
					</div>
                    <div class="form-group">
                        @Html.Label("Телефон:", new { @class = "control-label col-xs-2" })
                        <div class="col-xs-8">
                            <div class="input-group">
                                <div class="input-group-addon"> +375 </div>
                                @Html.TextBox("phone", "290000000", new { @class = "form-control"})
                            </div>
                        </div>
                    </div>
         			<div class="form-group">
						@Html.Label("E-mail:", new { @class = "control-label col-xs-2" })
                        <div class="col-xs-8">
							@Html.TextBox("email", "fake_mail@a.by", new { @class = "form-control" })
						</div>
					</div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Дата рождения:</label>
                        <div class="col-xs-2">
                            <div class="input-group date" id="datepicker">
                                @Html.TextBox("birthdate", "01.01.1900", new { @class = "form-control", @id = "birthdate" })
                                <div class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="form-group">
						<div class="col-xs-offset-5 col-xs-2">
							<button type="submit" class="form-control btn btn-default">Добавить</button>
						</div>
					</div>
                }                
	    </div>        
    </div>
</div>

<div style="padding-top:40px;"></div>

@section scripts
{
    @Scripts.Render("~/Content/js/moment.js")    
    @Scripts.Render("~/Content/js/moment.ru.js")    
    @Scripts.Render("~/Content/js/bootstrap-datetimepicker.min.js") 
    <script>
        $(function () {
            $('#datepicker').datetimepicker({ pickTime: false });
        });
        
        $(document).ready(function () {
            //$('#DateSelect').val( moment().format("DD.MM.YYYY") );

            @*$('#birthdate').val('@ViewBag.Birthdate');*@

            $.validator.addMethod("IsDate", function (value, element) {
                return /^\d\d\.\d\d\.\d\d\d\d$/.test(value);
            }, "Введите дату в формате dd.mm.yyyy (например: 31.12.1999)");

        });

        /*
        var now = new Date();
        var date_str = [AddZero(now.getDate()), AddZero(now.getMonth() + 1), now.getFullYear()].join(".");
        function AddZero(num)
        { return (num >= 0 && num < 10) ? "0" + num : num + ""; }
        $('#DateSelect').val(date_str);
        */
    </script>
}
