﻿@model IEnumerable<IGrouping<string, WebSite.WebServiceReference.WsDnevnik>>
@{
    int i = 1;
}

<div class="row">
    <div class="span8">
        <div class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn active">1-я четверть</button>
            <button type="button" class="btn">2-я четверть</button>
            <button type="button" class="btn">3-я четверть</button>
            <button type="button" class="btn">4-я четверть</button>
        </div>
    </div>
    <div class="span8">
        <span id="dateText">Hello</span>
    </div>
    <div class="span8">
        <div class="btn-group">
            <button type="button" class="btn" onclick="dnevnik.prev_week();">Prev</button>
            <button type="button" class="btn" onclick="dnevnik.next_week();">Next</button>
        </div>
    </div>
    <div class="span4">
        @foreach (var day in @Model)
        {
            i++;
            if (i % 2 != 0)
            {
                continue;
            }
            <table class="table table-striped table-bordered">
                <caption>@string.Format("{0} ({1})", day.Key, day.ToList()[0].Date.ToString("dd MMMM yyyy"))</caption>
                <thead>
                    <tr>
                        <th>Предмет</th>
                        <th>Задание</th>
                        <th>Оценка</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var val in day)
                    {
                        <tr style="font-size: 10px;">
                            <td>@val.Lesson.ShortName</td>
                            <td>@val.Task</td>
                            <td>@val.Ball</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    @{
        i = 1;
    }
    <div class="span4">
        @foreach (var day in @Model)
        {
            i++;
            if (i % 2 == 0)
            {
                continue;
            }
            <table class="table table-striped table-bordered">
                <caption>@string.Format("{0} ({1})", day.Key, day.ToList()[0].Date.ToString("dd MMMM yyyy"))</caption>
                <thead>
                    <tr>
                        <th>Предмет</th>
                        <th>Задание</th>
                        <th>Оценка</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var val in day)
                    {
                        <tr style="font-size: 10px;">
                            <td>@val.Lesson.ShortName</td>
                            <td>@val.Task</td>
                            <td>@val.Ball</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        dnevnik.curr_date = new Date();
        $("#dateText").text(dnevnik.curr_date);
    });

    var dnevnik = {
        curr_date: new Date(),

        next_week: function () {
            this.curr_date = moment(this.curr_date).add('w', 1);
            $("#dateText").text(this.curr_date);
        },
        prev_week: function () {
            this.curr_date = moment(this.curr_date).subtract('w', 1);
            $("#dateText").text(this.curr_date);
        }
    };
</script>
