﻿@model WebSite.WebServiceReference.WSUnit
@{
    ViewBag.Title = "Index";
}

<div class="block text-justify">
    <h3 class="block-title">@Model.Name</h3>
    <div class="row">
        <div class="span2">
            <img src="data:image/png;base64,@Convert.ToBase64String(Model.Boss.Image)"/>
        </div>
        <div class="span6">
            <span>Классный руководитель: @Html.ActionLink(Model.Boss.Name, "Index", "Teacher", new { id = Model.Boss.ID }, null)</span>
            <br />
            <span>Количество учеников: <strong>@Model.PupilsCount</strong></span>
            <hr />
            <span>Информация:</span>
            <p></p>
        </div>
    </div>

    <br />

    <div class="tabbable">
        <ul class="nav nav-tabs" id="tab">
            <li class="active">
                <a href="#tab1" data-toggle="tab">Ученики</a>
            </li>
            <li>
                <a href="#tab2" data-toggle="tab">Расписание</a>
            </li>
            <li>
                <a href="#tab3" data-toggle="tab">Журналы</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div>
                    <img src="@Url.Content("~/Content/img/loading.gif")"/>
                    <span>Loading ...</span>
                </div>
                <hr />
            </div>
            <div class="tab-pane" id="tab2">
                <div>
                    <img src="@Url.Content("~/Content/img/loading.gif")"/>
                    <span>Loading ...</span>
                </div>
                <hr />
            </div>
            <div class="tab-pane" id="tab3">
                <div>
                    <img src="@Url.Content("~/Content/img/loading.gif")"/>
                    <span>Loading ...</span>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var timetable = null;
        var journals = null;

        $(document).ready(function () {
            $('#tab1').load('/Unit/Pupils?id=@Model.ID');

        });

        $('a[data-toggle="tab"]').on('shown', function (e) {
            if (e.target.hash == '#tab2') {
                if (timetable == null)
                    $(e.target.hash).load('/Unit/Timetable?id=@Model.ID');
            }
            else if (e.target.hash == '#tab3') {
                if (journals == null)
                    $(e.target.hash).load('/Unit/Journals?id=@Model.ID');
            }
        });
    </script>
}
