﻿@using WebSite.WebServiceReference
@model List<WsLesson>
@{
    var list = new List<List<WsLesson>>();
    for (int i = 0; i < Model.Count; i += 4)
    {
        list.Add(Model.Skip(i).Take(4).ToList());
    }
}

<table style="width: 100%">
    <tbody>
        @foreach (var arr in list)
        {
            <tr>
                @foreach (var lesson in arr)
                {
                    <td>
                        <a href="#">@lesson.Name</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<hr/>