﻿@using WebSite.WebServiceReference
@model List<WSPupil>
@{
    var list = new List<List<WSPupil>>();
    for (int i = 0; i < Model.Count; i += 3)
    {
        list.Add(Model.Skip(i).Take(3).ToList());
    }
}

<table style="width: 100%">
    <tbody>
        @foreach (var arr3 in list)
        {
            <tr>
                @foreach (var pupil in arr3)
                {
                    <td>
                        <img src="data:image/png;base64,@Convert.ToBase64String(pupil.Image)" style="width: 35px;"/>
                        <span>
                            <strong>@pupil.LastName</strong>
                            <br/>
                            <span>@pupil.FirstName</span>
                        </span>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<hr/>
