﻿@model IEnumerable<IGrouping<string, WebSite.WebServiceReference.WsTimetable>>

<div class="row">
    @{
        int i = 1;
    }
    <div class="span4">
        @foreach (var day in @Model)
        {
            i++;
            if (i % 2 != 0)
            {
                continue;
            }
            <table class="table table-striped table-bordered">
                <caption>@day.Key</caption>
                <thead>
                    <tr>
                        <th>Время</th>
                        <th>Урок</th>
                        <th>Кабинет</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var val in day)
                    {
                        <tr style="font-size: 10px;">
                            <td>@val.NumLesson.Name</td>
                            <td>@val.Lesson.ShortName</td>
                            <td>-</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    @{
        i = 1;
    }
    <div class="span4">
        @foreach (var day in @Model)
        {
            i++;
            if (i % 2 == 0)
            {
                continue;
            }
            <table class="table table-striped table-bordered">
                <caption>@day.Key</caption>
                <thead>
                    <tr>
                        <th>Время</th>
                        <th>Урок</th>
                        <th>Кабинет</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var val in day)
                    {
                        <tr style="font-size: 10px;">
                            <td>@val.NumLesson.Name</td>
                            <td>@val.Lesson.ShortName</td>
                            <td>-</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
