.table tbody tr.ok > td {
    background-color: #33FF66;
}

.table tbody tr.end > td {
    background-color: #FF3E3E;
}

.table tbody tr.lastweek > td {
    background-color: #FFFF75;
}

.table tbody tr.info > td {
    background-color: #d9edf7;
}

.table-hover tbody tr.ok:hover > td {
    background-color: #339900;
}

.table-hover tbody tr.end:hover > td {
    background-color: #FF0000;
}

.table-hover tbody tr.lastweek:hover > td {
    background-color: #FFFF00;
}

.table-hover tbody tr.info:hover > td {
    background-color: #c4e3f3;
}

.input-vsmall {
    width: 8px;
}

.input-bsmall {
    width: 25px;
}